/*=E brandshop-nav*/ 
img {vertical-align:middle;}
a,a:visited {color:#757474;}
a:hover {color:#0657B2;}
.f14 {font-size:14px;}
.br1 {border-right:1px solid #e0e0e0;}
.bm1 {border-bottom:1px solid #e0e0e0;}
.bl1 {border-left:1px solid #e0e0e0;}
.bm0 {border-bottom:0;}
.w465 {width:465px;}
.w225 {width:225px;}
.h345 {height:345px;}
.h66 {height:66px;}
.wc {color:#fff;}
.bc {color:#4792af;}
.hdzt-mod {overflow:hidden;}
	.hdzt-mod .pic-style {padding-right:0;border:0;}
.hdzt-hd {padding-top:35px;height:83px;}
	.hdzt-hd h1 {margin-bottom:10px;font:400 30px/32px "Microsoft Yahei,Simhei";}
	.hdzt-hd .des {font:700 14px/16px "Arial";}
.message-nav {padding:0 15px;}
	.message-nav {height:45px;border-bottom:1px dashed #d0caca;color:#000;font-size:14px;overflow:hidden;}
	.message-nav h2,.message-nav ul,.message-nav li,.pic-huigu-list li,.pic-list-item li {display:inline;float:left;}
	.message-nav h2,.message-nav li {font-weight:400;height:45px;line-height:45px;}
	.message-nav li {margin-right:10px;}
	.message-nav a,.message-nav a:visited {color:#000;} 
	.message-nav a:hover {color:#0657B2;}
	.user-share,.message-nav p {display:inline;float:right;line-height:45px;}
	.user-share a {display:inline;float:left;margin:14px 10px 14px 0;width:17px;height:17px;line-height:17px;text-indent:-999em;background:url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/icon.png) no-repeat;overflow:hidden;}
	.user-share .share-sina {background-position:right -60px;}
	.user-share .share-qq {background-position:right 1px;}
	.user-share .share-qzone {background-position:right -29px;}
	.user-share .share-renren {background-position:-151px 1px;}
.pic-wrap {padding:15px;margin-bottom:20px;}
	.zt-block {color:#757474;border-bottom:1px solid #e0e0e0;font-family:"Microsoft Yahei";}	
		.zt-block .bm0 {border-bottom:0;}
.pic-mod {padding:8px 8px 0 0;overflow:hidden;}
	.pic-mod h3 {font-weight:400;font-size:36px;line-height:36px;}
.pic-bd,.hdzt-pic-list li,.pic-huigu-list li,.pic-list-item li {position:relative;overflow:hidden;}
	.pic-bd a,.pic-bd a:visited {color:#fff;}
	.pic-bd a:hover,.hdzt-pic-list  a:hover  {text-decoration:none;}
	.pic-bd span,.pic-bd em,.hdzt-pic-list span,.pic-huigu-list span,.pic-huigu-list em,.pic-list-item span,.pic-list-item em {position:absolute;bottom:0;cursor:pointer;height:40px;line-height:40px;font-size:24px;}
	.pic-bd span,.pic-bd em,.pic-huigu-list span,.pic-huigu-list em,.pic-list-item span,.pic-list-item em {left:0;}
	.pic-bd span,.hdzt-pic-list span,.pic-huigu-list span,.big-pic .prompt span,.pic-list-item span {opacity:0.4;filter:alpha(opacity=40);background:#000;}
	.pic-bd em,.hdzt-pic-list span,.pic-huigu-list em,.big-pic .prompt em,.pic-list-item em {padding:0 10px;font-family:Microsoft Yahei,Simhei;color:#fff;overflow:hidden;}
	.sc,.pl,.fx {position:absolute;top:10px;right:115px;width:40px;height:40px;text-align:center;opacity:0.4;filter:alpha(opacity=40);background:#000;}
	.sc:hover,.pl:hover,.fx:hover {text-decoration:none;}
	.sc i,.pl i,.fx i {display:block;margin:3px auto;width:20px;height:17px;background:url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/icon.png) 1px 0px no-repeat;}		
	.pl i {background-position:-34px 0;}
	.fx i {background-position:-67px 0;}
	.pl {right:65px;background-position:-45px 0}
	.fx {right:15px;background-position:-90px 0}
.user-fx {margin-top:10px;color:#8c8c8c;}
	.user-fx a,.hot p a,.user-fx a:visited,.hot p a:visited {color:#8c8c8c;}
	.user-fx a:hover,.hot p a:hover {color:#0657B2;}
	.pic-ft p,.pic-text p {margin-top:5px;font:400 14px/22px "Microsoft Yahei";}
	.pic-ft em {margin:0 3px;color:#afbd5b;font-size:24px;font-family:"Microsoft Yahei"}
	.pic-ft .num {height:33px;text-align: right;}
	.hdzt-pic-list li {width:223px;padding:8px 0 5px 8px ;border-bottom:1px solid #e0e0e0;}
	.hdzt-pic-list span {right:8px;bottom:18px;opacity:0.6;filter:alpha(opacity=60);background:#000;}
	.pl-left li {padding-right:10px;border-right:1px solid #e0e0e0;}
	.pl-left span{right:16px;}
.hdzt-pic-list2 li{height:248px;}	
.pic-bb	{border-bottom:1px solid #e0e0e0}
	.pic2 {width:225px;height:489px;}
		.pic2 .pic-bd {width:225px;height:375px;}
		.pic2 .pic-bd span {width:225px;}
	.pic3 {padding-left:8px;width:465px;height:489px;}	
		.pic3 .pic-bd {width:465px;height:355px;}
		.pic3 .pic-bd span {width:465px;}
	.pic4 {width:225px;height:240px;padding-left:8px;padding-right:0;border:0;}
		.pic4 .pic-bd {width:225px;height:180px;}
		.pic4 .pic-bd span {width:225px;}
	.pic5 {float:left;width:465px;height:240px;padding-left:8px;}
		.pic5 .pic-bd {margin-right:15px;width:225px;height:225px;}
		.pic5 .pic-bd span {width:225px;}
		.pic5 .pic-ft {width:210px;}		
	.pic6 {width:467px;height:489px;padding-right:0;border-right:0;}	
		.pic6 .pic-bd {width:465px;height:375px;}
		.pic6 .pic-bd span {width:465px;}	
		.pic6 h3 {margin-top:8px;}	
	.pic-item {width:484px;height:497px;}
	.pic-item li {overflow:hidden;}
		.pic-item .pic4 {padding-right:7px;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.pic-text h3 {height:60px;font:400 30px/60px Microsoft Yahei,Simhei}
.pic-text p {margin-bottom:25px;}
.pic-pd  .pic4{padding: 8px 8px 0 0;}
.pic-pd .pic2 {border-left:1px solid #e0e0e0;padding-left:8px;}	
.pic-pd6 .pic6 {padding: 8px 8px 0 0;border-right: 1px solid #E0E0E0;}
.pic-pd6 .pic2 {padding-left:8px;padding-right:0;border:0;border-left:1px solid #E0E0E0; }
.hdzt-ft {margin:0 auto;width:965px;background:#fff;}
.pic-huigu-mod,.pic-list-mod {padding-left:15px;margin-top:20px;}
.pic-huigu-hd h3,.pic-list-hd h3 {width:952px;height:50px;color:#95a14c;font:400 24px/50px Microsoft Yahei,Simhei;border-bottom:1px solid #e0e0e0;}
.pic-huigu-bd,.pic-list-bd {padding:10px 0;}		
.pic-huigu-list,.pic-list-item {width:965px;overflow:hidden;}
.pic-huigu-list li,.pic-list-item li {margin:0 13px 30px 0; }	
.pic-huigu-list span,.pic-list-item span {width:180px;}

	
/*ÌðÆ·*/
.tianpin .message-nav h2 {font-weight:700;}
/* Â¿ÓÑ*/
.zt-travel .hdzt-hd  {color:#fff;}
.zt-travel .hdzt-hd h1 {font-weight:700;}
.zt-travel .pic-mod {padding:6px 6px 0 0;}
.zt-travel .pl6 {padding-left:6px;}
.block {font-family:Microsoft Yahei,Simsun;}
.block-hd,.block-bd {position:relative;padding-left: 15px;background:#fff;}
.block-ft {height:5px;background:url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/bg_block.png) no-repeat;overflow:hidden;}
.big-pic {position:relative;padding:15px 0 10px 0;width:625px;height:355px;}
	.big-pic .prompt span,.big-pic .prompt em {position:absolute;left:0;top:15px;width:40px;height:200px;}
	.big-pic .prompt em {margin-top:10px;width:20px;font-size:21px;line-height:24px;}
	.big-pic a:hover em{text-decoration:none;}
.big-pic-text {margin-top:20px;width:285px;margin-right:25px;}
.big-pic-text h2 {height:30px;text-align:center;font:400 28px/30px Microsoft Yahei,Simhei;overflow:hidden;}
.big-pic-text p {margin-top:15px;line-height:23px;font-size:14px;color:#666;overflow:hidden;}
.big-pic-text p.dec {height:161px;}
.big-pic-text a:hover p {color:#0657B2;}
.big-pic-text .btn,.hot .btn {margin-top:20px;overflow:hidden;zoom:1;}
.big-pic-text .btn a,.hot .btn a {float:left;margin-left:10px;width:100px;height:34px;text-indent:-999em;background:url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/icon.png) no-repeat 0 0;overflow:hidden;}
.big-pic-text .btn .gl-btn {background-position:0 -127px; }
.big-pic-text .btn .yh-btn {background-position:0 -91px; }
.hot .btn {margin-top:15px;}
.hot .btn a {margin-left:2px;width:81px;height:27px;}
.hot .btn .gl-btn {background-position:right -91px;}
.hot .btn .yh-btn {background-position:right -120px; }
.pic-list-mod li {width:180px;}
.pic-list-mod .po {position:relative;width:180px;height:180px;}
	.pic-list-mod  p {margin-top:10px;color:#8c8c8c;}
.pic-list-mod .pic-mod {padding-bottom:6px;}
.pic-list-mod .pm15 {padding-bottom:15px;}
.pic-list-mod {padding:0;}
.pic-list-mod .block-bd {overflow:hidden;}
.pic-list-mod .pic-list-item {position:relative;margin:-1px 0 0 -4px;border-top:1px solid #e8e8e8}
.pic-list-item li {margin:0 0 0 -1px;padding:8px 7px 30px 6px;border-left:1px solid #e8e8e8}
.po a:hover em {text-decoration:none;}
.w180 {width:180px;}
	.w180 img,.w180 .pic-bd {width:180px;height:250px;}
	.w180 .pic-ft p {height:151px;overflow:hidden;}
.w180a {width:180px;height:220px;}
	.w180a img,.w180a .pic-bd {width:180px;height:180px;}
	
.w384 {width:379px;overflow:hidden;zoom:1;}
	.w384 img,.w384 .pic-bd {width:180px;height:220px;}
	.w384 .pic-bd {margin-left:6px;}
	.w384 .pic-ft {margin-left:17px;width:173px;}
	.w384 .pic-ft p {height:154px;overflow:hidden;}
/* Â¿ÓÑ*/ 
/*=S slideplay */
.slide {position:relative;width:615px;height:355px;overflow:hidden;}
	.slide-player {position:absolute;left:0;height:355px;}
	.slide-player li,.slide-player li img  {float:left;width:615px;height:355px;}
	
	.slide .slide-btn {position:absolute;right:0;bottom:5px;padding:5px 5px 5px 10px;}
	.slide .slide-btn span {display:inline-block;margin-left:2px;padding:5px;width:107px;height:60px;background:#fff;cursor:pointer;}
	.slide .slide-btn img {width:107px;height:60px;}
	.slide-btn .top {position:absolute;right:5px;bottom:80px;}
/*=E slideplay */

/*=S pic-lists */
.pic-lists {margin-right:14px;padding-bottom:5px;border-bottom:1px solid #E0E0E0;overflow:hidden;zoom:1;}
.pic-lists h4 {position:relative;margin:15px 0 15px 10px;padding:5px;font:700 16px/16px "Microsoft Yahei,Simhei";color:#ff6000;background:#fef3f5; }
.pic-lists h4 span {position:absolute;left:-5px;top:-1px;display:block;width:0;height:0;line-height:0;border-width:15px 8px 15px 0;border-style:solid;border-color:#fff #fef3f5 #fff #fef3f5; }
.pic-lists a,.pic-lists a:visited {position:relative;display:inline;float:left;margin:0 7px 10px 3px;width:180px;height:110px;color:#fff;font-size:14px;overflow:hidden;}
.pic-lists a:hover {text-decoration:none;}
.pic-lists img {width:180px;height:110px;}
.pic-lists a span,.pic-lists a em {position:absolute;height:20px;line-height:20px;display:block;left:0;bottom:0;width:100%;text-align:center;}

/*=E pic-lists */ 

.topic-wrapper{background:#140F13 url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/bg_body_yexiao.jpg) center top no-repeat;}
.J_share{margin:0 auto 20px;width:950px;background:#fff;}

/*=S 9.25ÅÅ°æ±ä»¯ */
.fourRows .pic2{width:228px;}
.fourRows .pic-ft,.threeRows .pic-ft{ padding-left:5px;}
/*=E 9.25ÅÅ°æ±ä»¯ */




