/*=S HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]) {display:none;}
[hidden] {display:none;}
/*=E HTML5 */

/*=S 初始 */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td {margin:0;padding:0;}
body {background-color:#FFF;}
body,textarea {font:400 12px/1.5 Simsun,Arial;color:#333;}
a,a:visited {text-decoration:none;color:#333;cursor:pointer;}
a:hover {text-decoration:underline;color:#0657B2;}
em,i {font-style:normal;}
h1,h2,h3,h4,h5,h6,strong {font-weight:700;font-size:100%;}
label, input, select {vertical-align:middle;}
img, button {background:none;border:0 none;vertical-align:middle;}
ol,ul {list-style:none;}
table,th,td,fieldset,legend {font-weight:400;border:0 none;border-collapse:collapse}
pre {white-space:pre-wrap;}
/*=E 初始 */

/*=S 文字 */
.layout {margin:0 auto;width:980px;}
.color1 {color:#334F67;} /* 深蓝 */
.color2 {color:#8CA226;} /* 绿色 */
.color3 {color:#FC6D02;} /* 橙色 */
.color6 {color:#666;} /* 灰色 */
.color9 {color:#999;} /* 浅灰 */
.placeholder {color:#999 !important;} /* 输入框默认颜色 */
:-moz-placeholder {color:#999 !important;}
::-webkit-input-placeholder {color:#999 !important;} 
.yahei {font:700 16px/1.5 "Microsoft YaHei";}
.arial {font-family:Arial;}
.f12 {font-size:12px;}
.f14 {font-size:14px;}
.f16 {font-size:16px;}
.fb {font-weight:700;}
.fl {float:left;}
.fr {float:right;}
/*=E 文字 */

/*=S 链接 */
.link0 a, .link0 a:visited {color:#0657B2;} /* 蓝色 -> 橙色 */
.link0 a:hover {color:#FC6D02;}
.link1 a, .link1 a:visited, .link1 a:hover {color:#334F67;} /* 深蓝 -> 深蓝 */
.link2 a, .link2 a:visited, .link2 a:hover {color:#8CA226;} /* 绿色 -> 绿色 */
.link3 a, .link3 a:visited {color:#FC6D02;} /* 橙色 -> 蓝色 */
.link3 a:hover {color:#0657B2;}
.link6 a, .link6 a:visited {color:#666;} /* 灰色 -> 灰色 */
.link6 a:hover {color:#0657B2;}
.link9 a, .link9 a:visited {color:#999;} /* 浅灰 -> 浅灰 */
.link9 a:hover {color:#0657B2;}
/*=E 链接 */

.pipe {
    color: #D5D5D5;
    font-style: normal;
    padding: 0 5px;
}


/*=S hd-nav*/
.hd-nav{*position:relative;top:0;left:0;width:100%;height:40px;box-shadow:0px 2px 2px #333;font:400 20px/40px "microsoft yahei";color:#fff;background:url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/bg_repeat.png) 0 -40px repeat;z-index:99;}
	.hd-nav .fl{height:40px;overflow:hidden;}
	.hd-nav .fl a,.hd-nav .fl a:visited,.hd-nav .fl  span{*float:left;display:inline-block;padding:0 10px;height:40px;color:#fff;text-decoration:none;overflow:hidden;vertical-align:top;}
	.hd-nav .fl  span{color:#fff;background:url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/bg_repeat.png) repeat;} 
	.hd-nav .fl img{float:left;display:block;height:40px;vertical-algin:top;}
	.hd-nav .hd-search{float:right;position:relative;display:inline-block;margin:5px 0;width:210px;height:30px;}
	.hd-search .emptyhint {line-height:28px;}
		.hd-search input{position:absolute;top:2px;right:10px;width:190px;height:20px;line-height:20px;}
		.hd-search  a.search,.hd-search  a.search:visited{position:absolute;display:inline-block;padding:0;top:4px;right:15px;width:25px;height:25px;border-radius:3px;text-indent:-99999px;background:url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/hdicon.png) right -404px no-repeat;}
	.hd-nav .hd-cont{position:relative;display:inline-block;margin-right:10px;height:40px;font:400 12px/40px Simsun;}
		.hd-cont a,.hd-cont a:visited,.hd-cont span{display:inline-block;margin:0 5px;color:#fff;}
		.hd-cont  i{padding-left:5px;color:#D43131;}
		.hd-cont p{float:left;display:inline-block;width:170px;height:40px;line-height:12px;}
			.hd-cont p  a,.hd-cont p a:visited{display:inline;}
		.hd-cont span{float:left;margin:0;}
		.hd-cont strong{font:700 20px/40px "microsoft yahei";}
	.hd-nav a:hover{color:#D43131;}
	.hd-nav .brandTop{display:none;}
	.hd-cont .hover{z-index:20;}
		.hover a,.hover a:visited{color:#333;}
		.hd-navTop #logout,.defaultTop #logout{padding-left:55px;}
		.user-msg{position:absolute;top:0;right:55px;}
			.user-msg dt{position:relative;margin-top:10px;width:50px;height:30px;line-height:20px;}
			.hover dt{border-width:1px 1px medium;border-style:solid;border-color:#CDCDCD #CDCDCD #FFFFFF #FFFFFF;border-radius:4px 4px 0 0;background-color:#fff;}
				.user-msg #userMessage{margin-left:5px;}
				.user-msg #num{position:absolute;top:-5px;right:-10px;padding:0 3px;font:400 12px/12px Simsun;color:#fff;border-radius:8px;background-color:#AF1111;}
				.hover #num{top:-6px;right:-11px;}
				.hover dt span{color:#666;}
				.user-msg .icon{position:absolute;top:8px;right:6px;display:block;width:8px;height:5px;background:url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/hdicon.png) -167px -759px; no-repeat;}
				.hover .icon{background-position:-167px -766px;}
			.user-msg dd{display:none;position:absolute;top:40px;right:0;width:110px;background:#fff;}
			.hover dd{display:block;border-width:1px 1px medium;border-style:solid;border-color:#fff #CDCDCD #CDCDCD #CDCDCD;border-radius:0 0 4px 4px;box-shadow:0 2px 3px #DDDDDD;}
			.user-msg li{position:relative;padding:0 10px;width:90px;height:40px;font:400 12px/40px Simsun;overflow:hidden;}
			.user-msg li:hover{background-color:#EDEDED;}
				.user-msg li a,.user-msg li a:visited{margin:0;padding-left:25px;text-decoration:none;}
				.user-msg li .icon{position:absolute;top:10px;left:10px;display:block;width:18px;height:18px;background:url(http://static.19louimg.cn/ui/theme12/0612hdzt/images/hdicon.png) -154px -786px no-repeat;}
					.user-msg li.sx .icon{background-position:-160px -782px;}
					.user-msg li.tx .icon{background-position:-160px -816px;}
				.user-msg li em{margin-left:5px;padding:0 5px;border-radius:5px;color:#fff;background-color:#af1111;}
			
/*=E hd-nav*/

/*=S footer */
.footer {margin: 0 auto ;padding: 0 0 20px;line-height:20px;text-align: center;color:#666;border-top: 1px solid #DBDBDB;clear:both;background:#F3F3F3;	}
.footer a,.footer a:visited {color:#666}
.footer p { margin-bottom: 10px;}
.foot-logo img {border: 1px solid #DBDBDB;}
.footer div.footer-bar {margin-bottom:8px;height:8px;background:-moz-linear-gradient(center top , #E6E6E6, #F3F3F3) repeat scroll 0 0 transparent;overflow: hidden;   }
.footer-link {margin: 0 auto;width:980px;text-align:center;   }
.footer-link div {text-align: left;}
.footer-link div a {display:inline-block;padding:0 3px;border-radius:3px 3px 3px 3px;}
.footer-link div a:hover {color: #FFFFFF;text-decoration: none;background: none repeat scroll 0 0 #808080;}
.foot-home {margin-right: 15px;}
.foot-home img {margin: 5px 0 0 65px;}
.footer .pipe {padding: 0 1px;}	
.pipe {padding: 0 5px;color: #D5D5D5;font-style: normal;}	
/*=E footer */
