<!--{template common/header}-->
<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_forum_forumdisplay.css?{VERHASH}" />
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z"><a href="./" class="nvhm" title="{lang home}">$_G[setting][bbname]</a><em>&raquo;</em><a href="plugin.php?id=yiqixueba">联盟商家</a><em>&raquo;</em>增加商品</div>
	</div>
</div>
<div class="wp">
<div id="ct" class="ct2 wp cl">
	<div class="mn">
		<div class="bm bml" id="main_messaqge">
			<div class="bm_h cl"><h1 class="xs2">增加商品</h1></div>
			<div class="bm_c">
				<form method="post" enctype="multipart/form-data" autocomplete="off" name="addgoodsform" id="addshopform" class="s_clear"  action="plugin.php?id=yiqixueba&submod=addshop">
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<input type="hidden" name="referer" value="{echo dreferer()}" />
				<input type="hidden" name="handlekey" value="addshop" />
				<table cellspacing="0" cellpadding="0" class="tfm" summary="增加商品">
						<tbody>
							<tr>
								<th><strong class="rq y">*</strong>商品名称:</th>
								<td>
									<!--{if $shopid}--><input type="hidden" name="shopid" value="{$shopid}"><!--{/if}-->
									<input type="text" name="shopname" id="chanpinkuname" class="px" size="36" tabindex="1" autocomplete="off" tabindex="1" value="{$goods_info[chanpinkuname]}" />
									<span id="chanpinkunamecheck" class="xi1"></span>
								</td>
							</tr>
							<tr>
								<th><strong class="rq y">*</strong>商品封面图片</th>
								<td><input type="file" name="logo" id="logo" class="pf" size="46" /><p class="d"></p>
								</td>
							</tr>
							<tr>
								<th><strong class="rq y">*</strong>所属分类</th>
								<td>{$sortupid_select}
								</td>
							</tr>
							<tr>
								<th><strong class="rq y">*</strong>商品价格</th>
								<td><input type="text" name="pice" id="pice" class="px" size="36" autocomplete="off" value="{$goods_info[pice]}" />
								</td>
							</tr>
							<tr>
								<th>商品简介</th>
								<td><textarea name="goodsintroduction" rows="10" cols="50">{$goods_info[goodsintroduction]}</textarea>
								</td>
							</tr>
							<tr>
								<th>视频地址</th>
								<td><input type="text" name="goodsvideo" id="goodsvideo" class="px" size="36" autocomplete="off" value="{$goods_info[shopvideo]}" />
								</td>
							</tr>
							<tr>
								<td colspan="2">商品详情:</td>
							</tr>
							<tr>
								<td colspan="2">
									<script src="source/plugin/yiqixueba/template/kindeditor/kindeditor.js" type="text/javascript"></script>
									<link rel="stylesheet" href="source/plugin/yiqixueba/template/kindeditor/themes/default/default.css" />
									<link rel="stylesheet" href="source/plugin/yiqixueba/template/kindeditor/plugins/code/prettify.css" />
									<script src="source/plugin/yiqixueba/template/kindeditor/lang/zh_CN.js" type="text/javascript"></script>
									<script src="source/plugin/yiqixueba/template/kindeditor/prettify.js" type="text/javascript"></script>
									
								<textarea name="goodsinformation" style="width:520px;height:400px;visibility:hidden;">{$goods_info[goodsinformation]}</textarea>
								</td>
							</tr>
							<tr>
								<th>&nbsp;</th>
								<td>
									<input type="hidden" name="submit" value="true"><button type="submit" class="pn pnc" tabindex="6"><strong>增加</strong></button>
								</td>
							</tr>

						
						
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>

	<div class="sd">
		<div class="bm_h"><h2>增加商品</h2></div>
	</div>

</div>
</div>
<script>
	KindEditor.ready(function(K) {
		var editor1 = K.create('textarea[name="goodsinformation"]', {
			cssPath : 'source/plugin/yiqixueba/template/kindeditor/plugins/code/prettify.css',
			uploadJson : 'source/plugin/yiqixueba/template/kindeditor/upload_json.php',
			items : ['source', '|', 'undo', 'redo', '|', 'preview', 'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript','superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/','formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold','italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage','flash', 'media',  'table', 'hr', 'emoticons','pagebreak','anchor', 'link', 'unlink', '|', 'about'],
			afterCreate : function() {
				var self = this;
				K.ctrl(document, 13, function() {
					self.sync();
					K('form[name=addgoodsform]')[0].submit();
				});
				K.ctrl(self.edit.doc, 13, function() {
					self.sync();
					K('form[name=addgoodsform]')[0].submit();
				});
			}
		});
		prettyPrint();
	});
</script>
<!--{subtemplate common/footer}-->