<!--{template common/header}-->
<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_forum_forumdisplay.css?{VERHASH}" />
<script src="static/js/forum.js?{VERHASH}" type="text/javascript"></script>
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z"><a href="./" class="nvhm" title="首页">Discuz! Board</a><em>&raquo;</em><a href="plugin.php?id=yiqixueba&mokuaiid={$mokauiid}">联盟商家</a></div>
	</div>
	<style id="diy_style" type="text/css">#portal_block_1 .dxb_bc { margin-left:0px !important;}#portal_block_2 .dxb_bc { font-size:14px !important;margin-left:10px !important;}</style>

	<div id="ct" class="ct2 wp cl">
		<div class="mn">
			<!--{loop $mainnav $k $val}-->
			<div id="g_commend" class="bm">
				<div class="bm_h cl">
					<h2><a href="plugin.php?id=yiqixueba&mokuaiid={$val[mokuaiid]}">$val[mokuaititle]</a></h2>
				</div>
				<div class="bm_c">
				<dl class="mbm pbm bbda"><dt class="pbn">
				<!--{if $mainnav[$k][subnav]}-->
					<!--{loop $mainnav[$k][subnav] $val1}-->
					<span class="z xi2"><a href="{url item/list/catid/$val2[catid]}">$val1[sorttitle]</a></span>
					<!--{/loop}-->
				<!--{else}-->
					<span class="z xi2">暂无分类</span>
				<!--{/if}-->
				</dt>
				</dl>
				</div>
				<div id="category_1" class="bm_c" style="">
				<!--{if $mainnav[$k][shop]}-->
				<table cellspacing="0" cellpadding="0" class="fl_tb">
					<tr>
					<!--{eval $favorderid = 0;}-->
					<!--{loop $mainnav[$k][shop] $key $val2}-->
					<!--{if $favorderid && ($favorderid % 2 == 0)}-->
						</tr>
						<!--{if $favorderid < 2}-->
							<tr class="fl_row">
						<!--{/if}-->
					<!--{/if}-->
						<td class="fl_g" width="49.9%">
						<div class="fl_icn_g" style="width: 100px;">
							<a href="plugin.php?id=yiqixueba&submod=shopdisplay&shopid={$val2[shopid]}" title="{$val2[shopname]}">{$val2[shoplogo]}</a>
						 </div>
						<dl>
						<dt><a href="plugin.php?id=yiqixueba&submod=shopdisplay&shopid={$val2[shopid]}">{$val2[shopname]}</a></a></dt>
						<dd>{if $val3[reviews]}<em>好评率<span class="font_1">{print round($val3[best]/$val3[reviews]*100)}%</span></em>{/if}</dd>
						<dd>
						{$val2[shopintroduction]}<br /><a href="{url item/detail/id/$val3[sid]}#review">共$val3[reviews]条点评</a>
						</dd>
						</dl>
						<div class="clear"></div>
					</td>
					<!--{eval $favorderid++;}-->
					<!--{/loop}-->
				<!--{else}-->
					<td>暂无商家</td>
				<!--{/if}-->
				</tr>
				</table>

				</div>
			</div>
			<!--{/loop}-->
		</div>
		<div class="sd">
			<div class="bm_h cl">
				<h2>最新点评</h2>
				</div>
			<div class="bm_c">
				<ul id="g_guide" class="mbm">
				
				</ul>
				
			</div>
		</div>

	</div>
</div>

<!--{subtemplate common/footer}-->