<!--{template common/header}-->
<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_forum_viewthread.css?{VERHASH}" />
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z"><a href="./" class="nvhm" title="{lang home}">$_G[setting][bbname]</a><em>&raquo;</em><a href="plugin.php?id=yiqixueba">联盟商家</a><em>&raquo;</em>{$cpk_info[chanpinkuname]}</div>
	</div>
</div>
<div id="ct" class="ct2 wp cl">
	<div class="mn">
		<div class="bm bw0">
			<div class="bbda ptm act cl">
				<div class="cl">
					<div class="spvimg">
						<a href="javascript:;"><img src="{$logo}" onclick="zoom(this, '{$logo}')" width="300" _width="300" _height="300" alt="{$cpk_info[chanpinkuname]}" /></a>
					</div>

					<div class="spi cl">
						<h4 class="wx mbm bbda">{$cpk_info[chanpinkuname]}</h4>
						<dl>
						<dt>商品类型：</dt>
						<dd>
						</dd>
						<dt>剩余时间:</dt>
						<dd>
						</dd>
						<dt>数量:</dt>
						<dd>
						</dd>
						<dt>累计售出:</dt><dd>$trade[amount]</dd>
						<dt>运费:</dt><dd>$trade[totalitems]</dd>
						<dt>现价:</dt><dd>$trade[amount]</dd>
						<dt>原价:</dt><dd>$trade[totalitems]</dd>
					</dl>
					</div>
				</div>
				<div class="cl mtw">
					<div class="c pbm">
						{$cpk_info[information]}
					</div>
				</div>
				<div class="cl">
				</div>
			</div>
		</div>
	</div>
	<div class="sd">
		<div class="bmw">
			<div class="hm bm_h"><h2 class="mbm xs2">店铺信息</h2></div>
			<div class="bm_c">{$_G['username']}，你好，{$msg_text}</div>
		</div>
	</div>
</div>
<!--{subtemplate common/footer}-->