<!--{template common/header}-->
<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_forum_forumdisplay.css?{VERHASH}" />
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z"><a href="./" class="nvhm" title="{lang home}">$_G[setting][bbname]</a><em>&raquo;</em><a href="plugin.php?id=yiqixueba">联盟商家</a><em>&raquo;</em>商品列表</div>
	</div>
</div>
<div class="wp">
	<div class="frame move-span cl frame-2-1">
		<div class="column frame-2-1-l">
			<div class="cl">
				<div class="column frame-1-1">
					<div class="move-span temp"></div>
					<div class="block move-span">
						<div class="dxb_bc">
							<div class="module cl bm xld">
								<div class="bm_h cl"><h2>商品列表</h2></div>
								<div class="block move-span">
									<div class="dxb_bc">
										<div class="module cl xl xl1">
											<ul><li><a href="forum.php?mod=group&fid=36" title="测试群组" target="_blank">测试群组</a></li></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column frame-2-1-r">
			<div class="cl">
				<div class="column frame-1-c">
					<div class="move-span temp"></div>
					<div class="block move-span">
						<div class="dxb_bc">
							<div class="module cl bm xld">
								<div class="bm_h cl"><h2>最新公告</h2></div>
								<div class="block move-span">
									<div class="dxb_bc">
										<div class="module cl xl xl1">
											最新公告内容
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--{subtemplate common/footer}-->