<div class="cl">
	<div class="column frame-1-1">
		<div class="move-span temp"></div>
		<div class="block move-span">
			<div class="dxb_bc">
				<div class="module cl bm xld">
					<div class="bm_h cl"><span class="y xw1"><a href="plugin.php?id=yiqixueba&submod=cpklist">更多 &rsaquo;</a></span><h2>最新商品</h2></div>
					<div class="block move-span">
						<div class="dxb_bc">
							<div class="module cl xl xl1">
								<!--{loop $chanpinkulists $chanpinkulist}-->
								<div class="dxb_bc z hm" style="width:99px;"><a href="plugin.php?id=yiqixueba&submod=cpkdisplay&cpkid={$chanpinkulist[chanpinkuid]}" title="{$chanpinkulist[chanpinkuname]}" target="_blank">{$chanpinkulist[logo]}</a><br /><a href="plugin.php?id=yiqixueba&submod=cpkdisplay&cpkid={$chanpinkulist[chanpinkuid]}" title="{$chanpinkulist[chanpinkuname]}" target="_blank">{$chanpinkulist[chanpinkuname]}</a></div>
								<!--{/loop}-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
