			<div class="cl">
				<div class="column frame-1-1">
					<div class="move-span temp"></div>
					<div class="block move-span">
						<div class="dxb_bc">
							<div class="module cl bm xld">
								<div class="bm_h cl"><span class="y xw1"><a href="plugin.php?id=yiqixueba&submod=dianpinglist">更多 &rsaquo;</a></span><h2>最新点评</h2></div>
								<div class="block move-span">
									<div id="dianping_content" class="dxb_bc">
										<div id="" class="bm_c">
										<!--{loop $dianpinglists $dianpinglist}-->
											<table cellspacing="0" cellpadding="2">
											<tr><td rowspan="3"><!--{avatar($dianpinglist[uid],small)}--></td><td>&nbsp;&nbsp;<a href="home.php?mod=space&uid={$dianpinglist[uid]}" target="_blank">{$dianpinglist[username]}</a> 在 {$dianpinglist[dingpingtime]} 点评:</td></tr>
											<tr><td>&nbsp;&nbsp;<strong>{$dianpinglist[dianpingtitle]}</strong>:&nbsp;&nbsp;{$dianpinglist[dianpingneirong]}</td></tr>
											<tr><td>&nbsp;&nbsp;得分：{$dianpinglist[pingfent]}</td></tr>
											</table>
											<hr class="da">
										<!--{/loop}-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
