<!--{template common/header}-->
<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_forum_forumdisplay.css?{VERHASH}" />
<script src="static/js/forum.js?{VERHASH}" type="text/javascript"></script>
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z">
			<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a><em>&raquo;</em><a href="forum.php"{if $_G['setting']['forumjump']} id="fjump" onmouseover="delayShow(this, 'showForummenu($_G[fid])');" class="showmenu"{/if}>{$_G[setting][navs][2][navname]}</a>$navigation
		</div>
	</div>
	<div class="boardnav">
		<div id="ct" class="wp cl" style="margin-left:145px">
			<div id="sd_bdl" class="bdl" onmouseover="showMenu({'ctrlid':this.id, 'pos':'dz'});" style="width:130px;margin-left:-145px">
			<div class="tbn" id="forumleftside"><h2 class="bdl_h">°æ¿éµ¼º½</h2>
			<dl class="a" id="lf_1">
			<dt><a href="javascript:;" hidefocus="true" onclick="leftside('lf_1')" title="Discuz!">Discuz!</a></dt><dd class="bdl_a">
			<a href="forum.php?mod=forumdisplay&amp;fid=2" title="Ä¬ÈÏ°æ¿é">Ä¬ÈÏ°æ¿é</a>
			</dd>
			</dl>
		</div>
	</div>

</div>


<!--{subtemplate common/footer}-->