<!--{template common/header}-->
<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_forum_forumdisplay.css?{VERHASH}" />
<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_forum_viewthread.css?{VERHASH}" />
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z"><a href="./" class="nvhm" title="{lang home}">$_G[setting][bbname]</a><em>&raquo;</em><a href="plugin.php?id=yiqixueba">联盟商家</a><em>&raquo;</em>{$shop_info[shopname]}</div>
	</div>
</div>
<div class="wp">
	<div class="frame move-span cl frame-2-1">
		<div class="column frame-2-1-l">
			<div class="cl">
				<div class="column frame-1-1-l">
					<div class="block move-span">
						<img src="{$shoplogosrc}" width="320" height="240" />
					</div>
				</div>
				<div class="column frame-1-1-r">
					<div class="block move-span">
						<div class="dxb_bc bm_c">
							<h1 class="ts">{$shop_info[shopname]}</h1>
							<div class=" ">
							<table cellpadding="0" cellspacing="0" class="dt mbm">
							<tbody>
								<tr>
									<th>地区</th>
									<td>{$shop_info[dist]}{$shop_info[comy]}</td>
								</tr>
								<tr>
									<th>分类</th>
									<td>{$sssort_title_text}</td>
								</tr>
								<tr>
									<th>地址</th>
									<td>{$shop_info[address]} </td>
								</tr>
								<tr>
									<th>电话</th>
									<td>{$shop_info[phone]} </td>
								</tr>
									<tr>
									<th>QQ</th>
									<td>{$shop_info[qq]} </td>
								</tr>
							</tbody>
							</table>
							</div>
						</div>
					</div>
					<div class="move-span temp y"></div>
				</div>
			</div>
			<div class="cl" style="padding-left: 15px;">得分:&nbsp;&nbsp;{$zongdefen}</div>
			<div class="cl">
				<div class="column frame-1-1">
					<div class="move-span temp"></div>
					<div class="block move-span">
						<div class="dxb_bc">
							<div class="module cl bm xld">
								<div class="bm_h cl"><span class="o">
									<img id="category_1_img" src="static/image/common/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_1');" />
									</span>
									<h2>详细内容</h2></div>
								<div id="category_1" class="bm_c" style="">$shop_info[shopinformation]</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--{if $_G[adminid] == 1 || $_G[uid] == $shop_info[uid] }-->
			<div class="cl">
				<div class="block move-span">
				<div class="module cl y xld">
					<!--{if $_G[adminid]==1}--><a href="plugin.php?id=yiqixueba&submod=ajax&ajaxtype=tuisong&shopid={$shop_info[shopid]}" id="tuisong" onclick="showWindow(this.id,  this.href,'get',0)" title="推送">推送</a>&nbsp;&nbsp;<!--{/if}-->
					<a href="plugin.php?id=yiqixueba:manage&man=brand&subman=shop&type=editshop&shopid={$shop_info[shopid]}">编辑</a>&nbsp;&nbsp;<a href="plugin.php?id=yiqixueba:manage&man=brand&subman=goods&goodstype=chanpinku&type=editchanpinku&shopid={$shop_info[shopid]}">添加商品</a>&nbsp;&nbsp;
				</div>
				</div>
			</div>
			<!--{/if}-->
			<div class="cl">
				<div class="column frame-1-1">
					<div class="move-span temp"></div>
					<div class="block move-span">
						<div id="{FORMHASH}" class="frame-tab move-span cl">
							<div id="{FORMHASH}_title" class="tab-title title column cl" switchtype="click">
								<div id="dianping" class="block move-span">
									<div class="blocktitle title"><span style="" class="titletext">我要点评</span></div>
									<div id="dianping_content" class="dxb_bc">
										<div class="bmw">
											<div id="" class="bm_c">
											<!--{loop $dianpinglists $dianpinglist}-->
												<table cellspacing="0" cellpadding="2">
												<tr><td rowspan="3"><!--{avatar($dianpinglist[uid],small)}--></td><td>&nbsp;&nbsp;<a href="home.php?mod=space&uid={$dianpinglist[uid]}" target="_blank">{$dianpinglist[username]}</a> 在 {$dianpinglist[dingpingtime]} 点评:</td></tr>
												<tr><td>&nbsp;&nbsp;<strong>{$dianpinglist[dianpingtitle]}</strong>:&nbsp;&nbsp;{$dianpinglist[dianpingneirong]}</td></tr>
												<tr><td>&nbsp;&nbsp;得分：{$dianpinglist[pingfent]}</td></tr>
												</table>
												<hr class="da">
											<!--{/loop}-->
											</div>
										</div>
										<!--{if !$dpzhuangtai}-->
										<div class="move-span temp"></div>
										<div class="bmw">
										<div id="" class="bm_h">我要点评</div>
										<div id="" class="bm_c">
											<!--{if $_G[uid]}-->
											<form method="post" autocomplete="off" action="plugin.php?id=yiqixueba&submod=shopdisplay" onsubmit="ajaxpost(this.id, 'dianping_content');" class="exfm" id="dianping">
											<input type="hidden" name="formhash" value="{FORMHASH}">
											<input type="hidden" name="referer" value="{echo dreferer()}" />
											<input type="hidden" name="dianpingsubmit" value="yes">
											<input type="hidden" name="uid" value="{$_G[uid]}">
											<input type="hidden" name="shopid" value="{$shop_info[shopid]}">
											<table cellspacing="0" cellpadding="5">
												<tr>
													<th width="60">总体评价:</th>
													<td><input type="radio" name="zongti" value="5" checked>好&nbsp;&nbsp;<input type="radio" name="zongti" value="0">不好</td>
												</tr>
												
												<tr>
													<th width="60">评价分数:</th>
													<td>
													<!--{loop $options $option}-->
														{$option[name]}:&nbsp;&nbsp;{$option[select]}<br />
													<!--{/loop}-->
													</td>
												</tr>
												<tr>
													<th width="60">点评标题:</th>
													<td><input type="text" name="dianpingtitle" class="px" size="40"></td>
												</tr>
												<tr>
													<th width="60">点评内容:</th>
													<td><textarea name="dianpingneirong" rows="5" cols="50"></textarea></td>
												</tr>
												
												<tr>
													<th width="60">&nbsp;&nbsp;</th>
													<td><button type="submit" name="dianpingsubmit" id="dianpingsubmit" class="pn" value="true"><strong>提交</strong></button></td>
												</tr>
											</table>
											</form>
											<!--{else}-->
											需要登录
											<!--{/if}-->
										</div>
										</div>										
										<!--{/if}-->
									</div>
								</div>
								<div id="liuyan" class="block move-span">
									<div class="blocktitle title">会员留言</div>
									<div id="liuyan_content" class="dxb_bc">
										<div class="module cl xl xl2">
											<div class="bmw">
											<div id="" class="bm_h">我要留言</div>
											<div id="" class="bm_c">
											<form method="post" autocomplete="off" action="plugin.php?id=yiqixueba&submod=shopdisplay&subac=dianping&shopid={$shopid}" onsubmit="ajaxpost(this.id, 'liuyan_content');" class="exfm" id="dianping">
											<input type="hidden" name="formhash" value="{FORMHASH}">
											<input type="hidden" name="referer" value="{echo dreferer()}" />
											<input type="hidden" name="dianpingsubmit" value="yes">
											<input type="hidden" name="type" value="{$type}">
											<table cellspacing="0" cellpadding="5">
												<tr>
													<th width="60">会员留言:</th>
													<td><textarea name="dianpingneirong" rows="5" cols="50"></textarea></td>
												</tr>
												<tr>
													<th width="60">&nbsp;&nbsp;</th>
													<td><button type="submit" name="dianpingsubmit" id="dianpingsubmit" class="pn" value="true"><strong>提交</strong></button></td>
												</tr>
											</table>
											</form>
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="{FORMHASH}_content" class="tb-c">
							</div>
							<script type="text/javascript">initTab("{FORMHASH}","click");</script>
						</div>
					</div>
			</div>
			</div>
		</div>
		<div class="column frame-2-1-r">
			<div class="move-span temp"></div>
			<div class="column frame-1-c">
				<div class="block move-span">
					<div class="dxb_bc">
					</div>
				</div>
			</div>
			<div class="move-span temp"></div>
			<div class="column frame-1-c bm">
							<input type="hidden" name="baidu_x" id="baidu_x" value="{$shop_info[shoplocation][0]}">
							<input type="hidden" name="baidu_y" id="baidu_y" value="{$shop_info[shoplocation][1]}">
							<iframe src="plugin.php?id=yiqixueba&submod=baidumap" width="318" height="280" frameborder="0" ></iframe>
			</div>
			<div class="move-span temp"></div>
			<div class="column frame-1-c bm">
				<div class="bm_h cl"><span class="y xw1"><a href="plugin.php?id=yiqixueba&submod=cpklist">更多 &rsaquo;</a></span><h2>最新商品</h2></div>
				<!--{if $chanpinku_list}-->
					<!--{loop $chanpinku_list $cpklist}-->
					<div class="">
					<a href="plugin.php?id=yiqixueba&submod=cpkdisplay&cpkid={$cpklist[chanpinkuid]}">{$cpklist[logo]}</a>
					<a href="">{$cpklist[chanpinkuname]}</a>
					</div>
					<!--{/loop}-->
				<!--{else}-->
					暂时还没有商品...<!--{if $_G[uid] == $shop_info[uid] }--><a href="plugin.php?id=yiqixueba&submod=addgoods&shopid={$shop_info[shopid]}">添加商品</a><!--{/if}-->
				<!--{/if}-->
			</div>
		</div>
	</div>
</div>
<!--{subtemplate common/footer}-->