<!--{template common/header}-->
<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_forum_forumdisplay.css?{VERHASH}" />
<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z"><a href="./" class="nvhm" title="{lang home}">$_G[setting][bbname]</a><em>&raquo;</em><a href="plugin.php?id=yiqixueba">联盟商家</a></div>
	</div>
</div>
<div class="wp">
	<div class="frame move-span cl frame-2-1">
		<div class="column frame-2-1-l">
			<div class="cl">
				<div class="column frame-1-1-l">
					<div class="move-span temp"></div>
					<div class="block move-span">
						<div class="dxb_bc">
							<div class="module cl xld">
								<div class="module cl slidebox">
								<ul class="slideshow">
								<!--{loop $slideshowshops $shop}-->
								<li style="width: 300px; height: 220px;">
								<a href="plugin.php?id=yiqixueba&submod=shopdisplay&shopid={$shop[shopid]}" target="_blank">{$shop[shoplogohtml]}</a><span class="title">{$shop[shopname]}</span>
								</li>
								<!--{/loop}-->
								</ul>
								</div>
								<script type="text/javascript">runslideshow();</script>
							
							</div>
						</div>
					</div>
				</div>
				<div class="column frame-1-1-r">
					<div class="move-span temp"></div>
					<div class="block move-span">
						<div class="dxb_bc">
							<div class="module cl xl xl1">
								<div id="" class="">
									<h1 class="ph mtw mbw hm"><a href="plugin.php?id=yiqixueba&submod=shopdisplay&shopid={$toutiao[shopid]}" target="_blank">{$toutiao[title]}</a></h1>
									$toutiao['conment']
									<hr class="da">
									<ul>
									<!--{loop $wenbenshops $wenbenshop}-->
									<li><a href="plugin.php?id=yiqixueba&submod=shopdisplay&shopid={$wenbenshop[shopid]}" target="_blank">{$wenbenshop[shopname]}</a></li>
									<!--{/loop}-->
									</ul>
									<!--{loop $tuwenshops $tuwenshop}-->
									<div class="dxb_bc z hm" style="width:99px;"><a href="plugin.php?id=yiqixueba&submod=shopdisplay&shopid={$tuwenshop[shopid]}" title="{$tuwenshop[shopname]}" target="_blank">{$tuwenshop[shoplogohtml]}</a><br /><a href="plugin.php?id=yiqixueba&submod=shopdisplay&shopid={$tuwenshop[shopid]}" title="{$tuwenshop[shopname]}" target="_blank">{$tuwenshop[shopname]}</a></div>
									<!--{/loop}-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!--{loop $mokuailists $mokuailist}-->
				<!--{if $mokuailist[mokuainame]}-->
				<!--{eval include(template('yiqixueba:yiqixueba/default/index_'.$mokuailist[mokuainame]));}-->
				<!--{/if}-->
			<!--{/loop}-->
		</div>
		<div class="column frame-2-1-r">
			<div class="move-span temp"></div>
			<div class="column frame-1-c">
				<div class="block move-span">
					<div class="dxb_bc">
						<div class="module cl xl xl1">
							<a href="plugin.php?id=yiqixueba&submod=openweixin"><img src="{$botton[0]}" width="145" height="30"></a>
							<a href="plugin.php?id=yiqixueba&submod=shenqingka"><img src="{$botton[1]}" width="145" height="30"></a>
							<a href="plugin.php?id=yiqixueba:yiqixueba&submod=addshop"><img src="{$botton[2]}" width="145" height="30"></a>
							<a href="plugin.php?id=yiqixueba:manage"><img src="{$botton[3]}" width="145" height="30"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="move-span temp"></div>
			<div class="column frame-1-c bm">
				<div class="bm_h cl"><h2>最新公告</h2></div>
				<div class="block move-span">
					<div class="dxb_bc">
						<div class="module cl xl xl1">
							<ul>
							<!--{loop $gonggaolist $key $ggliat}-->
							<li class="mtn mbm"><a href="plugin.php?id=yiqixueba&submod=gonggao&ggid={$ggliat[gonggaoid]}" title="{$ggliat[gonggaoname]}" target="_blank">$ggliat[gonggaoname]</a></li>
							<!--{/loop}-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--{subtemplate common/footer}-->