.border-shadow{background:url(img/bg_shadow.png) repeat-x;height:2px;display:block;opacity:.7;filter:alpha(opacity=70)}
.tuan-goods .goods-content{padding-top:20px}.tuan-goods .wt-good-item{width:300px;margin-right:24px}
.tuan-goods .wt-good-last{margin-right:0}
.wt-footer{text-align:center}
.tuan-catg-info{_float:none}