<!--{template common/header}-->
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="home.php?mod=spacecp">{lang wxq123:shopadmin}</a> <em>&rsaquo;</em>
		{$lang_subops[$subop]}
	</div>
</div>
<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt">{lang wxq123:shopadmin}</h1>
			<form action="member.php?mod=regverify" method="post" autocomplete="off">
			<input type="hidden" value="{FORMHASH}" name="formhash" />
			<table summary="{$subop}" cellspacing="0" cellpadding="0" class="tfm">
			<tr>
				<th>{lang validator_remark}</th>
				<td>$validate[remark]</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>{lang validator_message}</th>
				<td><input type="text" class="px" name="regmessagenew" value="" /></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td colspan="2">
					<button type="submit" name="verifysubmit" value="true" class="pn pnc" /><strong>{lang validator_submit}</strong></button>
				</td>
			</tr>
			</table>
		</div>
	</div>
	<div class="appl">
		{template wxq123:wxq_menu}
	</div>
</div>
<!--{template common/footer}-->