{template yikatong:site/fang19/brand_header}
    <div class="hd-fnav">
        <div class="layout-980">
            <ul class="hd-fnav-hd hd-index-nav">
                    <li class="select"><span>首页</span></li>
                    <!--<li><a rel="nofollow" href="./">整站首页</a></li>-->
					<!--{eval $cat_count = 0;}-->
					<!--{eval $cat_num = count($shopcategories);}-->
					<!--{loop $shopcategories $cat}-->
					<!--{if $cat[upid] == 0}-->
					<!--{eval $cat_count ++;}-->
					<!--{if $cat_num ==4 or $cat_num >4 and $cat_count < 4}-->
                    <li><a rel="nofollow" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=street&catid={$cat['catid']}">{$cat['name']}</a></li>
					<!--{/if}-->
					<!--{if $cat_count == 1}-->
	               <li class="hd-hshare ">
						<dl>
							<dd><a href="#" target=_blank>待定</a> 
							<a href="#" target=_blank>待定</a> </dd>
							<dd><a href="#" target=_blank>待定</a> 
							<a href="#" target=_blank>待定</a> </dd>
						</dl>
	               </li>
					<!--{/if}-->
					<!--{/if}-->
					<!--{/loop}-->
					<!--{if $cat_num >4}-->
					
					<li class="hd-it-nav ">
						<dl>
							<dt><a id="hdGuang" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=street&catid=0">更多<span class="icon"></span></a>
							</dt>
							<dd style="display: none;" class="hd-hguang-bd">
							<!--{eval $cat_count = 0;}-->
							<!--{loop $shopcategories $cat}-->
							<!--{if $cat[upid] == 0}-->
							<!--{eval $cat_count ++;}-->
							<!--{if $cat_count > 4}-->
								<p><a rel="nofollow" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=street&catid={$cat['catid']}">{$cat['name']}</a></p>
							<!--{/if}-->
							<!--{/if}-->
							<!--{/loop}-->
							</dd>
						</dl>
					</li>
					<!--{/if}-->
            </ul>
             <div class="dasao fr" title="亲，打开微信扫描二维码，即可添加好店为微信好友！"><span style="_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{$plugin_config['imagespath']}/bg_index_dasao.png',sizingMethod='crop');">扫我试试看</span></div>
       </div>
        <script type="text/javascript">
            
                var bd = jq(".hd-hguang-bd"), guang = jq(".hd-it-nav");
                guang.find("a").hover(function () {
                    bd.show()
                });
                bd.hover(function () {
                }, function () {
                    jq(this).hide();
                });
                guang.siblings().hover(function () {
                    bd.hide();
                });
          
        </script>
   </div>

</div>
    
<div id="content" class="layout-980">
	<div class="brand-nav">
		<a rel="nofollow" class="icon" href="plugin.php?id=yikatong:brand"><span>网站首页</span><i></i></a>
		<a class="icon" href="plugin.php?id=yikatong:brand"><span>品牌空间</span><i></i></a>
		<span></span> 
	</div>
    <!--S=sort-mod -->
    <div class="sort-mod">
        <dl class="clearall mb10 by-sort">
            <dt class="fl ">行业：</dt>
            <dd id="subCategories" class="fl word-bk sort-bd">
                <a href="plugin.php?id=yikatong:brand&mod=street" <!--{if $curecatid == 0}-->class="selected"<!--{/if}-->>全部<i></i></a>
				<!--{loop $catlist $cat}-->
					<a href="plugin.php?id=yikatong:brand&mod=street&catid={$cat[catid]}" <!--{if $curecatid == $cat[catid]}-->class="selected"<!--{/if}--> >{$cat[name]}</a>
				<!--{/loop}-->
            </dd>
        </dl>
 		 <!--{if $catid != 0}-->
        <dl class="clearall mb10 by-sort">
            <dt class="fl ">分类：</dt>
            <dd id="subCategories" class="fl word-bk sort-bd">
                <a href="plugin.php?id=yikatong:brand&mod=street" <!--{if $subcurecatid == 0}-->class="selected"<!--{/if}-->>全部<i></i></a>
				<!--{loop $subcatlist $cat}-->
					<a href="plugin.php?id=yikatong:brand&mod=street&catid={$catid}&subcatid={$cat[catid]}" <!--{if $subcurecatid == $cat[catid]}-->class="selected"<!--{/if}--> >{$cat[name]}</a>
				<!--{/loop}-->
            </dd>
        </dl>
		 <!--{/if}-->
   </div>
      
       
   		<div class="clearall  hdsearch-cont">
		
        <div class="hdsearch-list clearall">
        	<div class="hdsearch-type clearall">
	            <a class="hot select" href="plugin.php?id=yikatong:brand&mod=street&catid={$catid}&subcatid={$cat[catid]}&pporder={$linkpporder}&sjorder={$linksjorder}&distid={$distid}">品牌热度<span></span></a>
	            <a rel="nofollow" class="comment mr20" href="plugin.php?id=yikatong:brand&mod=street&catid={$catid}&subcatid={$subcatid}&pporder={$linkpporder}&sjorder={$linksjorder}&distid={$distid}">创建时间<span></span></a>
                <a class="hot comment region region-click" href="plugin.php?id=yikatong:brand&mod=street&catid={$catid}&subcatid={$subcatid}&pporder={$linkpporder}&sjorder={$linksjorder}&dist={$linkdist}">按城区或地区检索<span></span></a>
  			</div>
			 <!--{if $districts }-->
			 
            <dl class="hdsearch-city clearall on"  style="display: block">
                <dd class="fl link-666 word-bk">
				<!--{loop $dist_arr $dist}-->
                <a href="plugin.php?id=yikatong:brand&mod=street&catid={$catid}&subcatid={$subcatid}&pporder={$linkpporder}&sjorder={$linksjorder}&distid={$dist[id]}"  <!--{if $distid==$dist[id]}-->class="selected"<!--{/if}-->>{$dist[name]}</a>
               
				<!--{/loop}-->
                </dd>
            </dl>
			<!--{/if}-->
            <ul rel="http://haodian.19lou.com/shopFlow?address=&amp;categoryId=0&amp;regionId=0&amp;sortType=1" id="blb_masonry">
			<!--{loop $shopinfos $num $shopinfo}-->
	            <li>
	                <dl class="hdshop-mod">
	                    <dt class="hdshop-hd">
	                       <span <!--{if $num<3}--> class="hot"<!--{/if}-->><!--{eval echo $num+1;}--></span>
                            <a href="plugin.php?id=yikatong:brand&mod=store&sid={$shopinfo[itemid]}" target="_blank"><img alt="{$shopinfo[subjecttext]}" src="{$shopinfo[subjectimage]}" width="100" height="100" /></a>
	                    </dt>
	                    <dd class="hdshop-bd">
	                        <h3><a target="_blank" href="plugin.php?id=yikatong:brand&mod=store&sid={$shopinfo[itemid]}" title="{$shopinfo[subjecttext]}">{$shopinfo[subject]}(<font color="red">{$shopinfo[zhekou]}折</font>)</a></h3>
	                        <p><span>地址:</span>{$shopinfo[address]}</p>
	                        <p><span>电话:</span>{$shopinfo[tel]}</p> 
	                        <p><span>品牌热度:</span><strong>{$shopinfo[hot]}</strong><span class="star star6"></span><span>评价数：</span><strong>{$shopinfo[reportnum]}</strong></p>
	                    </dd>
	                    <dd class="hdshop-ft">
						
	                        <div class="hdsft-hd">
								<!--{loop $shopinfo[plimages] $inum $shopimage}-->
								<!--{eval if ($shopinfo[plimages]!=''){ }-->
                                        <div class="shop-img">
                                            <a target="_blank" href="forum.php?mod=viewthread&tid={$shopinfo[tid][$inum]}">
                                                <span class="shopimg-hd"></span>
                                                <img width="140" height="100" src="{$shopinfo[plimages][$inum]}" class="shopimg-bd" alt="" >
                                                <span class="num">{$shopinfo[plimagesnum][$inum]}</span>
                                            </a>
                                        </div>
									<!--{/if}-->
									<!--{/loop}-->
 	                        </div>
						
			           		<div class="hdsft-bd"><a rel="nofollow" target="_blank" href="plugin.php?id=yikatong:brand&mod=store&action=comment&sid={$shopinfo[itemid]}">更多&gt;&gt;</a></div>
			       		</dd>
			   		</dl>
			   </li>
			   <!--{/loop}-->
			</ul>
		</div>
		<div class="clearall hd-pin-pages">


<div class="page-mod fr mr20">
<!--{if $multi}-->
{$multi}
<!--{/if}-->
</div>

</div>

{template yikatong:site/fang19/brand_footer}

