{template yikatong:site/fang19/share_header}


<div class="layout-980" id="content">
	<div class="index-mod topic-box clearall">
		<div class="fl topic-left">
			<div class="index-hd"><h2 class="title"><em>今年秋天，我们结婚吧</em></h2></div>
			<div class="index-bd">
				<div class="share">当前分享数：<em>22</em>阅读数：<em>528</em></div>
				<p class="text mb15">秋季主题婚纱照：<span>杭州的秋天，拍婚纱照，最美了。</span></p>
				<div class="qq mb15">好店达人群：<em>257908891</em></div>
				<div class="author mb15">话题发起人：<a href="http://haodian.19lou.com/profile/113601339102276701" target="_blank">锐摄影</a></div>
				<a href="#topic-update" class="btn-b">我也要分享</a>
			</div>
		</div>
		<div class="topic-right fl"><a href="http://haodian.19lou.com/profile/thread/113601339102276701/109201352914740958/1/1" target="_blank"><img src="http://i3.dukuai.com/ypic/ct_hangzhou_family/2012/11/15/105403_377_20121115008.jpg" alt="" title="" width="670" height="280" /></a></div>
	</div>

	<div class="index-mod clearall">
      <div class="cont-left shop-sharing">
        <div class="topic-index-hd">
          <h3 class="mr20"><strong>大家正</strong>在分享</h3>
			<a href="http://haodian.19lou.com/topic/marray/2012/11/15/2/1" class="good-share">只看精华分享<span class="square"></span></a>
	         <a href="http://www.19lou.com/login" class="share-experience my-say" data-name="" >开始分享我的婚纱秀</a>
         </div>
        <DIV class=topic-index-bd>
          <ul>
            <li class="qa-mod share-list mb15 clearall"> <a target="_blank" class="qa-hd avtar-65" title="0904llbd" href="http://www.19lou.com/user/profile-15073343-1.html"><img alt="0904llbd" src="http://avatar2.citysbs.com/m/3/1536/06c58f4203c74ef647ba6d11d255d4c9.jpg"></a>
              <div class="qa-bd qa-box">
                <dl>
                  <dt class="mb15"><a href="http://www.19lou.com/user/profile-15073343-1.html" target="_blank" class="topic-name" title="0904llbd">0904llbd</a>在<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影">印象789婚纱摄影</a>发布分享</dt>
                  <dd class="mb15">
                    <p><a href="http://haodian.19lou.com/profile/thread/108901339102279154/103701354426618165/1/1" target="_blank" class="list-detail">有时幸福只是一种感觉，只要用心感受，它时刻萦绕在我们身边。记忆中的很多东西，都会因岁月飘移而渐渐地褪去它们生动的颜色，唯有我们对幸福的孜孜追求，让我们体验到人生的意义和价值，感受到...</a></p>
                  </dd>
                  <dd class="mb15">
                  		<a href="http://haodian.19lou.com/profile/thread/108901339102279154/103701354426618165/1/1" target="_blank" class="mr20"><img src="http://att3.citysbs.com/220x160/haodian/2012/12/02/13/133805_14341354426685868_0bf3600c9947d86654478d5583e31240.jpg" width="200" height="145" /></a>
                  </dd>
                  <dd class="share-time"><span class=" mr20">2012-12-02 13:38</span>当前店铺：<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影"><strong>印象789婚纱摄影</strong></a><a href="http://www.19lou.com/login" class="my-feel my-say" data-name="印象789婚纱摄影">我也去过，说说我的感受</a></dd>
                </dl>
                 <span class="left-arrow"><span></span></span></div>
            </li>
            <li class="qa-mod share-list mb15 clearall"> <a target="_blank" class="qa-hd avtar-65" title="0904llbd" href="http://www.19lou.com/user/profile-15073343-1.html"><img alt="0904llbd" src="http://avatar2.citysbs.com/m/3/1536/06c58f4203c74ef647ba6d11d255d4c9.jpg"></a>
              <div class="qa-bd qa-box">
                <dl>
                  <dt class="mb15"><a href="http://www.19lou.com/user/profile-15073343-1.html" target="_blank" class="topic-name" title="0904llbd">0904llbd</a>在<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影">印象789婚纱摄影</a>发布分享</dt>
                  <dd class="mb15">
                    <p><a href="http://haodian.19lou.com/profile/thread/108901339102279154/103301354426578616/1/1" target="_blank" class="list-detail">有时幸福只是一种感觉，只要用心感受，它时刻萦绕在我们身边。记忆中的很多东西，都会因岁月飘移而渐渐地褪去它们生动的颜色，唯有我们对幸福的孜孜追求，让我们体验到人生的意义和价值，感受到...</a></p>
                  </dd>
                  <dd class="mb15">
                  		<a href="http://haodian.19lou.com/profile/thread/108901339102279154/103301354426578616/1/1" target="_blank" class="mr20"><img src="http://att3.citysbs.com/220x160/haodian/2012/12/02/13/133640_18351354426600722_84cd38313a558d1ff2ed17f227ae2e95.jpg" width="200" height="145" /></a>
                  </dd>
                  <dd class="share-time"><span class=" mr20">2012-12-02 13:36</span>当前店铺：<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影"><strong>印象789婚纱摄影</strong></a><a href="http://www.19lou.com/login" class="my-feel my-say" data-name="印象789婚纱摄影">我也去过，说说我的感受</a></dd>
                </dl>
                 <span class="left-arrow"><span></span></span></div>
            </li>
            <li class="qa-mod share-list mb15 clearall"> <a target="_blank" class="qa-hd avtar-65" title="0904llbd" href="http://www.19lou.com/user/profile-15073343-1.html"><img alt="0904llbd" src="http://avatar2.citysbs.com/m/3/1536/06c58f4203c74ef647ba6d11d255d4c9.jpg"></a>
              <div class="qa-bd qa-box">
                <dl>
                  <dt class="mb15"><a href="http://www.19lou.com/user/profile-15073343-1.html" target="_blank" class="topic-name" title="0904llbd">0904llbd</a>在<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影">印象789婚纱摄影</a>发布分享</dt>
                  <dd class="mb15">
                    <p><a href="http://haodian.19lou.com/profile/thread/108901339102279154/112701354426491192/1/1" target="_blank" class="list-detail">有时幸福只是一种感觉，只要用心感受，它时刻萦绕在我们身边。记忆中的很多东西，都会因岁月飘移而渐渐地褪去它们生动的颜色，唯有我们对幸福的孜孜追求，让我们体验到人生的意义和价值，感受到...</a></p>
                  </dd>
                  <dd class="mb15">
                  		<a href="http://haodian.19lou.com/profile/thread/108901339102279154/112701354426491192/1/1" target="_blank" class="mr20"><img src="http://att3.citysbs.com/220x160/haodian/2012/12/02/13/133556_15251354426556789_337f3225eca8056a93e5b43d0585f7fa.jpg" width="200" height="145" /></a>
                  </dd>
                  <dd class="share-time"><span class=" mr20">2012-12-02 13:36</span>当前店铺：<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影"><strong>印象789婚纱摄影</strong></a><a href="http://www.19lou.com/login" class="my-feel my-say" data-name="印象789婚纱摄影">我也去过，说说我的感受</a></dd>
                </dl>
                 <span class="left-arrow"><span></span></span></div>
            </li>
            <li class="qa-mod share-list mb15 clearall"> <a target="_blank" class="qa-hd avtar-65" title="0904llbd" href="http://www.19lou.com/user/profile-15073343-1.html"><img alt="0904llbd" src="http://avatar2.citysbs.com/m/3/1536/06c58f4203c74ef647ba6d11d255d4c9.jpg"></a>
              <div class="qa-bd qa-box">
                <dl>
                  <dt class="mb15"><a href="http://www.19lou.com/user/profile-15073343-1.html" target="_blank" class="topic-name" title="0904llbd">0904llbd</a>在<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影">印象789婚纱摄影</a>发布分享</dt>
                  <dd class="mb15">
                    <p><a href="http://haodian.19lou.com/profile/thread/108901339102279154/112001354426408138/1/1" target="_blank" class="list-detail">有时幸福只是一种感觉，只要用心感受，它时刻萦绕在我们身边。记忆中的很多东西，都会因岁月飘移而渐渐地褪去它们生动的颜色，唯有我们对幸福的孜孜追求，让我们体验到人生的意义和价值，感受到...</a></p>
                  </dd>
                  <dd class="mb15">
                  		<a href="http://haodian.19lou.com/profile/thread/108901339102279154/112001354426408138/1/1" target="_blank" class="mr20"><img src="http://att3.citysbs.com/220x160/haodian/2012/12/02/13/133417_15491354426457283_c8f4645e3d489c6e0fe6b26a5a136cfb.jpg" width="200" height="145" /></a>
                  </dd>
                  <dd class="share-time"><span class=" mr20">2012-12-02 13:34</span>当前店铺：<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影"><strong>印象789婚纱摄影</strong></a><a href="http://www.19lou.com/login" class="my-feel my-say" data-name="印象789婚纱摄影">我也去过，说说我的感受</a></dd>
                </dl>
                 <span class="left-arrow"><span></span></span></div>
            </li>
            <li class="qa-mod share-list mb15 clearall"> <a target="_blank" class="qa-hd avtar-65" title="0904llbd" href="http://www.19lou.com/user/profile-15073343-1.html"><img alt="0904llbd" src="http://avatar2.citysbs.com/m/3/1536/06c58f4203c74ef647ba6d11d255d4c9.jpg"></a>
              <div class="qa-bd qa-box">
                <dl>
                  <dt class="mb15"><a href="http://www.19lou.com/user/profile-15073343-1.html" target="_blank" class="topic-name" title="0904llbd">0904llbd</a>在<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影">印象789婚纱摄影</a>发布分享</dt>
                  <dd class="mb15">
                    <p><a href="http://haodian.19lou.com/profile/thread/108901339102279154/111001354426307022/1/1" target="_blank" class="list-detail">有时幸福只是一种感觉，只要用心感受，它时刻萦绕在我们身边。记忆中的很多东西，都会因岁月飘移而渐渐地褪去它们生动的颜色，唯有我们对幸福的孜孜追求，让我们体验到人生的意义和价值，感受到...</a></p>
                  </dd>
                  <dd class="mb15">
                  		<a href="http://haodian.19lou.com/profile/thread/108901339102279154/111001354426307022/1/1" target="_blank" class="mr20"><img src="http://att3.citysbs.com/220x160/haodian/2012/12/02/13/133229_20601354426349618_dc8e1cdb53018ad542ccc6a1f9e32644.jpg" width="200" height="145" /></a>
                  </dd>
                  <dd class="share-time"><span class=" mr20">2012-12-02 13:33</span>当前店铺：<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影"><strong>印象789婚纱摄影</strong></a><a href="http://www.19lou.com/login" class="my-feel my-say" data-name="印象789婚纱摄影">我也去过，说说我的感受</a></dd>
                </dl>
                 <span class="left-arrow"><span></span></span></div>
            </li>
          </ul>
          <!--=S page-mod -->
			<div class="page-mod fr">


<div class="page-mod fr mr20">
	<strong>1</strong>

  		<a href="http://haodian.19lou.com/topic/marray/2012/11/15/0/2
">2</a>

  		<a href="http://haodian.19lou.com/topic/marray/2012/11/15/0/3
">3</a>

  		<a href="http://haodian.19lou.com/topic/marray/2012/11/15/0/4
">4</a>

		<a href="http://haodian.19lou.com/topic/marray/2012/11/15/0/5
">5</a>

		<a href="http://haodian.19lou.com/topic/marray/2012/11/15/0/2
" class="page-next">下一页</a>
		<a href="http://haodian.19lou.com/topic/marray/2012/11/15/0/5
" class="page-last">下一页</a>
		<span class="page-go"><em>到第</em><input name="pageNumber" value="1" type="text" class="txt" />
		<em>页</em><button type="button" onclick="pageOKButton(this)">确定</button><input name="maxpage" value="5" type="hidden" class="txt" /></span>
</div>
			</div>
		  <!--=E page-mod -->
        </DIV>
      </div>
	  <!--=S 右边 编辑区 -->
	<div class="cont-right">
		<div class="shop-recommend"><!--==S 推荐我喜欢的 -->
			<div class="index-hd">
				<h3>
					<strong>店铺</strong>推荐
				</h3>
				<a href="http://www.19lou.com/login" class="more my-say" data-name="">推荐婚纱摄影好店</a> 
			</div>
			<div class="index-bd clearall">
				<!--=S 新店特搜-->
				<dl>
					<dt>
						<a href="http://haodian.19lou.com/profile/112101339102280564" target="_blank" title="大漠摄影">
						<img class="fl mr10" src="http://att2.citysbs.com/haodian/2012/06/23/11/113711_11331340422631445_f2593855a8feec0d04a5ab44b850532e.jpg" width=80 height=80></a>
					</dt>
					<dd class="fl">
						<h4>
							<a href="http://haodian.19lou.com/profile/112101339102280564" target="_blank" title="大漠摄影">大漠摄影</a>
						</h4>
						<P class="mb10 color6">地址:滨江东信大道270号三楼精品店建国北路178..
						</P>
						<p>
							<a href="http://haodian.19lou.com/profile/112101339102280564" target="_blank" class="btn">想去看看</a>
							<a href="http://www.19lou.com/login" class="isay my-say" data-name="大漠摄影">我去过，我想说说</a>
						</p> 
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影">
						<img class="fl mr10" src="http://avatar2.citysbs.com/m/3/1342/1336827543659_ddciaoma.jpg" width=80 height=80></a>
					</dt>
					<dd class="fl">
						<h4>
							<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" title="印象789婚纱摄影">印象789婚纱摄影</a>
						</h4>
						<P class="mb10 color6">地址:杭州西湖区文三路408号2栋5楼（靠近东信大..<a href="javascript:;" longitude="120.13298" latitude="30.284632" scope="16" class="map"><em></em></a>
						</P>
						<p>
							<a href="http://haodian.19lou.com/profile/108901339102279154" target="_blank" class="btn">想去看看</a>
							<a href="http://www.19lou.com/login" class="isay my-say" data-name="印象789婚纱摄影">我去过，我想说说</a>
						</p> 
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="http://haodian.19lou.com/profile/113601339102276701" target="_blank" title="锐摄影">
						<img class="fl mr10" src="http://att2.citysbs.com/haodian/2012/06/09/08/085916_20461339203556957_c7531c7802b2eab9ceb1b39ece675e9a.jpg" width=80 height=80></a>
					</dt>
					<dd class="fl">
						<h4>
							<a href="http://haodian.19lou.com/profile/113601339102276701" target="_blank" title="锐摄影">锐摄影</a>
						</h4>
						<P class="mb10 color6">地址:杭州市建国北路59号2楼
						</P>
						<p>
							<a href="http://haodian.19lou.com/profile/113601339102276701" target="_blank" class="btn">想去看看</a>
							<a href="http://www.19lou.com/login" class="isay my-say" data-name="锐摄影">我去过，我想说说</a>
						</p> 
					</dd>
				</dl>
				<!--=E 新店特搜-->
				<input id="longitude" type="hidden" value="">
				<input id="latitude" type="hidden" value="">
				<input id="scope" type="hidden" value="">
			</div>
		</div>
		<!--==E 推荐我喜欢的 -->		
<div class="shop-recommend"><!--==S 你可能喜欢的 -->
<div class="index-hd"><h3><strong>这些内容</strong>可能你也喜欢</h3></div>
<div class="index-bd clearall">	
			
<div class="ilike">
<h4><a href="http://haodian.19lou.com/profile/thread/108901339102279154/231401350289329800/1/1" target="_blank">你的微笑就是最美的世界</a></h4>
<dl>
<dt><a href="http://haodian.19lou.com/profile/thread/108901339102279154/231401350289329800/1/1" target="_blank"><img class="fl mr10" src="http://att3.citysbs.com/no/hangzhou/2012/10/15/16/164507_kikkmdiu_b7f009e3754b84d31f86abd5fb17ff6e.jpg" width=80 height=80></a>						</dt>
<dd class="fl"><P class="map mb10 color6">偏浪漫，甜美的风格，也属于韩式，婚纱很漂亮，笑容很迷人</P>
<p>
<a href="http://haodian.19lou.com/profile/thread/108901339102279154/231401350289329800/1/1" target="_blank" class="btn">去看看</a>
</p></dd></dl></div>

	
<div class="ilike">	
<h4><a href="http://haodian.19lou.com/profile/thread/177301338904710978/227201350288763181/1/1" target="_blank">站在对方的角度看彼此</a></h4>	
<dl>
<dt>
<a href="http://haodian.19lou.com/profile/thread/177301338904710978/227201350288763181/1/1" target="_blank"><img class="fl mr10" src="http://att3.citysbs.com/no/hangzhou/2012/10/15/16/164830_kikkmdiu_1533aa8b78aab053f06a913e54244566.jpg" width=80 height=80>							</a>
</dt>
<dd class="fl">
<P class="map mb10 color6">很特别的婚纱照，对换了彼此的服装，依旧不变的是爱</P><p>
<a href="http://haodian.19lou.com/profile/thread/177301338904710978/227201350288763181/1/1" target="_blank" class="btn">去看看</a></p></dd></dl></div>



<div class="ilike">	
<h4><a href="http://haodian.19lou.com/profile/thread/56901344486797790/51401350287272500/1/1" target="_blank">五彩斑斓的丰富婚礼</a></h4>	
<dl>
<dt>
<a href="http://haodian.19lou.com/profile/thread/56901344486797790/51401350287272500/1/1" target="_blank"><img class="fl mr10" src="http://att3.citysbs.com/no/hangzhou/2012/10/15/16/165042_kikkmdiu_3ca3f9394cdadc6c8b6a6d83eb99eb0d.jpg" width=80 height=80>							</a>
</dt>
<dd class="fl">
<P class="map mb10 color6">色调偏轻快愉悦，色彩也很大胆明亮，感觉很年轻活力哦</P><p>
<a href="http://haodian.19lou.com/profile/thread/56901344486797790/51401350287272500/1/1" target="_blank" class="btn">去看看</a></p></dd></dl></div>



<div class="ilike">	
<h4><a href="http://haodian.19lou.com/profile/thread/177301338904710978/232701350274201826/1/1" target="_blank">王子与公主的婚礼</a></h4>	
<dl>
<dt>
<a href="http://haodian.19lou.com/profile/thread/177301338904710978/232701350274201826/1/1" target="_blank"><img class="fl mr10" src="http://att3.citysbs.com/no/hangzhou/2012/10/15/16/165640_kikkmdiu_a08f6752486c6822a8a8a530d03e5b30.jpg" width=80 height=80>							</a>
</dt>
<dd class="fl">
<P class="map mb10 color6">女人的成功之处在于，找到一个对待自己像对待公主般的男人</P><p>
<a href="http://haodian.19lou.com/profile/thread/177301338904710978/232701350274201826/1/1" target="_blank" class="btn">去看看</a></p></dd></dl></div>
</div>	
</div>
<!--==E 你可能喜欢的 -->
		
	</div><!--=E 右边 编辑区 -->	  
    </div>		

<div id="topic-update" class="mb20">
	<div class="index-mod topic-box">
			<div class="topic-index-hd">
				<h3 class="mb20 ml15">开始分享我的婚纱秀</h3>
			</div>
			<table id="J_share" style="display:block;" ></table>
	</div>
</div>
</div>


{template yikatong:store/fang19/store_footer}