/**
 * @name: base-mod
 * @overview: 基础模块
 * @require: 无
 * @author: 高力
 */

/*=S HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]) {display:none;}
[hidden] {display:none;}
/*=E HTML5 */

/*=S 初始 */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td {margin:0;padding:0;}
body {background-color:#FFF;}
body,textarea {font:400 12px/1.5 Simsun,Arial;color:#333;}
a,a:visited {text-decoration:none;color:#333;cursor:pointer;}
a:hover {text-decoration:underline;color:#0657B2;}
em,i {font-style:normal;}
h1,h2,h3,h4,h5,h6,strong {font-weight:700;font-size:100%;}
label, input, select {vertical-align:middle;}
select{_vertical-align:top;}
img, button {background:none;border:0 none;vertical-align:middle;}
ol,ul {list-style:none;}
table,th,td,fieldset,legend {font-weight:400;border:0 none;border-collapse:collapse;}
pre {white-space:pre-wrap;}
/*=E 初始 */

/*=S 布局 */
.layout {margin:0 auto;width:980px;}
.iblock {display:inline-block;*display:inline;zoom:1;vertical-align:middle;}
.clearall {zoom:1;}
.clearall:after {content:".";display:block;clear:both;height:0;visibility:hidden;}
.pipe {padding:0 5px;font-style:normal;color:#d5d5d5;}
.vm {vertical-align:middle;}
.fl {display:inline;float:left;}
.fr {display:inline;float:right;}
.tl {text-align:left;}
.tr {text-align:right;}
.tc {text-align:center;}
.mt10 {margin-top:10px !important;}
.mb10 {margin-bottom:10px;}
.close {position:absolute;top:4px;right:10px;padding-top:15px;width:15px;height:0;background:url(../../forum/default/images/icon_common.png) no-repeat 4px 4px;overflow:hidden;z-index:9;cursor:pointer;}
.close:hover {background-position:4px -32px;}
.fix-ie6 {position:absolute;top:0;left:0;width:999px;height:999px;z-index:-1;background:none;border:0 none;_filter:Alpha(opacity=0);}
/*=E 布局 */

/*=S 文字 */
.color1 {color:#334F67;} /* 深蓝 */
.color2 {color:#8CA226;} /* 绿色 */
.color3 {color:#FC6D02;} /* 橙色 */

.color6 {color:#666;} /* 灰色 */
.color9 {color:#999;} /* 浅灰 */
.placeholder {color:#999 !important;} /* 输入框默认颜色 */
:-moz-placeholder {color:#999 !important;}
::-webkit-input-placeholder {color:#999 !important;} 

.yahei {font:700 16px/1.5 "Microsoft YaHei";}
.arial {font-family:Arial;}
.f12 {font-size:12px;}
.f14 {font-size:14px;}
.f16 {font-size:16px;}
.fb {font-weight:700;}
/*=E 文字 */

/*=S 链接 */
.link0 a, .link0 a:visited {color:#0657B2;} /* 蓝色 -> 橙色 */
.link0 a:hover {color:#FC6D02;}

.link1 a, .link1 a:visited, .link1 a:hover {color:#334F67;} /* 深蓝 -> 深蓝 */
.link2 a, .link2 a:visited, .link2 a:hover {color:#8CA226;} /* 绿色 -> 绿色 */
.link3 a, .link3 a:visited {color:#FC6D02;} /* 橙色 -> 蓝色 */
.link3 a:hover {color:#0657B2;}

.link6 a, .link6 a:visited {color:#666;} /* 灰色 -> 灰色 */
.link6 a:hover {color:#0657B2;}
.link9 a, .link9 a:visited {color:#999;} /* 浅灰 -> 浅灰 */
.link9 a:hover {color:#0657B2;}
/*=E 链接 */

/*=S 表单 */
.txt,.txtarea {padding:3px;outline:none;font-size:12px;line-height:14px;color:#333;border:1px solid #ddd;border-radius:3px;}
.txt {height:14px;}
.txt-large, .txt-middle {font-size:14px;}
.txt-large {height:22px;line-height:22px;}
.txt-middle {height:18px;line-height:18px;}
.txt:hover, .txt:focus, .txtarea:hover, .txtarea:focus {border-color:#7DBDE2;box-shadow:0 0 5px #7DBDE2;}
.error, .error:hover, .error:focus {border-color:#FFABAB;box-shadow: 0 0 5px #FFABAB;}
.checkbox, .radio {width:13px;height:13px;}
/*=E 表单 */

/*=S 公告 */
#announce {position:relative;height:29px;line-height:30px;background:#FFF2A7;text-align:center;font-weight:700;color:#FF4800;border-bottom:1px solid #E7CB5A;}
/*=E 公告 */

/*=S 广告 */
.ad-close {width:43px;height:15px;background:url(../../forum/default/images/img_ad/float_ad_closed.gif) 0 0 no-repeat;outline:none;z-index:1;}
.ad-embed-mask {position:absolute;top:0;left:0;width:100%;height:100%;background-color:#fff;opacity:0;filter:alpha(opacity=0);}
.ad-adjust-width {display:none;}
.head-ad{margin:0 auto;width:980px;*line-height: 0;*zoom:1;}

/*=S 浮动 */
.float-ad-wrap .float-ad {position:fixed;top:0;width:100px;height:315px;overflow:hidden;z-index:999;_position:absolute;}
.float-ad-wrap .float-ad-left {left:0;}
.float-ad-wrap .float-ad-right {right:0;}
.float-ad-wrap .float-ad-bottom {padding-top:15px;height:300px;top:auto;bottom:0;}
.float-ad .float-ad-close {position:absolute;bottom:0;}
.float-ad-bottom .float-ad-close {top:0;bottom:auto;}
.float-ad-left .float-ad-close {left:0;}
.float-ad-right .float-ad-close {right:0;}
.float-ad .ad-embed-mask {width:100px;height:300px;}
/*=E 浮动 */

/*=S 弹窗 */
.pop-ad {position:fixed;top:50%;left:50%;margin-top:-175px;margin-left:-250px;width:500px;height:350px;z-index:999;_position:absolute;overflow:hidden;}
.pop-ad .pop-ad-close {position:absolute;top:5px;right:5px;}
.pop-ad .pop-ad-content {position:relative;}
.pop-ad .ad-embed-mask {width:500px;height:350px;}
/*=E 弹窗 */

/*=S 页角 */
.corner-ad {position:fixed;bottom:0;right:0;_position:absolute;z-index:999;}
.corner-ad .corner-ad-thumbnail {width:100px;height:100px;outline:none;}
.corner-ad .corner-ad-main {width:300px;height:300px;outline:none;}
.corner-ad .corner-ad-thumbnail .ad-embed-mask {width:100px;height:100px;}
/*=E 页角 */

/*=S 背投 */
.projection-ad {display:none;position:relative;margin:0 auto;width:980px;}
.projection-ad .projection-ad-close {position:absolute;right:10px;top:10px;width:19px;height:19px;background:url(../../forum/default/images/img_ad/dk_ad_closed.gif) 0 0 no-repeat;outline:none;z-index:1;}
.projection-ad .projection-ad-replay {position:absolute;right:-60px;top:-10px;width:52px;height:19px;line-height:19px;text-align:center;background:url(../../forum/default/images/img_ad/bn_play.gif) 0 0 no-repeat;outline:none;}
.projection-ad .projection-ad-content {display:none;position:relative;margin-bottom:10px;height:400px;overflow:hidden;_zoom:1;}
.projection-ad .projection-ad-content .ad-embed-mask {width:980px;height:400px;}
/*=E 背投 */

/*=S 帖间 */
.post-ad {position:relative;float:right;margin-left:10px;width:100px;height:300px;overflow:hidden;_display:inline;}
.post-ad .ad-embed-mask {width:100px;height:300px;}
/*=E 帖间 */

/*=S 帖内 */
.ad650-60 {margin-bottom:10px;width:650px;height:60px;overflow:hidden;}
.ad100-300 {float:right;margin-left:10px;width:100px;height:300px;overflow:hidden;}
/*=E 帖内 */

/*=S 回复区 */
.reply-ad {float:right;margin-right:15px;width:100px;height:240px;overflow:hidden;_display:inline;}
/*=E 回复区 */

/*=S 横幅 */
.ad {margin-bottom:10px;position:relative;overflow:hidden;}
.ad-980x90,.ad-980x60,.ad-650x60 {position:relative;margin:0 auto;width:980px;overflow:hidden;}
.ad-980x90 {margin-bottom:10px;height:90px;}
.ad-980x60 {margin-bottom:10px;height:60px;}
.ad-740x60 {width:740px;height:60px;}
.ad-230x60 {width:230px;height:60px;}
.ad-650x60 {margin-left:5px;width:650px;margin-bottom:10px;height:60px;}
.ad-980x90 .ad-embed-mask, .ad-980x60 .ad-embed-mask {width:980px;}
.ad-980x90 .ad-embed-mask{height:90px;}
.ad-980x60 .ad-embed-mask, .ad-650x60 .ad-embed-mask {height:60px;}
.ad-170x60 {width:680px;overflow:hidden;}
.ad-170x60 li {float:left;width:170px;height:60px;overflow:hidden;}
.ad-170x60 .ad-embed-mask {width:170px;height:60px;}
.ad-190x60 {margin:auto;width:985px;overflow:hidden;line-height:0;font-size:0;}
.ad-190x60 li {float:left;position:relative;margin:0 7px 10px 0;*margin-bottom:0;*padding-bottom:10px;width:190px;height:60px;overflow:hidden;*zoom:1;}
.ad-190x60 li.adv-320-60{margin-right:10px;width:320px;}
.ad-190x60 li.adv-410-60{margin-right:10px;width:410px;}
.ad-190x60 li.adv-230-60{margin-right:0;width:230px;}
.ad-190x60 .ad-embed-mask {width:190px;height:60px;}
.ad-230x180, .ad-230x180 .ad-embed-mask {width:230px;height:180px;}
.ad-680x90 {margin:0 auto;width:980px;overflow:hidden;_zoom:1;}
.ad-680x90 li {float:left;position:relative;margin-bottom:10px;*margin-bottom:0;*padding-bottom:10px;width:140px;height:90px;overflow:hidden;}
.ad-680x90 .ad-main {float:left;margin:0 10px 10px;width:680px;height:90px;overflow:hidden;}
.ad-680x90 .ad-main .ad-embed-mask{width:680px;height:90px;}
.ad-230x60, .ad-740x60 {margin-bottom:10px;height:60px;overflow:hidden;}
.ad-230x60{width:230px;}
.ad-740x60{width:740px;}
/*=E 横幅 */

/*=E 广告 */

/*=S go-top*/
.go-top {position:fixed;right:15px;bottom:-62px;text-align:center; z-index:998;_position:absolute;border-radius:5px;box-shadow:0 0 5px rgba(0,0,0,0.1);}
	.go-top a {display:block;padding:5px;outline:none;line-height:14px;width:18px;color:#8ca226;border:1px solid #d9e6bb;background-color:#f7fbec;overflow:hidden;}
	.go-top a:visited {color:#8ca226;}
	.go-top a:hover {text-decoration:none;color:#fff;border-color:#8ca226;background-color:#8ca226;}
	.go-top .icon {display:block;background:url(../../forum/default/images/icon_common.png) 0 0 no-repeat;overflow:hidden;margin-bottom:2px;}
	.go-top .customer {border-radius:5px 5px 0 0;border-bottom:none;}
	.go-top .go-top-btn {height:50px;border-radius:0 0 5px 5px;overflow:hidden;}
	.go-top .customer .icon {width:18px;height:16px;background-position:2px -1480px;}
	.go-top .customer:hover .icon {background-position:2px -1516px;}
	.go-top .go-top-btn .icon {width:18px;height:6px;background-position:4px -1552px;}
	.go-top .go-top-btn:hover .icon {background-position:4px -1588px;}
/*=E go-top*//*=S page-mod */
.page-mod .page-prev, .page-mod .page-next, .page-mod .page-last, .page-mod button, .view-ctrl .return {background:url(../../forum/default/images/bg_pages.png) no-repeat;}

.page-mod, .view-ctrl .return {margin-top:10px;line-height:19px;font-family:"Arial";}
	.page-mod a, .page-mod strong, .view-ctrl .return {float:left;margin-right:2px;padding:0 6px;height:19px;font-size:14px;line-height:19px;border-width:1px;border-style:solid;color:#8F8F8F;border-color:#E3E4DD;background-color:#FFF;overflow:hidden;}
	.page-mod a:visited, .view-ctrl .return:visited {color:#8F8F8F;}
	.page-mod strong, .page-mod a:hover, .view-ctrl .return:hover {background-color:#839B1B;border-color:#839B1B;color:#FFF;font-weight:400;text-decoration:none;}
/*	.page-mod .page-prev, .page-mod .page-last, .view-ctrl .return {padding:0 0 0 19px;width:0;background-color:#FFF;}*/
	.page-mod .page-prev, .page-mod .page-last{padding:0;width:19px;text-indent:-999px;background-color:#FFF;}
	.page-mod .page-next {padding:0 14px 0 7px;font-size:12px;background-color:#FFF;}

	.view-ctrl .return {float:right;padding:0 7px 0 14px;width:auto;font-size:12px;}
	.page-mod .page-prev, .view-ctrl .return {background-position:7px -26px;}
		.page-mod .page-prev:hover, .view-ctrl .return:hover {background-position:-21px -51px;}
	.page-mod .page-last {background-position:6px -58px;}
		.page-mod .page-last:hover {background-position:-18px -83px;}
	.page-mod .page-next {background-position:47px 6px;}
		.page-mod .page-next:hover {background-position:19px -19px;}

	.page-mod .page-go {float:left;padding-left:3px;height:21px;font-size:12px;line-height:21px;overflow:hidden;}
		.page-mod .page-go em {float:left;height:21px;line-height:21px;color:#5A5A5A;}
		.page-mod .txt {float:left;margin:0 5px;width:35px;height:13px;}
		.page-mod button {float:left;cursor:pointer;margin-left:5px;padding:0;width:35px;height:21px;font-size:12px;color:#5A5A5A;background-position:0 -129px;}

/*=E page-mod */
/*=S slide-player */
.slide-player {position:relative;overflow:hidden;}
    .slide-player .slide-item {position:absolute;top:0;left:0;width:100%;height:100%;}
        .slide-player .slide-item a, .slide-player .slide-item a:visited {display: block;width:100%;height:100%;color:#FFF;}
        .slide-player .slide-item a:hover {color:#FFF;text-decoration:none;}
        .slide-player .slide-item img{width:100%;height:100%;}
        .slide-player .slide-item span {position:absolute;left:0;bottom:0;display:block;width:100%;height:21px;text-indent:5px;line-height:21px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000', endColorstr='#66000000');background:rgba(0,0,0,0.4);}
        :root .slide-player .slide-item span {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#00000000', endColorstr='#00000000');}
    .slide-player .slide-page {position:absolute;right:0;bottom:3px;}
        .slide-player .slide-page a, .slide-player .slide-page a:visited {float:left;margin-right:3px;width:15px;height:14px;text-align:center;font:700 12px/15px Simsun;background:#FFF;overflow:hidden;}
        .slide-player .slide-page .trigger, .slide-player .slide-page .trigger:visited {text-decoration:none;color:#FFF;background:#FF7D01;}
/*=E slide-player */
/*=S 表情 */			
.smiley-mod {position:absolute;top:25px;left:0;padding:10px 0 10px 10px;width:274px;border:1px solid #D9E6BB;background:#FFF;}
	.smiley-hd {display:none;position:absolute;right:-74px;bottom:0;border:1px solid #B5CE85;background-color:#FFF;}
		.smiley-hd p {display:table-cell;*display:block;width:64px;height:64px;vertical-align:middle;text-align:center;*font-size:55px;}
	.smiley-bd {overflow:hidden;}
		.smiley-mod .smiley-bd li {cursor:pointer;display:inline;float:left;margin:0 8px 8px 0;padding:0;width:auto;clear:none;background-color:#FFF;}
		.smiley-mod .smiley-bd a {display:table-cell;*display:block;width:24px;height:24px;vertical-align:middle;text-align:center;*font-size:21px;border:1px solid #FFF;}
		.smiley-mod .smiley-bd a:hover {border-color:#B5CE85;}
	.smiley-ft {clear:both;margin:5px 10px 0 0;text-align:right;line-height:16px;overflow:hidden;}
		.smiley-ft a {display:inline-block;_display:inline;_zoom:1;margin-left:5px;padding:1px 5px;font-family:"Arial";border:1px solid;font-family:Arial;color:#8F8F8F;border-color:#DDD;background-color:#FFF;}
		.smiley-ft a.select, .smiley-ft a:hover {text-decoration:none;color:#FFF;border-color:#839B1B;background-color:#839B1B;}
/*=E 表情 */
/*=S footer */
.footer {clear:both;margin:20px auto 0;padding:0 0 20px;text-align:center;line-height:20px;border-top:1px solid #DBDBDB;background:#F3F3F3;}
.footer p {margin-bottom:10px;}
.foot-logo img {border:1px solid #DBDBDB;}
.footer div.footer-bar{margin-bottom:8px;height:8px;overflow:hidden;background:#F3F3F3;background:-moz-linear-gradient(top, #E6E6E6, #F3F3F3);background:-webkit-gradient(linear, 0 0, 0 bottom, from(#E6E6E6), to(#F3F3F3));background:-o-linear-gradient(top, #E6E6E6, #F3F3F3);}
.footer-link {margin:0 auto;width:980px;text-align:center;}
.footer-link div{text-align:left;}
.footer-link div a{display:inline-block;padding:0 3px;border-radius:3px;}
.footer-link div a:hover{background:#808080;color:#fff;text-decoration:none;}
.foot-home{margin-right:15px;}
.foot-home img{margin:5px 0 0 65px;}
.footer .pipe{padding:0 1px;}
/*=E footer */

/*=S 弹窗 */
/* win-table */
.win-table th, .win-table td {padding:5px 0;}
	.win-table th {width:80px;font-weight:normal;text-align:right;vertical-align:top;}
	.win-table textarea {width:240px;height:60px;}
	.win-table label {margin-right:5px;}
	.win-table label input {vertical-align:-2px;}

/* 通用数据列表 */
.win-data {_zoom:1;overflow:hidden;}
	.win-data li {float:left;width:110px;height:20px;line-height:20px;overflow:hidden;}
	.win-data-long li {width:150px;}


.win {position:relative;z-index:99;}
.win-mod {position:absolute;width:350px;overflow:hidden;z-index:1002}
	.win-hd, .win-bd {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33333333', endColorstr='#33333333');background:rgba(51,51,51,0.2);zoom:1}
    :root .win-hd, :root .win-bd {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#00000000', endColorstr='#00000000');}
	.win-hd {position:relative;padding:7px 7px 0 7px;border-top-left-radius:4px;border-top-right-radius:4px;}
		.win-hd h3 {cursor:move;text-indent:10px;height:31px;font:700 14px/31px "Simsun";color:#334F67;background:url(../../forum/default/images/repeat_common.gif) repeat-x;}
		.win-hd .close {position:absolute;top:15px;right:15px;}
	.win-bd {padding:0 7px 7px 7px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
		.win-cont, .win-btn {background-color:#FFF;overflow:hidden;}
			.win-cont {padding:10px;}
				.win-form {}
					.win-form li {height:22px;line-height:23px;}
					.win-form .lab {float:left;width:70px;height:22px;font-weight:normal;text-align:right;}
				.win-alert {position:relative;padding-left:68px;height:46px;}
					.win-alert .smiley {position:absolute;top:0;left:0;}
					.win-alert .msg {display:inline-block;font-size:14px;font-weight:bold;color:#334F67;}
					.win-alert .tip {font:100 12px/30px "Simsun";}
			.win-btn {padding-bottom:10px;text-align:center;}
				.win-btn a {margin-right:10px;}
			.win-tip {color:#FC6D02;}
	.win-mask {position:absolute;top:0;left:0;filter:alpha(opacity=50);opacity:0.5;background-color:#333;z-index:1001}
/*=E 弹窗 */

/* 登录弹窗 */
#win-login .login-name {margin-bottom:15px;}
#win-login .login-pass {margin-bottom:10px;}
#win-login .login-auto {padding-left:70px;}
#win-login .win-btn {padding-left:80px;text-align:left;}
#win-login .txt{width:140px;height:18px;}

#win-login .login-related{padding:8px 0px 0px 70px;height:24px;line-height:24px;}
#win-login a.account-qq, #win-login a.account-sina{display:inline-block;padding-left:25px;height:24px;line-height:24px;background:url(../../forum/default/images/view_icon.png) 5px -250px no-repeat;}
#win-login a.account-qq{background-position:5px -1654px;}

/* 举报弹窗 20120910更新 */
#win-report {overflow: visible;}
#win-report .win-hd {padding:5px 5px 0;border-top-left-radius:8px;border-top-right-radius:8px;}
#win-report .win-hd h3 {padding:15px 10px 10px;font:400 22px/22px "Microsoft YaHei","Simhei";border-top-left-radius:4px;border-top-right-radius:4px;border-bottom:1px solid #dadada;color:#000;background:#fff;}
#win-report .win-hd .close,#win-report .win-hd .close:visited{padding-top:28px;top:-10px;right:-10px;*top:5px;*right:10px;width:28px;background:url(images/icon.png) -28px -343px no-repeat;*background:url(images/icon.png) left -343px no-repeat;}
#win-report .win-hd .close:hover{background-position:-28px -376px;*background-position:left -376px;}
#win-report .win-hd,#win-report .win-bd {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B33639', endColorstr='#B33639');background:rgba(187,31,35,0.6);}
		#win-report .win-bd{padding:0 5px 5px;font:400 12px/20px Simsun;color:#666;}
		#win-report .win-btn {border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
#win-report .win-form {padding:0 15px;}
#win-report .win-form li {height:auto;}
#win-report .report-list {color:#333;}
#win-report .report-name {margin-bottom:10px;}
#win-report .report-name strong {font-size:14px;color:#333}
#win-report .report-name p {margin-top:5px;}
#win-report .report-reason {height:88px;}
#win-report .report-reason p {margin:10px 0 5px 0;}
#win-report .report-reason textarea {width:460px;height:80px;}
#win-report .win-btn {padding-left:26px;text-align:left;}
/* 私信弹窗 */
#win-sms {width:415px;}
#win-sms .sms-user {margin-bottom:10px;}
#win-sms .sms-title, #win-sms .sms-content {margin-bottom:15px;}
#win-sms .sms-content {height:88px;}
#win-sms .textarea {width:277px;height:80px;}
#win-sms .sms-login .txt {float:left;width:80px;}
#win-sms .lab-pass {width:45px;}
#win-sms .win-btn {padding-left:80px;text-align:left;}

/* 评分弹窗 */
#win-rate {width:420px;}
#win-rate .rate-prestige, #win-rate .rate-gold, #win-rate .rate-reason {margin-bottom:10px;}
#win-rate .rate-prestige {position:relative;height:34px;line-height:34px;}
    .prestigeList, .prestigeList ul {float:left;}
    .prestigeList ul {width:120px;overflow:hidden;}
        .prestigeList li {margin-bottom:2px;height:16px;vertical-align:middle;text-align:center;line-height:16px;}
            .prestigeList li a, .prestigeList li span {float:left;margin-right:5px;width:17px;height:14px;color:#8CA226;border:1px solid #DBDBDB;background:url(../../forum/default/images/bg_btn.png) repeat-x 0 -391px;overflow:hidden;}
            .prestigeList li a:hover {text-decoration:none;color:#FFF;background-position:0 -446px;border-color:#8BA159;}
            .prestigeList li span {cursor:pointer;color:#DDD}
    #win-rate .ratePrestige {width:25px;}
#win-rate .rateGold {width:30px;}
#win-rate .rate-reason {height:70px;}
    #win-rate #rateReason {height:62px;width:270px;}
#win-rate .select-reason {height:65px;overflow:hidden;}
    #win-rate #selectReason {float:left;width:200px;height:63px;border:1px solid #DDD;overflow:hidden;}
    #win-rate #selectReason li {text-indent:3px;height:21px;line-height:21px;color:#666;cursor:pointer;}
    #win-rate #selectReason .hover {background:#8CA226;color:#FFF}
#win-rate .rate-sms {margin-top:5px;padding-left:70px;color:#666;}
#win-rate .win-btn {padding-left:80px;text-align:left;}
#win-rate .rate-prestige .popo-mod {position:absolute;top:-5px;right:0px;line-height:18px;}

/* 收藏弹窗 */
#win-favorite {width:275px;}
#win-favorite .msg {margin-top:5px;}
#win-favorite .win-btn {padding-left:80px;text-align:left;}

/* 转发弹窗 */
#win-forward {width:400px;overflow:hidden;}
	#forward-cont {width:366px;overflow:hidden;}
		#forward-cont li {margin-bottom:15px;height:auto;}
		#forward-cont p {margin-bottom:5px;}
		#forward-cont .txt {width:358px;}
		#forward-cont textarea {height:50px;}
		#forward-cont label input {vertical-align:-2px;}
		#forward-cont .select-photo {width:376px;overflow:hidden;_zoom:1;}
			#forward-cont .select-photo a {display:block;position:relative;float:left;margin-right:10px;width:80px;height:80px;border:1px solid #e8e8e8;overflow:hidden;}
			#forward-cont .select-photo a:hover {border-color:#9dae51;}
			#forward-cont .select-photo .selected em {display:block;position:absolute;bottom:1px;left:1px;padding-top:15px;width:15px;height:0;background:url(../../forum/default/images/icon_common.png) no-repeat 0 -580px;overflow:hidden;}

/* 关注达人弹窗 */
#win-attention {width:610px;overflow:hidden;}
#win-attention .win-hd {width:610px;}

/*关注设置分组弹窗*/
#follow-group p{margin-bottom:15px;padding:10px;background-color:#EFF7F8;}

/*明日天气弹窗*/
#win-weather {width:514px;}

/*=S 登录弹窗按钮区隐藏-账号互通需要*/
#win-login .win-btn{display:none;}
/*=E 登录弹窗按钮区隐藏-账号互通需要*/

/*=E 弹窗 */

/*=S popo-mod */
.popo-mod .popo-aw {background:url(../../forum/default/images/icon_common.png) no-repeat;}
.popo-mod {position:absolute;width:250px;background:#FFFCE9;color:#666;}
	.popo-rim {margin:0 1px;height:0;border-top:1px solid #edddab;overflow:hidden;}
	.popo-bd {position:relative;padding:6px 8px;_height:18px;border:1px solid #edddab;border-width:0 1px;}
		.popo-mod .popo-aw {position:absolute;left:36px;bottom:-6px;width:11px;height:7px;background-position:0 -288px;overflow:hidden;}
		.popo-up .popo-aw {top:-5px;left:auto;right:36px;background-position:0 -252px;}
		.popo-left .popo-aw, .popo-right .popo-aw {top:15px;width:6px;height:10px;overflow:hidden;}
		.popo-left .popo-aw {left:-5px;background-position:0 -324px;}
		.popo-right .popo-aw {left:auto;right:-5px;background-position:0 -360px;}
	.popo-mod .close {right:5px;}
/*=E popo-mod */
/*=S button */
.submit-btn, .submit-btn span, .reply-btn, .reply-btn span, .option-btn, .option-btn span, .confirm-btn, .confirm-btn span, .options-btn, .options-btn span {background:url(../../forum/default/images/bg_btn.png) no-repeat;}

.confirm-btn, .options-btn, .submit-btn, .reply-btn, .option-btn {display:inline-block;_display:inline;zoom:1;padding-left:10px;height:25px;vertical-align:middle;overflow:hidden;}
	.confirm-btn:hover, .options-btn:hover {text-decoration:none;}
	.confirm-btn span, .options-btn span, .submit-btn span, .reply-btn span, .option-btn span {cursor:pointer;float:left;padding-right:10px;height:25px;line-height:25px;font:700 12px/25px "Simsun";}

		.confirm-btn {background-position:0 -420px;}
		.confirm-btn span {color:#FFF;background-position:right -445px;}
		.confirm-btn:hover {background-position:0 -470px;}
		.confirm-btn:hover span {background-position:right -495px;}

		.options-btn {background-position:0 -520px;}
		.options-btn span {color:#334f67;background-position:right -545px;}
		.options-btn:hover {background-position:0 -570px;}
		.options-btn:hover span {background-position:right -595px;}

		.disabled-small span, .disabled-small:hover span {cursor:default;color:#666;background-position:right -705px;}
		.disabled-small .loading, .disabled-small:hover .loading {margin:4px 0;padding:16px 5px 0 0;width:16px;height:0;background:url(../../forum/default/images/btn_loading.gif) no-repeat;overflow:hidden;}
		.disabled-small, .disabled-small:hover {background-position:0 -680px;}
	
.submit-btn, .reply-btn, .option-btn {height:30px;}
	.submit-btn:hover, .reply-btn:hover, .option-btn:hover {text-decoration:none;}
	.submit-btn span, .reply-btn span, .option-btn span {height:30px;font:700 14px/30px "Simsun";}

		.submit-btn span {background-position:right -30px;color:#FFF;}
		.submit-btn:hover {background-position:0 -90px;}
		.submit-btn:hover span {background-position:right -120px;}

		.option-btn {background-position:0 -300px;}
		.option-btn span {color:#334f67;background-position:right -330px;}
		.option-btn:hover {background-position:0 -360px;}
		.option-btn:hover span {background-position:right -390px;}

		.newthread .submit-btn span {padding-right:30px;background-position:right -60px;}
		.newthread .submit-btn:hover span {background-position:right -150px;}

		.reply-btn {background-position:0 -180px;}
		.reply-btn:hover {background-position:0 -240px;}
			.reply-btn span {color:#654302;background-position:right -210px;}
			.reply-btn:hover span {background-position:right -270px;}

		.disabled-big, .disabled-big:hover {background-position:0 -620px;}
		.disabled-big span, .disabled-big:hover span {cursor:default;color:#666;background-position:right -650px;}
		.disabled-big .loading, .disabled-big:hover .loading {margin:7px 0;padding:16px 5px 0 0;width:16px;height:0;background:url(../../forum/default/images/btn_loading.gif) no-repeat;overflow:hidden;}
.option-btn-s, .option-btn-s:visited {display:inline-block;*display:inline;zoom:1;vertical-align:middle;padding-left:3px;height:16px;line-height:17px;color:#333;background:url(../../forum/default/images/bg_btn.png) 0px -730px no-repeat;overflow:hidden;}
		.option-btn-s span {float:left;padding:0 8px 0 5px;cursor:pointer;zoom:1;background:url(../../forum/default/images/bg_btn.png) right -746px no-repeat;}
	.option-btn-s:hover {text-decoration:none;color:#333;}
/*=E button */

/*=S 提示 */
.tips-mod strong, .tips-mod i {background:url(../../forum/default/images/bg_common.png) no-repeat;_background:url(../../forum/default/images/bg_common_ie6.png) no-repeat;}
.tips-mod, .tips-mod strong, .tips-mod i, .tips-mod em {display:inline-block;_display:inline;_zoom:1;height:73px;}
.tips-mod {position:fixed;top:40%;left:0;width:100%;font:400 16px/73px "Microsoft Yahei","SimHei";text-align:center;z-index:100;}
	.tips-mod strong {position:relative;margin:0 auto;background-repeat:repeat-x;background-position:0 -908px;}
	.tips-mod em {padding-left:45px;background:url(../../forum/default/images/icon_common.png) no-repeat 0 -1834px;color:#333;font-weight:400;}
	.tips-mod .tips-warn, .tips-mod .tips-error {background-position:0 -1906px;color:#C0880F;}
	.tips-mod i {position:absolute;top:0;left:-20px;width:20px;background-position:0 -835px;text-indent:-999px;overflow:hidden;}
	.tips-mod .tips-rs {left:auto;right:-20px;background-position:-34px -835px;}	
	.g-mask {position:fixed;_position:absolute;left:0;top:0;width:100%;background:#000;background:-webkit-radial-gradient(center,rgba(0,0,0,0.3),rgba(0,0,0,1) 80%);background:-moz-radial-gradient(center,rgba(0,0,0,0.3),rgba(0,0,0,1) 80%);background:radial-gradient(center,rgba(0,0,0,0.3),rgba(0,0,0,1) 80%);opacity:.6;filter:alpha(opacity=40);z-index:99;}
/*=E 提示 */
/*=S calendar */
#calendar-box .header, #calendar-box .calendar-prevmonth, #calendar-box .calendar-nextmonth, #calendar-box #year, #calendar-box #month, #calendar-box .today a,  #calendar-box .checked a, #calendar-box .altbg2 a, .foot-cal a {background:url(../../forum/default/images/bg_calendar.png) no-repeat;}

#calendar {font:12px Arial,sans-serif;}
	#calendar-box {display:none;position:absolute;z-index:1001;}
		#calendar-box .tableborder {width:100%;border-collapse:collapse;border:1px solid #d9e6bb;background:#fff;}
		#calendar-box .header {height:24px;border-bottom:1px solid #d9e6bb;text-align:center;color:#9d9d9d;background-repeat:repeat-x;}
			#calendar-box .header .calendar-prevmonth, #calendar-box .header .calendar-nextmonth {display:block;margin:0 auto;width:15px;height:15px;overflow:hidden;}
			#calendar-box .calendar-prevmonth {text-indent:-999px;background-position:0 -72px;}
			#calendar-box .calendar-nextmonth {text-indent:-999px;background-position:0 -108px;}
			#calendar-box #year, #calendar-box #month {padding-right:10px;font-weight:700;background-position:right -140px;color:#839b1b;}	
		#calendar-box .category {height:21px;font-size:12px;}
		#calendar-box .today, #calendar-box .checked, #calendar-box .altbg2 td {width:30px;height:21px;}
		#calendar-box .today a,  #calendar-box .checked a, #calendar-box .altbg2 a, .foot-cal a {display:block;margin:0 auto;width:22px;height:16px;line-height:16px;border:1px solid #DDD;color:#334f67;background-repeat:repeat-x;background-position:0 -36px;overflow:hidden;}
		#calendar-box .today a,  #calendar-box .checked a, #calendar-box .altbg2 a:hover,.foot-cal a:hover {background:#839b1b;border:1px solid #839b1b;color:#FFF;text-decoration:none;}
		#calendar-box .altbg2 .expire {visibility:visible;}
			#calendar-box .altbg2 .expire a , #calendar-box .altbg2 .expire a:hover {background-color: #F2F2F2;border-color: #F2F2F2;color: #999;}
		#calendar-box #hourminute {float:left;margin-left:12px;height:25px;font-size:12px;}
			#hourminute input {margin:0 4px;width:20px;text-align:center;border:1px solid #e2e2e2;color:#334F67;background:#fff;}
	.calendar-select {display:none;position:absolute;width:55px;height:240px;overflow-x:hidden;overflow-y:scroll;line-height:18px;border:1px solid #b5ce85;background:#fff;z-index:1002;}
		.calendar-select a {float:left;margin-bottom:4px;padding-left:5px;width:50px;height:18px;overflow:hidden;}
		.calendar-select a:hover {color:#fff;background:#b5ce85;text-decoration:none;}
		.expire{visibility:hidden;}
		.foot-cal {border-top:1px solid #d9e6bb;padding-top:5px;_padding-bottom:5px;}
			.foot-cal a {display: inline-block;width: 35px;}
/*=S calendar */

