<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$_G['charset']" />
<title>入驻</title>
<meta name="keywords" content="{$_G['setting']['seokeywords']}" />
<meta name="description" content="{$_G['setting']['seodescription']}" />
<link href="{$plugin_config['csspath']}/style/css/common.css" media="screen" rel="stylesheet" type="text/css" />
<link href="{$plugin_config['csspath']}/style/css/br_join.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8"  src="{$plugin_config['jspath']}/jquery.js"></script>
<script charset="utf-8" type="text/javascript">var jq = jQuery.noConflict();</script>
<script type="text/javascript" charset="utf-8"  src="{$plugin_config['jspath']}/common.js"></script>
</head>

<body>

<div id="investment">
	<div class="zs_main  <!--{if $_GET['do']=='attend'}-->zs_register<!--{/if}-->">
		<img src="{$plugin_config['imagespath']}/zs_head.jpg" alt="" width="978" height="137" />
		<img src="{$plugin_config['imagespath']}/zs_setp_2_1.png" alt="" width="398" height="60" />
		<img src="{$plugin_config['imagespath']}/zs_setp_1_2.jpg" alt="" width="345" height="60" />
		<img src="{$plugin_config['imagespath']}/zs_setp_1_3.jpg" alt="" width="237" height="60" />
		<div class="content">
			<div class="step1">
				<!--<h3>1.申请基本信息</h3>-->
				<p><span>熟悉品牌空间</span><span>按开放的行业提交店铺申请</span><span>审核通过，成功开店</span></p>
			</div>
			<div class="step2">
				<h3>2.走进品牌空间</h3>
				<dl>
					<dt><img src="{$plugin_config['imagespath']}/zs_step2_cont1.jpg" alt="" width="167" height="183"></dt>
					<dd>
						<p>尊敬的商家，您好！感谢您关注品牌空间！<br /><br />品牌空间是我们为商家提供的网络展示空间，您可以在此发布热门商品、促销活动和公司动态。每个店铺与实际商家一一对应，您发布的任何信息都能第一时间传递给目标消费者。快速的信息传递速度，在促进店铺销售的同时又能帮助您提升品牌价值！<br />通过品牌空间，商家与消费者有了更多的交流机会，大大提高了商家在本地的知名度、美誉度、亲和力，迅速提升商家在消费市场的口碑与活跃度。入驻品牌空间将为您的店铺提供更多机遇、更多消费者！再次感谢您选择入驻品牌空间，我们将竭诚为您服务。</p>
					</dd>
				</dl>
			</div>
			<div class="step3">
				<h3>3.品牌空间提供什么服务</h3>
				<ul><li>帮助品牌运营商在本地最热门的网络媒体，“0”成本的创建一家“实体分店”！</li>
					<li class="s2">一对一为您的品牌聚集大量的忠实粉丝。通过互动交流平台，保证一条品牌粉丝与您“零”距离的畅通渠道。</li>
					<li class="s3">完善的店铺管理系统，让您及时发布公司新闻，各类促销信息，品牌推广活动等内容。</li>
		</ul>
			</div>
			<div class="step4"> <a href="plugin.php?id=yikatong:brand&mod=attend&do=attend" title="">$lang['attend_send']</a> </div>
		</div>
		<div class="bottom"> <img src="{$plugin_config['imagespath']}/zs_cbottom.jpg" alt="" width="980" height="40">
			<div>
				<h5>联系我们：</h5>
				 <span>服务热线：<strong>$_G['setting']['sitetel']</strong></span> <span>客服QQ：<strong>$_G['setting']['siteqq']</strong></span>
				<!--{if $_G['setting']['miibeian']}-->
				<span><a href="http://www.miibeian.gov.cn" target="_blank">$_G['setting']['miibeian']</a></span>
				<!--{/if}-->
				 
			</div>
		</div>
		<div class="foot"> <img src="{$plugin_config['imagespath']}/zs_bottom.jpg" alt="" width="980" height="18"> </div>
	</div>
	<div class="safety_line"></div>
</div>
<div style="display:none;"></div>


</body>
</html>