<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$_G['charset']" />
<title>入驻</title>
<meta name="keywords" content="{$_G['setting']['seokeywords']}" />
<meta name="description" content="{$_G['setting']['seodescription']}" />
<link href="{$plugin_config['csspath']}/style/css/common.css" media="screen" rel="stylesheet" type="text/css" />
<link href="{$plugin_config['csspath']}/style/css/br_join.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8"  src="{$plugin_config['jspath']}/jquery.js"></script>
<script charset="utf-8" type="text/javascript">var jq = jQuery.noConflict();</script>
<script type="text/javascript" charset="utf-8"  src="{$plugin_config['jspath']}/common.js"></script>
<script type="text/javascript">var STYLEID = '{STYLEID}', STATICURL = '{STATICURL}', IMGDIR = '{IMGDIR}', VERHASH = '{VERHASH}', charset = '{CHARSET}', discuz_uid = '$_G[uid]', cookiepre = '{$_G[config][cookie][cookiepre]}', cookiedomain = '{$_G[config][cookie][cookiedomain]}', cookiepath = '{$_G[config][cookie][cookiepath]}', showusercard = '{$_G[setting][showusercard]}', attackevasive = '{$_G[config][security][attackevasive]}', disallowfloat = '{$_G[setting][disallowfloat]}', creditnotice = '<!--{if $_G['setting']['creditnotice']}-->$_G['setting']['creditnames']<!--{/if}-->', defaultstyle = '$_G[style][defaultextstyle]', REPORTURL = '$_G[currenturl_encode]', SITEURL = '$_G[siteurl]', JSPATH = '$_G[setting][jspath]';</script>
<script src="static/js/common.js" type="text/javascript"></script>
</head>

<body>
<div id="append_parent"></div><div id="ajaxwaitid"></div>
<div id="investment">
<div class="zs_main  zs_register">
<img src="{$plugin_config['imagespath']}/zs_head.jpg" alt="" width="978" height="137" />
<img src="{$plugin_config['imagespath']}/zs_setp_2_1.png" alt="" width="398" height="60" />
<img src="{$plugin_config['imagespath']}/zs_setp_1_2.jpg" alt="" width="345" height="60" />
<img src="{$plugin_config['imagespath']}/zs_setp_1_3.jpg" alt="" width="237" height="60" />
<div class="content">
<form id='form_attend' name='form_attend'  enctype="multipart/form-data" onsubmit="brandchecksubmit();return false;"  action="plugin.php?id=yikatong:brand&mod=attend&do=register" method="post">
	<div class="step1">
		<h4 id="opt_status_display">
		<!--{if !empty($_G['uid'])}-->
		温馨提醒：您现在登录的ID是&nbsp;{$_G['uid']}，请如实填写以下资料，否则不予通过。如果您想用其他ID管理店铺，请重新注册或更换ID。
		<!--{else}-->
		尊敬的用户，如果您已经是这里的会员，请点击“我已有账号”，输入正确的用户名和密码，然后填写“开店信息申请”。
		<!--{/if}-->
		</h4>
		<!--{if empty($_G['uid'])}-->
			<script>
				function close_newuser_area(close) {
					if (close) {
						jq('#tr_email').hide();
						jq('#tr_pwd_repeat').hide();
					} else {
						jq('#tr_email').show();
						jq('#tr_pwd_repeat').show();
					}
				}
			</script>
			<div class="account_select">
			<div class="new_user"><span><input onclick="close_newuser_area(false);" type="radio" name="existuser" id="existuser_0" checked value="0" /></span><label for="existuser_0">注册新账号</label></div>
			<div class="already_user"><span><input onclick="close_newuser_area(true);" type="radio" name="existuser" id="existuser_1" value="1" /></span><label for="existuser_1">我已有账号</label></div>
			</div>
			<table style="clear:both; float:left;">
			<tr>
			<th>用户名</th>
			<td>
			<label>
			<input type="text" name="username" id="username">
			<span id="span_username">*</span>
			</label>
			</td>
			</tr>
			<tr>
			<th>密　码</th>
			<td>
			<label>
			<input type="password" name="password" id="password">
			<span id="span_password">*</span>
			</label>
			</td>
			</tr>
			<tr id="tr_pwd_repeat">
			<th>重复密码</th>
			<td>
			<label>
			<input type="password" value="" name="password2" id="password_1">
			<span id="span_password_1">*</span>
			</label>
			</td>
			</tr>
			<tr id="tr_email">
			<th>邮件地址</th>
			<td>
			<label>
			<input type="text" value="" name="email" id="email">
			<span id="span_email">*</span>
			</label>
			</td>
			</tr>
			</table>
		<!--{/if}-->
	<table>
		<!--{loop $cacheinfo $column}-->
		<tr>
			<th>$column['fieldtitle']</th>
			<td>
				<label>
					<input type="text" id="$column['fieldname']" name="$column['fieldname']" value="$column['fieldvalue']" />
					<span id="span_$column['fieldname']"><!--{if ($column['isrequired'] == 1)}-->*<!--{/if}--></span>
				</label>
			</td>
		</tr>
		<!--{/loop}-->
	</table>

</div>
<div class="step2">
<h3>2.开店申请信息</h3>
<table>
<tr>
<th>店铺名称</th>
<td class="zs_nowarp" colspan="3">
<label>
<input type="text" id="subject" name="subject" value="" />
<span id="span_subject">*</span>
</label>
<em>&nbsp;如：XXX（品牌）服饰北京旗舰店，如：XXX美容北京加盟店等</em>
</td>
</tr>
<tr>
<th>店铺类别</th>
<td>
<label>
<div id="catdiv" style="width:700px;">
	<select id="catid" name="catid" onchange="ajaxget('plugin.php?id=yikatong:brand&mod=ajax&action=subcat&upid='+ this.value, 'subcat');">
		<option value="-1" selected="selected">请选择行业类别</option>
			<!--{loop $categorylist $cat}-->
			<!--{if $cat[upid] == 0}-->
			<option value="{$cat['catid']}" >{$cat['pre']}{$cat['name']}</option>
			<!--{/if}-->
			<!--{/loop}-->
	</select>
	<em id="subcat"></em>
<span id="span_catid">*</span>
</div>
</label>

</td>
</tr>
<tr>
<th>所在地区</th>
<td class="zs_nowarp" colspan="3">
<div id="regiondiv" style="width:700px;">
			
			<!-- {eval if(!in_array($site_prov,array(1,2,9,22))) {}-->
				<select id="distid" name="distid" onchange="ajaxget('plugin.php?id=yikatong:brand&mod=ajax&action=community&upid='+ this.value, 'community');" class="small_select">
					<option value="-1">请选择地区</option>
						<!--{loop $distlist $dist}-->
						<option value="{$dist['id']}" >{$dist['name']}</option>
						<!--{/loop}-->
				</select>
				<em id="community"></em>
				<span id="span_region">*</span>
			<!-- {eval }else{} -->
				<select id="cityid" name="cityid" onchange="ajaxget('plugin.php?id=yikatong:brand&mod=ajax&action=dist&upid='+ this.value, 'dist');" class="small_select">
					<option value="-1">请选择地区</option>
						<!--{loop $citylist $city}-->
						<option value="{$city['id']}" >{$city['name']}</option>
						<!--{/loop}-->
				</select>
				<em id="dist"></em>
				<em id="community"></em>
				<span id="span_region">*</span>
			<!-- {eval }} -->
			<em>&nbsp;{$prov_city}</em>
</div>


</td>
</tr>
<tr>
<th>店铺地址</th>
<td class="zs_nowarp" colspan="3">
<label>
<input type="text" id="address" name="address" value="" />
<span id="span_address">*</span>
</label>
</td>
</tr>
<tr>
<th>银行信息</th>
<td class="zs_nowarp" colspan="3">
<label>
<select id="applicantbank" name="applicantbank">
<option value="-1">请选择银行</option>
<!--{loop $banklist $k $bank}-->
<option value="{$k}" >{$bank}</option>
<!--{/loop}-->
</select>
<span id="span_bankclass">*</span>
</label>
</td>
</tr>
<tr>
<th>银行卡号</th>
<td class="zs_nowarp" colspan="3">
<label>
<input type="text" id="applicantbankid" name="applicantbankid" value="" />
<span id="span_bankid">*</span>
</label>
</td>
</tr>
</table>
</div>
<div class="step4">
<div id="ajax_status_display" style="padding:20px 0 0 75px;"></div>
<div class="zs_join"> <a href="javascript:;" onclick="jq('#form_attend').submit();">同意以下条款，并提交申请</a>
<label>
<div>《品牌空间加盟申请条款》<br /><br />1、申请商家承诺对提交的任何店铺信息真实、有效，无任何不良或虚假信息；<br />2、申请商家使用实名申请，同时对店铺经营的品牌、产品、活动及服务说明的任何承诺都独立承担相应的法律责任；<br />3、申请商家遵守所从事本行业的相关法律、法规及对消费者的相关服务条款，如行业三包服务等；<br />4、一旦有违规、违法现象发生或相关内容的发布，我方将有权对申请商家的店铺按管理要求进行处理。若情节严重，将转交相关责任部门登记备案。<br />5、各商家通过我方平台在接待网友消费时，若有违反当地法律、法规或存在消费纠纷等不良服务，我方有权对事件进行曝光。同时将积极协助消费者，配合当地政府相关监管机构进行合理维权。<br />6、已入驻品牌空间的商家，同时必须遵守本网站的管理规范和各分论坛版规要求。若有违规，品牌空间将给以站内警告、封号等处理意见；情况严重者，将关闭品牌空间平台使用权限。<br />7、我方拥有各申请商家的加盟申请、入驻建店、内容监督、违规处理等最终审核、复查、纠正等相关权利。<br /><br />以上信息，若有变动，我方将及时在线公布，恕不另行通知。</div>
</label>
</div>
<input type="hidden" name="formhash" value="b9717cbd" />
<input type="hidden" name="refer" value="" />
<input type="hidden" id="attendsubmit" name="attendsubmit" value="提交申请" />
</div>
</form>

<style>

</style>
</div>
<div class="bottom"> <img src="{$plugin_config['imagespath']}/zs_cbottom.jpg" alt="" width="980" height="40">
<div>
<h5>联系我们： </h5>
 <span>服务热线： <strong>13113890911</strong></span> <span>客服QQ： <strong>41875641</strong></span><span><a href="http://www.miibeian.gov.cn" target="_blank">冀ICP备12013434号</a></span></div>
</div>
<div class="foot"> <img src="{$plugin_config['imagespath']}/zs_bottom.jpg" alt="" width="980" height="18"> </div>
</div>
<div class="safety_line"></div>
</div>
<div style="display:none;"></div>
</body>
</html>

<script type="text/javascript">
	<!--{if $_GET['upid']}-->
		ajaxget('plugin.php?id=yikatong:brand&mod=ajax&action=subcat&upid=$_GET[upid]', 'subcat');
	<!--{/if}-->
	function brandchecksubmit(){


	}
</script>