<!--{template common/header}-->

<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="plugin.php?id={$plugin_config['plugin_name']}:brand">品牌空间</a> <em>&rsaquo;</em>
		<a href="plugin.php?id={$plugin_config['plugin_name']}:shopadmin">店铺管理</a> <em>&rsaquo;</em>
		<a href="plugin.php?id={$plugin_config['plugin_name']}:shopadmin&mod=shopedit">编辑店铺</a>
	</div>
</div>

<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<script type="text/javascript" src="{STATICURL}image/editor/editor_function.js?{VERHASH}"></script>
		
		<form action="plugin.php?id={$plugin_config['plugin_name']}:shopadmin&mod=shopedit" method="post" autocomplete="off" onsubmit="edit_save();" enctype="multipart/form-data">
			<input type="hidden" value="{FORMHASH}" name="formhash" />
			<table cellspacing="0" cellpadding="0" class="tfm" id="profilelist">
				<tr>
					<th>选择店铺</th>
					<td>{$shop_list}</td>
					<td></td>
				</tr>
				<!--{if $shop_info}-->
				<tr><script type="text/javascript" src="{$_G[setting][jspath]}bbcode.js?{VERHASH}"></script>
					<th>店铺名称</th>
					<td><input type="text" id="subjectmessage" name="subject" value="{$shop_info[subject]}" size="80">
					<script type="text/javascript" src="{$_G[setting][jspath]}seditor.js?{VERHASH}"></script>
					<div class="fpd">
					<a href="javascript:;" title="B" class="fbld" onclick="seditor_insertunit('subject', '[b]', '[/b]');doane(event);">B</a>
					<a href="javascript:;" title="A" class="fclr" id="subjectforecolor" onclick="showColorBox(this.id, 2, 'subject');doane(event);">Color</a>
					</div>
					
					
					
					
					
					
				</td>
					<td></td>
				</tr>
				<tr>
					<th>店铺地址</th>
					<td><input type="text" name="address" value="{$shop_info[address]}" size="40"></td>
					<td></td>
				</tr>
					<th>店铺电话</th>
					<td><input type="text" name="tel" value="{$shop_info[tel]}" size="40"></td>
					<td></td>
				</tr>
				<tr>
					<th>SEO关键字</th>
					<td><input type="text" name="keywords" value="{$shop_info[keywords]}" size="40"></td>
					<td></td>
				</tr>
				<tr>
					<th>SEO描述</th>
					<td><input type="text" name="description" value="{$shop_info[description]}" size="40"></td>
					<td></td>
				</tr>
				<tr>
					<th>店铺LOGO</th>
					<td><input type="file" name="subjectimage" value="{$shop_info[subjectimage]}" size="40">{$logohtml[subjectimage]}</td>
					<td></td>
				</tr>
				<tr>
					<th>店铺Banner</th>
					<td><input type="file" name="banner" value="{$shop_info[banner]}" size="40">{$logohtml[banner]}</td>
					<td></td>
				</tr>
				<tr>
					<th>橱窗海报图片1</th>
					<td><input type="file" name="windowsimg1" value="{$shop_info[windowsimg1]}" size="40">{$logohtml[windowsimg1]}</td>
					<td></td>
				</tr>
				<tr>
					<th>橱窗海报图片2</th>
					<td><input type="file" name="windowsimg2" value="{$shop_info[windowsimg2]}" size="40">{$logohtml[windowsimg2]}</td>
					<td></td>
				</tr>
				<tr>
					<th>橱窗海报图片3</th>
					<td><input type="file" name="windowsimg3" value="{$shop_info[windowsimg3]}" size="40">{$logohtml[windowsimg3]}</td>
					<td></td>
				</tr>
				<tr>
					<th>橱窗海报文字介绍</th>
					<td><input type="text" name="windowstext" value="{$shop_info[windowstext]}" size="40"></td>
					<td></td>
				</tr>
				<tr>
					<th>橱窗上方公告</th>
					<td><input type="text" name="tips" value="{$shop_info[tips]}" size="40"></td>
					<td></td>
				</tr>
				<tr>
				<th>微信二维码图片</th>
				<td><input type="file" name="weixin" value="{$shop_info[weixin]}" size="40">{$logohtml[weixin]}</td>
				<td></td>
				</tr>
				<tr>
					<th>店铺介绍</th>
					<td>
						<textarea class="pt" name="message" id="uchome-ttHtmlEditor" style="height:100%;width:100%;display:none;border:0">{$shop_info[message]}</textarea>
						<div style="border:1px solid #C5C5C5;height:300px;"><iframe src='home.php?mod=editor&charset={CHARSET}&allowhtml=$allowhtml&doodle={if $_G['setting']['magicstatus'] && !empty($_G['setting']['magics']['doodle'])}1{/if}' name="uchome-ifrHtmlEditor" id="uchome-ifrHtmlEditor" scrolling="no" border="0" frameborder="0" style="width:100%;height:100%;position:relative;"></iframe></div>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>申请人手机</th>
					<td><input type="text" name="applicantmobi" value="{$shop_info[applicantmobi]}" size="40"></td>
					<td></td>
				</tr>
				<tr>
					<th>申请人地址</th>
					<td><input type="text" name="applicantadd" value="{$shop_info[applicantadd]}" size="40"></td>
					<td></td>
				</tr>
				<tr>
					<th>店铺客服QQ</th>
					<td><input type="text" name="applicantqq" value="{$shop_info[applicantqq]}" size="40"></td>
					<td></td>
				</tr>
				<!--{/if}-->
				<tr>
					<th>&nbsp;</th>
					<td colspan="2">
					
					<button type="submit" name="shopeditsubmitbtn" id="shopeditsubmitbtn" value="true" class="pn pnc" /><strong>保存</strong></button>
					
					</td>
				</tr>
			</table>
		</form>

	
	
	
	</div>
	<div class="appl">
		<!--{template yikatong:site/fang19/shopadmin_nav}-->
	</div>
</div>


<!--{template common/footer}-->