<div class="tbn">
	<h2 class="mt bbda">店铺管理</h2>
	<ul>
		<!--
		<li{if $mod == 'index'} class="a"{/if}><a href="plugin.php?id={$plugin_config['plugin_name']}:shopadmin&mod=index">管理首页</a></li>
		-->
		<li{if $mod == 'shopedit'} class="a"{/if}><a href="plugin.php?id={$plugin_config['plugin_name']}:shopadmin&mod=shopedit">编辑店铺</a></li>
		
		<li{if $mod == 'goods'} class="a"{/if}><a href="plugin.php?id={$plugin_config['plugin_name']}:shopadmin&mod=goods">商品编辑</a></li>
		<li{if $mod == 'groupbuy'} class="a"{/if}><a href="plugin.php?id={$plugin_config['plugin_name']}:shopadmin&mod=groupbuy">团购编辑</a></li>
		<li{if $mod == 'consume'} class="a"{/if}><a href="plugin.php?id={$plugin_config['plugin_name']}:shopadmin&mod=consume">优惠卷编辑</a></li>
		<!---->
		<li{if $mod == 'member'} class="a"{/if}><a href="plugin.php?id={$plugin_config['plugin_name']}:shopadmin&mod=member">会员管理</a></li>
		<li{if $mod == 'shopsetting'} class="a"{/if}><a href="plugin.php?id={$plugin_config['plugin_name']}:shopadmin&mod=shopsetting">充值记录</a></li>
		

	</ul>
</div>