/**
 * 初使化CSS
 * @author gaoli
 * @date 2010-12-15
 */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,lable,textarea,p,blockquote,td {margin:0;padding:0;}
body {background:#FFF;}
body,textarea {font:normal 100 12px Simsun,Arial;color:#333;}
a, a:visited {text-decoration:none;color:#0657B2;}
a:hover {text-decoration:underline;color:#FC6D02;}
em {font-style:normal;}
h1,h2,h3,h4,h5,h6,strong {font-weight:700;font-size:100%;}
label, input, select {vertical-align:middle;}
img, button {background:none;border:0 none;}
ol,ul,li {list-style:none;}
table,td {border:0 none;border-collapse:collapse;}

/* common */
.clearall {zoom:1;}
.clearall:after {content:".";display:block;clear:both;height:0;visibility:hidden;}
.inp_txt, .inp_atxt {border:1px solid #CCC;}
.inp_txt {padding-top:2px;line-height:15px;text-indent:2px;}
.inp_atxt {padding:3px 2px;}
.inp_checkbox, .inp_radio {width:13px;height:13px;}
.txt {padding:3px;height:14px;border:1px solid #DDD;}
.getFocus {border-color:#7DBDE2;}

/* layout */
.layout {position:relative;margin:0 auto;width:980px;zoom:1;}
.layout:after {content:".";display:block;clear:both;height:0;visibility:hidden;}
.iblock {display:inline-block;*display:inline;zoom:1;vertical-align:middle;}
.fl {float:left;}
.fr {float:right;}

/**
 * 文字与链接颜色
 * @author gaoli
 * @date 2010-11-04
 */
.c_gray {color:#666;}
.c_orange {color:#FC6D02;}
.c_deepBlue {color:#334F67;}
.c_tips {color:#C0880F;}
.l_black a, .l_black a:visited {color:#000;}
.l_lightBlack a, .l_lightBlack a:visited {color:#333;}
.l_gray a, .l_gray a:visited {color:#666;}
.l_orange a, .l_orange a:visited {color:#fC6D02;}
.l_black a:hover, .l_lightBlack a:hover, .l_gray a:hover, .l_orange a:hover {color:#0657B2;}
.l_deepBlue a, .l_deepBlue a:visited {color:#334F67;}
.l_deepBlue a:hover {color:#334F67;}
.l_white a, .l_white a:visited {color:#FFF;}
.l_white a:hover {color:#FFF;}

/**
 * 系统维护公告
 * @author gaoli
 * @date 2010-11-06
 */
#affiche {position:relative;width:100%;height:29px;line-height:29px;border-bottom:1px #E7CB5A solid;background:#FFF2A7;overflow:hidden;}
	#affiche p {text-align:center;text-indent:30px;font-weight:bold;color:#FF4800;}
	#affiche span {position:absolute;top:10px;right:10px;cursor:pointer;padding-top:11px;width:11px;height:0;text-indent:20px;background:url(http://static.19louimg.cn/ui/forum/11/images/common/icon.gif) no-repeat 0 -48px;overflow:hidden;}

/**
 * 专题通用导航
 * @author gaoli
 * @date 2010-12-15
 */
.nav_common_2010, .nav_user_login {background:url(http://static.19louimg.cn/ui/forum/11/images/common/bg_nav.gif) no-repeat;}
.nav_common_2010 {width:100%;height:40px;border-bottom:1px solid #E0E0E0;background-repeat:repeat-x;}
.nav_2010_con {position:relative;margin:0px auto;width:980px;height:40px;z-index:9000;}
.nav_2010_con a:link, .nav_2010_con a:visited, .nav_2010_con a:hover {color:#324F64;}
	
	/* LOGO */
	.nav_2010_logo {float:left;width:190px;}
	.nav_2010_logo h2 {float:left;width:130px;height:40px;}
	
	/* 城市群 */
	 .nav_header #sites{position:absolute;top:50px;left:200px;}
		.nav_2010_logo #sites{position:absolute;top:20px;left:130px;z-index:9999;}
			#sites.hover #city-pop{display:block;padding:0 10px 5px;width:240px;line-height:18px;border:1px solid #BBD18F;background:#FFFFFF;-moz-border-radius:5px;border-radius:5px;overflow:hidden;}
			#city-pop,#sites.hover .city-switch{display:none;}
			#city-pop dt{padding-top:5px;font-weight:700;color:#666666;}
			#city-pop dd{float:left;margin-bottom:5px;overflow:hidden;}
			#city-pop a{float:left;margin-right:10px;line-height:18px;}
			#city-pop p{color:#324F64}
	/* 登录信息 */
	.nav_2010_user {float:right;width:209px;text-align:right;color:#324f64;line-height:40px;border-left:1px solid #E0E0E0;}
	.nav_2010_user a {margin:0 1px;}
	.nav_user_login {position:relative;padding:2px 37px 0 0;background-position:175px -183px;}
		.nav_user_login dt, .nav_user_login dd {height:18px;line-height:19px;overflow:hidden;}
		.nav_user_login dd {padding-right:50px;}
			.nav_user_login .nav_user_a {display:inline-block;*display:inline;zoom:1;vertical-align:middle;padding:0px 3px;}
			.nav_user_login .nav_user_a:hover {text-decoration:none;color:#FFF;background:#697F8F;}
			.nav_user_mail_zone {position:absolute;left:120px;top:21px;top:20px\9;}
				.nav_user_mail {padding:4px 4px 2px;width:45px;line-height:14px;position:absolute;left:0px;top:-2px;*top:0px;z-index:9002;text-align:left;text-indent:4px;}
				.nav_user_mail span {display:inline-block;*display:inline;zoom:1;vertical-align:middle;width:17px;height:11px;text-align:center;font:9px/12px Arial;color:#FFF;background:url(http://static.19louimg.cn/ui/forum/11/images/common/bg_navMail.gif) no-repeat 0 0;}
				.nav_user_mail:hover {text-decoration:none;}
				.nav_user_mail_more{position:absolute;left:1px;top:15px;*top:17px;z-index:99;width:76px;padding:3px;border:1px solid #8fa326;background:white;display:none;}
				.nav_user_mail_more li{float:left;width:75px;height:20px;text-align:left;border-bottom:1px dashed #ddd;font-family:Arial;}
				.nav_user_mail_more li a{width:72px;height:100%;padding-left:3px;line-height:20px;display:inline-block;}
				.nav_user_mail_more li a:hover{color:white;text-decoration:none;background:#697f8f;}
				.nav_user_mail_more li font{font-size:9px;font-family:arial,helvetica,sans-serif;}
			.navMailShow .nav_user_mail {padding:3px 3px 0;border:1px solid #8fa326;border-bottom:none;background:#FFF;}
			.navMailShow .nav_user_mail_more {display:block;}
			.nav_user_img {position:absolute;top:7px;right:5px;_right:4px}

/**
 * 专题通用底部
 * @author gaoli
 * @date 2010-12-15
 */
.foot {clear:both;margin:10px auto 0;padding:10px 0;width:980px;text-align:center;font-family:verdana;color:#666;border-top:2px solid #E3E3E3;overflow:hidden;}
	.foot_link, .foot_copyright {height:21px;line-height:21px;}
	.foot_link a, .foot_link a:visited, .foot_link a:hover {color:#666;}
.foot_white {color:#FFF;border-color:#FFF;}
	.foot_white .foot_link a, .foot_white .foot_link a:visited .foot_white .foot_link a:hover {color:#FFF;}

/**
 * 通用提示汽泡
 * @author gaoli
 * @date 2010-11-07
 */
.tipBubble .close, .tipBubble .arrow {background:url(http://static.19louimg.cn/ui/forum/11/images/common/icon.gif) no-repeat 0 0;}
.tipBubble {position:absolute;width:150px;z-index:8000;}
	.tipBubble .rc {padding:0 1px;}
	.tipBubble .rc p {height:1px;background:#EDDDAB;overflow:hidden;}
	.tipBubble .bd {padding:5px 10px;font:12px/20px Simsun;color:#C0880F;border:solid #EDDDAB;border-width:0 1px;background:#fffCE9;overflow:hidden;zoom:1}
	.tipBubble .bd a, .tipBubble .bd:visited {text-decoration:underline;}
	.tipBubble .arrow, .tipBubble .close {position:absolute;width:11px;height:0;overflow:hidden;}
	.tipBubble .arrow {bottom:-5px;left:65px;padding-top:7px;background-position:0 -144px;}
	.arrowTop .arrow {top:-5px;background-position:0 -120px;}
	.tipBubble .close {top:5px;right:5px;padding-top:11px;background-position:0 -72px;}
	.tipBubble .close:hover {background-position:0 -96px;}

/**
 * 通用弹窗组件
 * @author gaoli
 * @date 2010-11-01
 */
.showWindow_box {top:0;left:0;z-index:9000;}
	.showWindow_masking {width:100%;z-index:9001;background-color:#FFF;filter:alpha(opacity=50);opacity:0.5;}
    .showWindow {position:absolute;padding:6px;z-index:9002;overflow:hidden;}
		.showWindow_bg {position:absolute;top:0;right:0;bottom:0;left:0;background-color:#C0C0C0;filter:alpha(opacity=70);opacity:0.7;-moz-border-radius:3px;-webkit-border-radius:3px;}
		.showWindow_main {position:relative;padding:15px 15px 20px;background-color:#FFF;-moz-border-radius:3px;-webkit-border-radius:3px;}
			.showWindow h3 {cursor:move;font-size:14px;color:#334F67;}
			.showWindow_close {position:absolute;top:10px;right:10px;_right:15px;padding-top:12px;width:11px;height:0;background:url(http://static.19louimg.cn/ui/forum/11/images/common/icon.gif) no-repeat 0 0;overflow:hidden;}
			.showWindow_close:hover {background-position:0 -24px;}
			.showWindow_content {margin:10px;overflow:hidden;}
			.showWindow_button {padding-left:70px;}
				.showWindow_button a {margin-right:10px;}
				.showWindow_button .showWindow_tips {color:#FC6D02;}
			.showWindow_ul {color:#333;}
				.showWindow_ul li {height:22px;line-height:23px;}
				.showWindow_ul .lab {float:left;height:22px;font-weight:normal;text-align:right;}
				.showWindow_ul .txt {float:left;width:137px;}
				.showWindow_ul .textarea {width:200px;height:80px;}
				.showWindow_ul .checkbox {width:13px;height:13px;}
			.showWindow_table {height:46px;}
				.showWindow_table .smiley {padding-right:12px;}
				.showWindow_table .msg {vertical-align:middle;font-size:14px;font-weight:bold;color:#334F67;}
				.showWindow_table .tip {font:100 12px/30px Simsun;}

/**
 * 专题通用底部
 * @author DongWeiliang
 * @date 2011-08-26
 */
.topic-foot {padding:20px 0;width:100%;color:#AEAEAE;border-top:1px solid #DADADA;background:#F7F7F7;}
	.tf-bd {margin:0 auto;width:900px;overflow:hidden;zoom:1;}
		.about-company {float:left;width:520px;overflow:hidden;zoom:1;}
			.about-company dd a:link, .about-company dd a:visited {margin-right:12px;color:#AEAEAE;}
			.about-company dd a:hover {color:#0657B2;}
			.about-company dd, .about-topic dd {height:20px;line-height:20px;}
			.about-company dt {float:left;width:82px;}
				.about-company dt a {display:block;width:70px;height:40px;text-indent:-999999px;background:url(http://static.19louimg.cn/ui/forum/11/images/common/topic/bg_topicfoot.png) 0 -62px;overflow:hidden;}
			.about-topic dt {float:left;margin-top:5px;width:82px;}
				.about-topic .demo, .about-topic .ued {display:block;float:left;width:30px;height:30px;text-indent:-9999px;background-image:url(http://static.19louimg.cn/ui/forum/11/images/common/topic/bg_topicfoot.png);}
				.about-topic .demo {margin-right:12px;background-position:0 -111px;}
				.about-topic .ued {background-position:30px -111px;}
				.about-topic span {display:block;float:left;white-space:nowrap;}
#goTopicTop {display:none;left:50%;margin-left:500px;}
	#goTopicTop p {position:relative;}
	#goTopicTop span {display:block;width:52px;height:52px;-moz-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;cursor:pointer;}
		#goTopicTop a {position:absolute;display:block;width:52px;height:52px;text-indent:-9999px;background:url(http://static.19louimg.cn/ui/forum/11/images/common/topic/bg_topicfoot.png) 0 0;z-index:2;overflow:hidden;cursor:pointer;}
			