<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="Title"><![CDATA[Discuz! Addon Config]]></item>
	<item id="Data">
		<item id="zend">
			<item id="method"><![CDATA[zendenc52]]></item>
			<item id="expires"><![CDATA[0]]></item>
			<item id="files"><![CDATA[
				install.php
				uninstall.php
				yanzhen.php
				yikatong.class.php
				yktbind.inc.php
				yktcp.inc.php
				yktjilu.inc.php
				yktlogin.inc.php
				yktmember.inc.php
				yktshangjia.inc.php
				ykttrans.inc.php
			]]></item>
		</item>
	</item>
</root>