<!--{hook/global_footer}-->
<div id="footer">
    <div class="links">
		<!--{if $_G['setting']['site_qq']}--><a href="http://wpa.qq.com/msgrd?V=3&Uin=$_G['setting']['site_qq']&Site=$_G['setting']['bbname']&Menu=yes&from=discuz" target="_blank" title="QQ"><img src="{IMGDIR}/site_qq.jpg" alt="QQ"  /></a>&nbsp;|<!--{/if}--><!--style="position:absolute;margin-top:px"-->
		<!--{loop $_G['setting']['footernavs'] $nav}-->
			<!--{if $nav['available'] && ($nav['type'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1)) || !$nav['type'] && ($nav['id'] == 'stat' && $_G['group']['allowstatdata'] || $nav['id'] == 'report' && $_G['uid'] || $nav['id'] == 'archiver' || $nav['id'] == 'mobile'))}-->$nav[code]&nbsp;|<!--{/if}-->
        <!--{/loop}-->
		<strong><a href="$_G['setting']['siteurl']" target="_blank">$_G['setting']['sitename']</a></strong>
				<!--{if $_G['setting']['icp']}-->( <a href="http://www.miitbeian.gov.cn/" target="_blank">$_G['setting']['icp']</a> )<!--{/if}-->
				<!--{hook/global_footerlink}-->
        <a href="javascript://;" onclick="window.scrollTo(0,0);">TOP</a>
				<!--{if $_G['setting']['statcode']}--><span style="position:absolute;margin-top:5px">$_G['setting']['statcode']</span><!--{/if}-->
    </div>
    <div>
         Powered by <span class="product"><a href="http://www.discuz.net" target="_blank">Discuz!</a></span> <span class="version">$_G['setting']['version']<!--{if !empty($_G['setting']['boardlicensed'])}--> <a href="http://license.comsenz.com/?pid=1&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a><!--{/if}--></span> &copy; 2001-2012 <a href="http://www.comsenz.com" target="_blank">Comsenz Inc.</a><br />免责声明：站内会员言论仅代表个人观点，并不代表本站同意其观点，本站不承担由此引起的法律责任。
    </div>
    <div class="bottom">
        <!--{if debuginfo()}-->
			{lang time_now}, Processed in $_G[debuginfo][time] second(s), $_G[debuginfo][queries] queries
			<!--{if $_G['gzipcompress']}-->, Gzip On<!--{/if}-->
			<!--{if C::memory()->type}-->, <!--{echo ucwords(C::memory()->type)}--> On<!--{/if}-->.
		<!--{/if}-->
    </div>
</div>
<span id="scrolltop" onclick="window.scrollTo('0','0')">{lang scrolltop}</span>
<script type="text/javascript">
function _attachEvent(obj, evt, func, eventobj) {
	eventobj = !eventobj ? obj : eventobj;
	if(obj.addEventListener) {
		obj.addEventListener(evt, func, false);
	} else if(eventobj.attachEvent) {
		obj.attachEvent('on' + evt, func);
	}
}
function showTopLink() {
	var ft = $('footer');
	if(ft){
		var scrolltop = $('scrolltop');
		var viewPortHeight = parseInt(document.documentElement.clientHeight);
		var scrollHeight = parseInt(document.body.getBoundingClientRect().top);
		var basew = parseInt(ft.clientWidth);
		var sw = scrolltop.clientWidth;
		if (basew < 1000) {
			var left = parseInt(fetchOffset(ft)['left']);
			left = left < sw ? left * 2 - sw : left;
			scrolltop.style.left = ( basew + left ) + 'px';
		} else {
			scrolltop.style.left = 'auto';
			scrolltop.style.right = 0;
		}

		if (BROWSER.ie && BROWSER.ie < 7) {
			scrolltop.style.top = viewPortHeight - scrollHeight - 150 + 'px';
		}
		//alert(scrollHeight);
		if (scrollHeight < -100) {
			scrolltop.style.visibility = 'visible';
		} else {
			scrolltop.style.visibility = 'hidden';
		}
	}
}

_attachEvent(window, 'scroll', function(){showTopLink();});
</script>
<!--{eval output();}-->
</body>
</html>