<!--{block return}-->
<div class="exfm cl" id="auc_op">
	<!--left-->
	<input type="hidden" name="attachnew" value="1" />
	<div class="sinf sppoll z">
		<dl>
			<!--name-->
			<dt><span class="rq">*</span><label for="auc_name">店铺名称:</label></dt>
			<dd>
			<span class="ftid"><input name="auc_name" id="auc_name" tabindex="2" type="text" class="px oinf" {if $auction['name']}value="{$auction['name']}"{/if} onkeyup="showtypeoption();" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/></span>
			</dd>
			<!--add-->
			<dt><span class="rq">*</span><label for="auc_name">店铺地址:</label></dt>
			<dd>
			<span class="ftid"><input name="auc_name" id="auc_name" tabindex="2" type="text" class="px oinf" {if $auction['name']}value="{$auction['name']}"{/if} onkeyup="showtypeoption();" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/></span>
			</dd>
			<!--add-->
			<dt><span class="rq">*</span><label for="auc_name">所属分类:</label></dt>
			<dd>
			<span class="ftid"><input name="auc_name" id="auc_name" tabindex="2" type="text" class="px oinf" {if $auction['name']}value="{$auction['name']}"{/if} onkeyup="showtypeoption();" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/></span>
			</dd>
			<!--add-->
			<dt><span class="rq">*</span><label for="auc_name">所属地区:</label></dt>
			<dd>
			<span class="ftid"><input name="auc_name" id="auc_name" tabindex="2" type="text" class="px oinf" {if $auction['name']}value="{$auction['name']}"{/if} onkeyup="showtypeoption();" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/></span>
			</dd>
			<!--add-->
			<dt><span class="rq">*</span><label for="auc_name">银行信息:</label></dt>
			<dd>
			<span class="ftid"><input name="auc_name" id="auc_name" tabindex="2" type="text" class="px oinf" {if $auction['name']}value="{$auction['name']}"{/if} onkeyup="showtypeoption();" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/></span>
			</dd>
			<!--add-->
			<dt><span class="rq">*</span><label for="auc_name">银行卡号:</label></dt>
			<dd>
			<span class="ftid"><input name="auc_name" id="auc_name" tabindex="2" type="text" class="px oinf" {if $auction['name']}value="{$auction['name']}"{/if} onkeyup="showtypeoption();" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/></span>
			</dd>
			<!--time-->
			<dt><span class="rq">*</span><label for="auc_starttimefrom">{lang auction:auc_time}:</label></dt>
			<dd><span class="ftid">
				<input type="text" name="auc_starttimefrom" id="auc_starttimefrom" tabindex="2" class="px" onclick="showcalendar(event, this, true)" autocomplete="off" value="$auction[starttimefrom]" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/><span> ~ </span><input onclick="showcalendar(event, this, true)" type="text" autocomplete="off" id="auc_starttimeto" name="auc_starttimeto" tabindex="2" class="px" value="{if $auction['starttimeto']}$auction[starttimeto]{/if}" {if $_G['gp_action'] == 'edit'}style="background-color:#FFF;" {/if}/>
			</span>
			</dd>
			<!--market price-->
			<dt><span class="rq">*</span><label for="auc_real_price">{lang auction:auc_real_price}:</label></dt>
			<dd><span class="ftid">
				<input name="auc_real_price" id="auc_real_price" tabindex="2" type="text" class="px" {if $auction['real_price']}value="{$auction['real_price']}"{/if}  onkeyup="checkvalue(this.value, 'auc_real_price_message')" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/> {lang auction:auc_yuan} <span id="auc_real_price_message"></span>
			</span>
			</dd>
			<!--is virtual or not-->
			<dt><span class="rq">*</span><label for="auc_virtual">{lang auction:auc_virtual}:</label></dt>
			<dd>
				<span class="ftid">
					<select name="auc_virtual" id="auc_virtual" width="50" class="ps" selecti="0" style="display: none;">
						<!--{if $_G['gp_action'] == 'newthread'}-->
						<option value="0" {if $auction['virtual'] == 2}selected="selected"{/if}>{lang auction:auc_virtual_0}</option>
						<option value="1" {if $auction['virtual'] == 2}selected="selected"{/if}>{lang auction:auc_virtual_1}</option>
						<!--{elseif $_G['gp_action'] == 'edit'}-->
						<option value="{$auction[virtual]}" selected="selected"><!--{if $auction[virtual] == 0}-->{lang auction:auc_virtual_0}<!--{elseif $auction[virtual] == 1}-->{lang  auction:auc_virtual_1}<!--{/if}--></option>
						<!--{/if}-->
					</select>
				</span>
			</dd>
			<!--auction type-->
			<dt><span class="rq">*</span><label for="auc_type">{lang auction:auc_type}:</label></dt>
			<dd>
				<span class="ftid">
					<select name="auc_type" id="auc_type" width="50" class="ps" selecti="0" style="display: none;">
						<!--{if $_G['gp_action'] == 'newthread'}-->
						<option value="1" {if 1}selected="selected"{/if}>{lang auction:auc_type1}</option>
						<option value="2" {if 0}selected="selected"{/if}>{lang auction:auc_type2}</option>
						<option value="3" {if 0}selected="selected"{/if}>{lang auction:auc_type3}</option>
						<!--{elseif $_G['gp_action'] == 'edit'}-->
						<option value="{$auction[typeid]}" {if $auction['typeid'] == 1}selected="selected"{/if}><!--{if $auction[typeid] ==1}-->{lang auction:auc_type1}<!--{elseif $auction[typeid] == 2}-->{lang  auction:auc_type2}<!--{/if}--></option>
						<!--{/if}-->
					</select>
				</span>
			</dd>

			<!--username and password-->
			<dt id="auc_message_t" style="display:none;"><span class="rq">*</span><label for="auc_message">{lang auction:auc_message}:</label></dt>
			<dd id="auc_message_c" style="display:none;"><span class="ftid">
					<textarea id="auc_message" name="auc_message" class="pt" style="width:290px;" ondblclick="textareasize(this, 1)"></textarea>
					<p class="x cl">{lang auction:auc_message_message}<span id="auc_message_message"></span></p>
				</span>
			</dd>
			<!--credit price when !auction-->
			<dt id="auc_ext_price_t" style="display:none;"><span class="rq">*</span><label for="auc_ext_price">{lang auction:auc_ext_price}:</label></dt>
			<dd id="auc_ext_price_c" style="display:none;"><span class="ftid">
				<input name="auc_ext_price" id="auc_ext_price" tabindex="2" type="text" class="px" value="{$auction['ext_price']}" onkeyup="checkvalue(this.value, 'auc_ext_price_message')" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/> <em class="xi1">{$_G['setting']['extcredits'][$_G['cache']['plugin']['auction']['auc_extcredit']]['title']}</em> <span id="auc_ext_price_message"></span>
				</span>
			</dd>
			<!--base price-->
			<dt id="auc_base_price_t" style="display:none;"><span class="rq">*</span><label for="auc_base_price">{lang auction:auc_base_price}:</label></dt>
			<dd id="auc_base_price_c" style="display:none;"><span class="ftid">
				<input name="auc_base_price" id="auc_base_price" tabindex="2" type="text" class="px" {if $auction['base_price']}value="{$auction['base_price']}"{/if} onkeyup="checkvalue(this.value, 'auc_base_price_message')" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/>  <em class="xi1">{$_G['setting']['extcredits'][$_G['cache']['plugin']['auction']['auc_extcredit']]['title']}</em> <span id="auc_base_price_message"></span>
				</span>
			</dd>
			<!--delta price-->
			<dt id="auc_delta_price_t" style="display:none;"><span class="rq">*</span><label for="auc_delta_price">{lang auction:auc_delta_price}:</label></dt>
			<dd id="auc_delta_price_c" style="display:none;"><span class="ftid">
				<input name="auc_delta_price" id="auc_delta_price" tabindex="2" type="text" class="px" {if $auction['delta_price']}value="{$auction['delta_price']}"{/if} onkeyup="checkvalue(this.value, 'auc_delta_price_message')" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if}/>  <em class="xi1">{$_G['setting']['extcredits'][$_G['cache']['plugin']['auction']['auc_extcredit']]['title']}</em> <span id="auc_delta_price_message"></span>
				</span>
			</dd>
			<!--amount-->
			<dt id="auc_number_t" style="display:none;"><span class="rq">*</span><label for="auc_number">{lang auction:auc_number}:</label></dt>
			<dd id="auc_number_c" style="display:none;"><span class="ftid">
				<input name="auc_number" id="auc_number" tabindex="2" type="text" class="px" value="$auction['number']" onkeyup="checkvalue(this.value, 'auc_number_message')" {if $_G['gp_action'] == 'edit'}disabled="disabled"{/if} /><span id="auc_number_message"></span>
			</span>
			</dd>
		</dl>
	</div>
	<!--right-->
	<div class="sadd z">
		<dl>
			<dt>
				<span class="rq"></span><label for="">{lang auction:auc_cover}:</label></dt>
			</dt>
			<dd><p><button type="button" class="pn" onclick="uploadWindow(function (aid, url){auctionaid_upload(aid, url);ATTACHORIMAGE = 1;})"><span><!--{if $auctionatt[attachment]}-->{lang update}<!--{else}-->{lang upload}<!--{/if}--></span></button></p>
			<input type="hidden" name="auctionaid" id="auctionaid" {if $auction[aid]}value="$auction[aid]" {/if}/>
			<input type="hidden" name="auctionaid_url" id="auctionaid_url" />
			<div id="auctionattach_image">
				<span class="xg1">
					<!--{if $auctionatt[attachment]}-->{lang auction:auc_cover_update}<!--{else}-->{lang auction:auc_cover_tips}<!--{/if}-->
				</span>
				<!--{if $auctionatt[attachment]}-->
				<a href="$auctionatt[attachment]" target="_blank"><img class="spimg" src="$auctionatt[attachment]" alt="" /></a>
				<!--{/if}-->
			</div>
			</dd>
		</dl>
	</div>
</div>
<!--{/block}-->