<!--{template common/header}-->
<script type="text/javascript">
	var allowpostattach = parseInt('{$_G['group']['allowpostattach']}');
	var allowpostimg = parseInt('$allowpostimg');
	var pid = parseInt('$pid');
	var tid = parseInt('$_G[tid]');
	var extensions = '{$_G['group']['attachextensions']}';
	var imgexts = '$imgexts';
	var postminchars = parseInt('$_G['setting']['minpostsize']');
	var postmaxchars = parseInt('$_G['setting']['maxpostsize']');
	var disablepostctrl = parseInt('{$_G['group']['disablepostctrl']}');
	var seccodecheck = parseInt('<!--{if checkperm('seccode') && $seccodecheck}-->1<!--{else}-->0<!--{/if}-->');
	var secqaacheck = parseInt('<!--{if checkperm('seccode') && $secqaacheck}-->1<!--{else}-->0<!--{/if}-->');
	var typerequired = parseInt('{$_G[forum][threadtypes][required]}');
	var sortrequired = parseInt('{$_G[forum][threadsorts][required]}');
	var special = parseInt('$special');
	var isfirstpost = <!--{if $isfirstpost}-->1<!--{else}-->0<!--{/if}-->;
	var allowposttrade = parseInt('{$_G['group']['allowposttrade']}');
	var allowpostreward = parseInt('{$_G['group']['allowpostreward']}');
	var allowpostactivity = parseInt('{$_G['group']['allowpostactivity']}');
	var sortid = parseInt('$sortid');
	var special = parseInt('$special');
	var fid = $_G['fid'];
	var postaction = '{$_GET['action']}';
	var ispicstyleforum = <!--{if $_G['forum']['picstyle']}-->1<!--{else}-->0<!--{/if}-->;
</script>

<script type="text/javascript" src="{$_G['setting']['jspath']}forum_post.js?{VERHASH}"></script>

<!--{if $isfirstpost && $sortid}-->
	<script type="text/javascript">
		var forum_optionlist = <!--{if $forum_optionlist}-->'$forum_optionlist'<!--{else}-->''<!--{/if}-->;
	</script>
	<script type="text/javascript" src="{$_G['setting']['jspath']}threadsort.js?{VERHASH}"></script>
<!--{/if}-->
<form method="post" autocomplete="off" id="postform"
	action="forum.php?mod=post&action=newthread&sortid=12&fid=$_G[fid]&extra=$extra&topicsubmit=yes"
	onsubmit="return validate(this)">
<div id="ct" class="ct2_a ct2_a_r wp cl">
	<div class="mn">
		<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
		<input type="hidden" name="posttime" id="posttime" value="{TIMESTAMP}" />
	<!--{if $sortid}-->
		<input type="hidden" name="sortid" value="$sortid" />
	<!--{/if}-->
		<div class="bm bw0 cl"{if !$showthreadsorts && !$adveditor} id="editorbox"{/if}>


<!--{if !$isfirstpost && $thread[special] == 5 && empty($firststand) && $_GET[action] != 'edit'}-->
	<div class="pbt cl">
		<div class="ftid">
			<select name="stand" id="stand">
				<option value="">{lang debate_viewpoint}</option>
				<option value="0">{lang debate_neutral}</option>
				<option value="1"{if $stand == 1} selected="selected"{/if}>{lang debate_square}</option>
				<option value="2"{if $stand == 2} selected="selected"{/if}>{lang debate_opponent}</option>
			</select>
		</div>
	</div>
<!--{/if}-->

<div id="attachnotice_attach" class="tbms mbm xl" style="display:none">
	{lang you_have} <span id="unusednum_attach"></span> {lang attach_unused} &nbsp; <a href="javascript:;" class="xi2" onclick="attachoption('attach', 2);" />{lang attach_view}</a><span class="pipe">|</span><a href="javascript:;" class="xi2" onclick="attachoption('attach', 1)">{lang attach_use}</a><span class="pipe">|</span><a href="javascript:;" class="xi2" onclick="attachoption('attach', 0)">{lang attach_delete}</a>
	<div id="unusedlist_attach" style="display:none"></div>
</div>
<div id="attachnotice_img" class="tbms mbm xl" style="display:none">
	{lang you_have} <span id="unusednum_img"></span> {lang img_unused} &nbsp; <a href="javascript:;" class="xi2" onclick="attachoption('img', 2);" />{lang attach_view}</a><span class="pipe">|</span><a href="javascript:;" class="xi2" onclick="attachoption('img', 1)">{lang attach_use}</a><span class="pipe">|</span><a href="javascript:;" class="xi2" onclick="attachoption('img', 0)">{lang attach_delete}</a>
	<div id="unusedlist_img" style="display:none"></div>
</div>

	<div class="exfm cl">
<input type="hidden" name="selectsortid" size="45" value="$_G['forum_selectsortid']" />
<!--{if $_G['forum_typetemplate']}-->
	<!--{if $_G['forum']['threadsorts']['description'][$_G['forum_selectsortid']] || $_G['forum']['threadsorts']['expiration'][$_G['forum_selectsortid']]}-->
		<div class="sinf bw0">
			<dl>
				<!--{if $_G['forum']['threadsorts']['description'][$_G['forum_selectsortid']]}-->
					<dt>{lang threadtype_description}</dt>
					<dd>$_G[forum][threadsorts][description][$_G[forum_selectsortid]]</dd>
				<!--{/if}-->
				<!--{if $_G['forum']['threadsorts']['expiration'][$_G['forum_selectsortid']]}-->
					<dt><span class="rq">*</span>{lang threadtype_expiration}</dt>
					<dd>
						<div class="ftid">
							<select name="typeexpiration" tabindex="1" id="typeexpiration">
								<option value="259200">{lang three_days}</option>
								<option value="432000">{lang five_days}</option>
								<option value="604800">{lang seven_days}</option>
								<option value="2592000">{lang one_month}</option>
								<option value="7776000">{lang three_months}</option>
								<option value="15552000">{lang half_year}</option>
								<option value="31536000">{lang one_year}</option>
							</select>
						</div>
						<!--{if $_G['forum_optiondata']['expiration']}--><span class="fb">{lang valid_before}: $_G[forum_optiondata][expiration]</span><!--{/if}-->
					</dd>
				<!--{/if}-->
			</dl>
		</div>
	<!--{/if}-->
	$_G[forum_typetemplate]

<!--{else}-->
	<table cellspacing="0" cellpadding="0" class="tfm">
	<!--{if $_G['forum']['threadsorts']['description'][$_G['forum_selectsortid']]}-->
		<tr>
			<th class="ptm pbm bbda">{lang threadtype_description}</th>
			<td class="ptm pbm bbda" colspan="2">$_G[forum][threadsorts][description][$_G[forum_selectsortid]]</td>
		</tr>
	<!--{/if}-->
	<!--{if $_G['forum']['threadsorts']['expiration'][$_G['forum_selectsortid']]}-->
		<tr>
			<th class="ptm pbm bbda">{lang threadtype_expiration}</th>
			<td class="ptm pbm bbda" colspan="2">
				<div class="ftid">
					<select name="typeexpiration" tabindex="1" id="typeexpiration">
						<option value="259200">{lang three_days}</option>
						<option value="432000">{lang five_days}</option>
						<option value="604800">{lang seven_days}</option>
						<option value="2592000">{lang one_month}</option>
						<option value="7776000">{lang three_months}</option>
						<option value="15552000">{lang half_year}</option>
						<option value="31536000">{lang one_year}</option>
					</select>
				</div>
				<!--{if $_G['forum_optiondata']['expiration']}-->{lang valid_before}: $_G[forum_optiondata][expiration]<!--{/if}-->
			</td>
		</tr>
	<!--{/if}-->
		<tr>
			<th class="ptm pbm bbda"><!--{echo strip_tags($_G[forum][threadsorts][types][$sortid]);}-->名称</th>
			<td class="ptm pbm bbda" colspan="2"><input type="text" name="subject" id="subject" class="px" value="$postinfo[subject]" {if $_GET[action] == 'newthread'}onblur="if($('tags')){relatekw('-1','-1'{if $_G['group']['allowposttag']},function(){extraCheck(4)}{/if});doane();}"{/if} onkeyup="strLenCalc(this, 'checklen', 80);" style="width: 25em" tabindex="1" /></td>
		</tr>
	<!--{loop $_G['forum_optionlist'] $optionid $option}-->
		<tr>
			<th class="ptm pbm bbda"><!--{if $option['required']}--><span class="rq">*</span><!--{/if}-->$option[title]</th>
			<td class="ptm pbm bbda">
				<div id="select_$option[identifier]">
				<!--{if in_array($option['type'], array('number', 'text', 'email', 'calendar', 'image', 'url', 'range', 'upload', 'range'))}-->
					<!--{if $option['type'] == 'calendar'}-->
						<script type="text/javascript" src="{$_G['setting']['jspath']}calendar.js?{VERHASH}"></script>
						<input type="text" name="typeoption[{$option[identifier]}]" id="typeoption_$option[identifier]" tabindex="1" size="$option[inputsize]" onchange="checkoption('$option[identifier]', '$option[required]', '$option[type]')" value="$option[value]" onclick="showcalendar(event, this, false)" $option[unchangeable] class="px"/>
					<!--{elseif $option['type'] == 'image'}-->
						<!--{if !($option[unchangeable] && $option['value'])}-->
						<button type="button" class="pn" onclick="uploadWindow(function (aid, url){sortaid_{$option[identifier]}_upload(aid, url)})"><em><!--{if $option['value']}-->{lang update}<!--{else}-->{lang upload}<!--{/if}--></em></button>
						<input type="hidden" name="typeoption[{$option[identifier]}][aid]" value="$option[value][aid]" id="sortaid_{$option[identifier]}" />
						<input type="hidden" name="sortaid_{$option[identifier]}_url" id="sortaid_{$option[identifier]}_url" />
						<!--{if $option[value]}--><input type="hidden" name="oldsortaid[{$option[identifier]}]" value="$option[value][aid]" tabindex="1" /><!--{/if}-->
						<input type="hidden" name="typeoption[{$option[identifier]}][url]" id="sortattachurl_{$option[identifier]}" {if $option[value][url]}value="$option[value][url]"{/if} tabindex="1" />
						<!--{/if}-->
						<div id="sortattach_image_{$option[identifier]}" class="ptn">
						<!--{if $option['value']['url']}-->
							<a href="$option[value][url]" target="_blank"><img class="spimg" src="$option[value][url]" alt="" /></a>
						<!--{/if}-->
						</div>
						<script type="text/javascript" reload="1">
							function sortaid_{$option[identifier]}_upload(aid, url) {
								$('sortaid_{$option[identifier]}_url').value = url;
								updatesortattach(aid, url, '{$_G['setting']['attachurl']}forum', '{$option[identifier]}');
							}
						</script>
					<!--{else}-->
						<input type="text" name="typeoption[{$option[identifier]}]" id="typeoption_$option[identifier]" class="px" tabindex="1" size="$option[inputsize]" onBlur="checkoption('$option[identifier]', '$option[required]', '$option[type]'{if $option[maxnum]}, '$option[maxnum]'{else}, '0'{/if}{if $option[minnum]}, '$option[minnum]'{else}, '0'{/if}{if $option[maxlength]}, '$option[maxlength]'{/if})" value="{if $_G['tid']}$option[value]{else}{if $member_profile[$option['profile']]}$member_profile[$option['profile']]{else}$option['defaultvalue']{/if}{/if}" $option[unchangeable] />
					<!--{/if}-->
				<!--{elseif in_array($option['type'], array('radio', 'checkbox', 'select'))}-->
					<!--{if $option[type] == 'select'}-->
						<!--{loop $option['value'] $selectedkey $selectedvalue}-->
							<!--{if $selectedkey}-->
								<script type="text/javascript">
									changeselectthreadsort('$selectedkey', $optionid, 'update');
								</script>
							<!--{else}-->
								<select tabindex="1" onchange="changeselectthreadsort(this.value, '$optionid');checkoption('$option[identifier]', '$option[required]', '$option[type]')" $option[unchangeable] class="ps">
									<option value="0">{lang please_select}</option>
									<!--{loop $option['choices'] $id $value}-->
										<!--{if !$value[foptionid]}-->
										<option value="$id">$value[content] <!--{if $value['level'] != 1}-->&raquo;<!--{/if}--></option>
										<!--{/if}-->
									<!--{/loop}-->
								</select>
							<!--{/if}-->
						<!--{/loop}-->
						<!--{if !is_array($option['value'])}-->
							<select tabindex="1" onchange="changeselectthreadsort(this.value, '$optionid');checkoption('$option[identifier]', '$option[required]', '$option[type]')" $option[unchangeable] class="ps">
								<option value="0">{lang please_select}</option>
								<!--{loop $option['choices'] $id $value}-->
									<!--{if !$value[foptionid]}-->
									<option value="$id">$value[content] <!--{if $value['level'] != 1}-->&raquo;<!--{/if}--></option>
									<!--{/if}-->
								<!--{/loop}-->
							</select>
						<!--{/if}-->
					<!--{elseif $option['type'] == 'radio'}-->
						<ul class="xl2">
						<!--{loop $option['choices'] $id $value}-->
							<li><label><input type="radio" name="typeoption[{$option[identifier]}]" id="typeoption_$option[identifier]" class="pr" tabindex="1" onclick="checkoption('$option[identifier]', '$option[required]', '$option[type]')" value="$id" $option['value'][$id] $option[unchangeable] class="pr"> $value</label></li>
						<!--{/loop}-->
						</ul>
					<!--{elseif $option['type'] == 'checkbox'}-->
						<ul class="xl2">
						<!--{loop $option['choices'] $id $value}-->
							<li><label><input type="checkbox" name="typeoption[{$option[identifier]}][]" id="typeoption_$option[identifier]" class="pc" tabindex="1" onclick="checkoption('$option[identifier]', '$option[required]', '$option[type]')" value="$id" $option['value'][$id][$id] $option[unchangeable] class="pc"> $value</label></li>
						<!--{/loop}-->
						</ul>
					<!--{/if}-->
				<!--{elseif in_array($option['type'], array('textarea'))}-->
					<textarea name="typeoption[{$option[identifier]}]" tabindex="1" id="typeoption_$option[identifier]" rows="$option[rowsize]" cols="$option[colsize]" onBlur="checkoption('$option[identifier]', '$option[required]', '$option[type]', 0, 0{if $option[maxlength]}, '$option[maxlength]'{/if})" $option[unchangeable] class="pt">$option[value]</textarea>
				<!--{/if}-->
				</div>
				 $option[unit]
				<!--{if $option['maxnum'] || $option['minnum'] || $option['maxlength'] || $option['unchangeable'] || $option[description]}-->
					<div class="d">
					<!--{if $option['maxnum']}-->
						{lang maxnum} $option[maxnum]&nbsp;
					<!--{/if}-->
					<!--{if $option['minnum']}-->
						{lang minnum} $option[minnum]&nbsp;
					<!--{/if}-->
					<!--{if $option['maxlength']}-->
						{lang maxlength} $option[maxlength]&nbsp;
					<!--{/if}-->
					<!--{if $option['unchangeable']}-->
						{lang unchangeable}&nbsp;
					<!--{/if}-->
					<!--{if $option[description]}-->
						$option[description]
					<!--{/if}-->
					</div>
				<!--{/if}-->
			</td>
			<td class="ptm pbm bbda" width="180"><span id="check{$option[identifier]}"></span></td>
		</tr>
	<!--{/loop}-->
	</table>
<!--{/if}-->

<script type="text/javascript" reload="1">
	var CHECKALLSORT = false;

	function warning(obj, msg) {
		obj.style.display = '';
		obj.innerHTML = '<img src="{IMGDIR}/check_error.gif" width="16" height="16" class="vm" /> ' + msg;
		obj.className = "warning";
		if(CHECKALLSORT) {
			showDialog(msg);
		}
	}

	EXTRAFUNC['validator']['special'] = 'validateextra';
	function validateextra() {
		CHECKALLSORT = true;
		<!--{loop $_G['forum_optionlist'] $optionid $option}-->
			if(!checkoption('$option[identifier]', '$option[required]', '$option[type]')) {
				return false;
			}
		<!--{/loop}-->
		return true;
	}

	<!--{if $_G['forum']['threadsorts']['expiration'][$_G['forum_selectsortid']]}-->
		simulateSelect('typeexpiration');
	<!--{/if}-->
</script>
	</div>

<!--{if $_GET[action] == 'reply' && $quotemessage}-->
	<div class="pbt cl">$quotemessage</div>
<!--{/if}-->
			<!--eavl {include_once template('diy:post_editor_body',0,'./source/plugin/yikatong/template/forum');}-->
			<div id="postbox">
				<div class="mtm mbm pnpost">
					<button type="submit" id="postsubmit" class="pn pnc" value="true" name="{if $_GET[action] == 'newthread'}topicsubmit{elseif $_GET[action] == 'reply'}replysubmit{elseif $_GET[action] == 'edit'}editsubmit{/if}"><em>新建店铺</em></button>
					<!--{if $_G['uid']}-->
						<input type="hidden" id="postsave" name="save" value="" />
							<button type="button" id="postsubmit" class="pn" value="true" onclick="$('postsave').value = 1;$('postsubmit').click();"><em>保存草稿</em></button>
					<!--{/if}-->
				</div>
			</div>

		</div>
	</div>
</div>
</form>
<iframe name="ajaxpostframe" id="ajaxpostframe" style="display: none;"></iframe>

<script type="text/javascript">
	var editorsubmit = $('postsubmit');
	var editorform = $('postform');
	<!--{if $isfirstpost && !empty($_G[forum][threadtypes][types])}-->
		simulateSelect('typeid');
	<!--{/if}-->
	<!--{if !$isfirstpost && $thread['special'] == 5 && empty($firststand) && $_GET[action] != 'edit'}-->
		simulateSelect('stand');
	<!--{/if}-->
	function switchpost(href) {
		editchange = false;
		saveData(1);
		location.href = href + '&fid=$_G[fid]&cedit=yes<!--{if !empty($_G[tid])}-->&tid=$_G[tid]<!--{/if}--><!--{if !empty($modelid)}-->&modelid=$modelid<!--{/if}-->&extra=$extra';
		doane();
	}

	<!--{if $_GET[action] == 'newthread' && $_G['setting']['sitemessage'][newthread] || $_GET[action] == 'reply' && $_G['setting']['sitemessage'][reply]}-->
		showPrompt('custominfo', 'mouseover', '<!--{if $_GET[action] == 'newthread'}--><!--{echo trim($_G['setting']['sitemessage'][newthread][array_rand($_G['setting']['sitemessage'][newthread])])}--><!--{elseif $_GET[action] == 'reply'}--><!--{echo trim($_G['setting']['sitemessage'][reply][array_rand($_G['setting']['sitemessage'][reply])])}--><!--{/if}-->', $_G['setting']['sitemessage'][time]);
	<!--{/if}-->
	<!--{if $_G['group']['allowpostattach']}-->addAttach();<!--{/if}-->
	<!--{if $allowpostimg}-->addAttach('img');<!--{/if}-->

	(function () {
		var oSubjectbox = $('subjectbox'),
			oSubject = $('subject'),
			oTextarea = $('e_textarea'),
			sLen = 0;
		if(oSubjectbox) {
			if(oTextarea && oTextarea.style.display == '') {
				oTextarea.focus();
			}
		} else if(oSubject) {
			if(BROWSER.chrome) {
				sLen = oSubject.value.length;
				oSubject.setSelectionRange(sLen, sLen);
			}
			oSubject.focus();
		}
	})();

	<!--{if empty($_GET['cedit'])}-->
		if(loadUserdata('forum_'+discuz_uid)) {
			$('rstnotice').style.display = '';
		}
	<!--{/if}-->
	<!--{if !empty($userextcredit)}-->
		var have_replycredit = 0;
		var creditstax = $_G['setting']['creditstax'];
		var replycredit_result_lang = "{lang replycredit_revenue}{$_G['setting']['extcredits'][$extcreditstype][title]} ";
		var userextcredit = $userextcredit;
		<!--{if $thread['replycredit'] > 0}-->
			have_replycredit = {$thread['replycredit']};
		<!--{/if}-->
	<!--{/if}-->
	<!--{if $_GET[action] == 'edit'}-->
		extraCheckall();
	<!--{/if}-->
</script>
<script type="text/javascript" src="{$_G['setting']['jspath']}at.js?{VERHASH}"></script>
<!--{subtemplate common/footer}-->
<!--{eval exit();}-->