<!--{template common/header}-->
<div id="ct" class="ptm wp w cl">
	<div class="mn" id="main_message">
		<div class="bm">
			<div class="bm_h bbs">
				<span class="y">
					
					<a href="forum.php?mod=post&action=newthread&fid=42&specialextra=yikatong&addtype=shopadd" class="xi2">新建商家</a>
				</span>
				<h3 class="xs2">我的（$_G[username]）商家列表</h3>
			</div>
		<div>
<div class="exfm cl" id="auc_op">
	<table cellspacing="0" cellpadding="0" class="tfm">
	<!--{loop $shoplist $shopinfo}-->
		<tr>
			<th class="ptm pbm bbda"><a href="forum.php?mod=post&action=newthread&fid=42&specialextra=yikatong&shopid={$shopinfo[itemid]}">$shopinfo[subject]</a></th>
			<td class="ptm pbm bbda">
			</td>
			<td class="ptm pbm bbda" width="180"><span id="check{$option[identifier]}"></span></td>
		</tr>

	<!--{/loop}-->
	</table>
</div>
</div>
<!--{template common/footer}-->
<!--{eval exit();}-->