@charset "utf-8";

/**
 *      [品牌空间] (C)2001-2010 Comsenz Inc.
 *      This is NOT a freeware, use is subject to license terms
 *
 *      $Id: groupbuy.css 4333 2010-09-06 02:51:12Z yanghuan $
 */
.l_p {
	background: url("../../../static/image/sellerbox_bg.png") repeat-x 0 0;
}

.intro_base,.intro_info,.intro_other {
	background: url("../../../static/image/sellerbox_bg.png") repeat-x scroll 0 0 transparent;
	border: 1px solid #CCCCCC;
}

.title {
	background: url("image/icon_s.gif") no-repeat 10px -17px;
}

.base_info  th,.other_info th {
	color: #aaa;
}

.base_info td,.other_info td {
	color: #000;
}

.intro_info {
	color: #000;
}

/*.intro_info h2,.intro_other h2 {
	background: url("image/icon_s.gif") no-repeat scroll 0 0 transparent;
	background-position: 10px -17px;
}*/