<div id="footer" class="link9">
	<div class="footer link6 color6" style="float:none;width:auto;">
		<div class="footer-bar"></div>
		<div class="footer-link clearall">
			<a target="_blank" href="http://www.0570.la" title="19楼之家" class="fl foot-home"><img src="/source/plugin/yikatong/template/site/fang19/style/image/logo1.jpg" border="0"></a> 
			<div class="fl">
			  <p><a class="fb">联系我们</a> <i class="pipe">|</i> <a target="_brank" rel="nofollow" href="#">网友中心</a> <i class="pipe">|</i> <a target="_brank" rel="nofollow" href="#">咨询投诉</a> <i class="pipe">|</i> <a target="_brank" rel="nofollow" href="#">斑竹竞聘</a> <i class="pipe">|</i> <a target="_brank" rel="nofollow" href="#">营销合作</a> <i class="pipe">|</i> <a target="_brank" href="#">友情链接</a> <i class="pipe">|</i> <a href="#">社区地图</a> </p>
			<p><a class="fb">联系总部</a> <i class="pipe">|</i> <a target="_brank" rel="nofollow" href="#">论坛之家</a> <i class="pipe">|</i> <a target="_brank" rel="nofollow" href="#">服务投诉</a> <i class="pipe">|</i> <a target="_brank" href="#">产品建议</a> <i class="pipe">|</i> <a target="_brank" rel="nofollow" href="#">战略合作</a> <i class="pipe">|</i> <a target="_brank" rel="nofollow" href="#">加入我们</a> <i class="pipe">|</i> <a href="#">论坛故事</a> <i class="pipe">|</i> <a href="#">法律声明</a> <i class="pipe">|</i> <a href="#">使用帮助</a> <i class="pipe">|</i> </p>
			</div></div>
		<p>SBS社区平台技术由<a target="_brank" rel="nofollow" href="#">一卡通工作室</a>提供 ICP号：浙ICP备11007571号</p><p class="foot-logo">&nbsp;</p>
  </div>
	</div>
</div>
</body>
</html>
