{template yikatong:store/fang19/store_header}


<div class="detail-bd">
    <div class="box-mod">
        <div class="box-hd clearall">
		<a class="btn-b fr" id="publishPing" href="forum.php?mod=post&action=newthread&fid={$commentforum}" rel="nofollow">我也要分享</a>
		<!--<a class="btn-b fr" id="publishPing" href="plugin.php?id=yikatong:brand&mod=share" rel="nofollow">我也要分享</a>-->
		<h2>到过<em>{$shopinfo[subject]}</em>的人在分享...</h2></div>
        <div class="box-bd clearall" id="pinwall">
            <ul class="pin-mod clearall mb10 word-bk"  id="masonry" rel="forum.php?mod=viewthread&tid={$shopinfo[tid]}">
				<!--{loop $commentlist $shopinfo}-->
                    <li class="masonry-box">
                        <div class="pin-bd">
						<!--{if $shopinfo[images] != '' }-->
                            <a href="forum.php?mod=viewthread&tid={$shopinfo[tid]}" target="_blank" class="thumb">
                                <img src="{$shopinfo[images]}"  width="200" />
                                <span class="thumb-count"><span>{$shopinfo[imagesnum]}张</span><em></em></span>
                            </a>
						<!--{/if}-->
  						<!--{if $shopinfo[images] == '' }-->
                             <div class="pd-mod pd-2">
                                <div class="pd-bd J-hover">
                                    <a href="forum.php?mod=viewthread&tid={$shopinfo[tid]}" target="_blank">{$shopinfo[message]}</a>
                                                                    </div>
                                <div class="pd-ft"><p></p></div>
                            </div>
						<!--{/if}-->
                            <p class="color6">$shopinfo[subject]</p>
                            <span class="choice-icon"></span>
                        </div>
                        <div class="pin-ft color6 clearall">
                            <a rel="nofollow" href="home.php?mod=space&uid={$shopinfo[uid]}&do=profile" title="" target="_blank" class="avtar">
                                <!--{avatar($shopinfo[authorid],small)}-->
                            {$shopinfo[username]}
                            </a>
                            	发表于 {$shopinfo[lastpost]}
                            <p>
                                        <span>{$shopinfo[renum]}</span>人回复
                            </p>
                        </div>
                    </li>
				<!--{/loop}-->
           </ul>

        </div>
        <p class="ff-yh tac f20 mb15 load-more" ><span>正在加载更多……</span></p>
        <div class="box-ft clearall fav-business">
            <!--=S page-mod -->


<div class="page-mod fr mr20">
<!--{if $multi}-->
{$multi}

<!--{/if}-->
</div>

        </div>

    </div>
</div>
		</div>
	</div>
<script type="text/javascript">
var timeout = false;
var page = 1;
var scrollPage = page + 1;
var maxPage = 1000;
var shownext = function() {
	$(window).bind("scroll", function() {
		if (timeout) {
			clearTimeout(timeout);
		}
		if (scrollPage > (parseInt(page) + 3) || (scrollPage>maxPage)) return;
		timeout = setTimeout(function() {
			if ($(document).scrollTop() + $(window).height() > $(document).height() - 400) {

				var nextHref = $("#masonry").attr("rel");
				if (nextHref != undefined) {
					$(".load-more").show();
					nextHref += '&currentPage=' + scrollPage;
					scrollPage = scrollPage + 1;
					$.ajax({
						url: nextHref,
						type: "GET",
						cache: false,
						dataType: 'json',
						complete:function() {
							$(".load-more").fadeOut();
						},
						success: function(jsondata) {
							if (jsondata.success === true) {
								var result = jsondata.data;
								var tmpHTML = '';
								$.each(result, function(index) {
									var bg = index%3 + 1;
									tmpHTML += '<li class="masonry-box">';
									if (this["havePic"] === true) {
										tmpHTML += '<div class="pin-bd"><a href="' + 'http://haodian.19lou.com/profile/thread/'+this["shopId"]+'/'+this["tid"]+'/'+this["categoryId"]+'/1'+'" target="_blank" class="thumb"><img src="' + this["pingThreadThumbUrl"] + '" alt="' + this["author"] + '" width="200" /><span class="thumb-count"><span>' + this["attachments"] + '张</span><em></em></span></a><p class="color6">' + this["pingThreadThumbDesc"] + '</p>';
										if (this["digestLevel"] > 0) tmpHTML += '<span class="choice-icon"></span>';
										tmpHTML += '</div>';
									} else {
										if (this["messageLength"] != undefined){
											this["message"] += '[全文'+this["messageLength"]+'个字]';
										}
										tmpHTML += '<div class="pin-bd">';
										if (this["digestLevel"] > 0) tmpHTML += '<span class="choice-icon"></span>';
										tmpHTML += '<div class="pd-mod pd-'+bg+'"><div class="pd-bd"><a href="' + 'http://haodian.19lou.com/profile/thread/'+this["shopId"]+'/'+this["tid"]+'/'+this["categoryId"]+'/1'+'">' + this["message"] + '</a>';
										tmpHTML += '</div><div class="pd-ft"><p></p></div></div></div>';
									}
									tmpHTML += '<div class="pin-ft color6 clearall"><a href="' + 'http://www.19lou.com/user/profile-'+ this["authorUid"] + '-1.html" title="" target="_blank" class="avtar"><img src="' + this["avatar"] + '" alt="' + this["author"] + '" title="' + this["author"] + '">' + this["author"] + '</a> 发表于 ' + this["timePast"] + '';
									tmpHTML += '<p>';
									if (this["views"] > 0){
										if (this["views"] > 10000){
											tmpHTML += '<span>1万</span>+人看过&nbsp;&nbsp;&nbsp;';
										}else{
											tmpHTML += '<span>' + this["views"] + '</span>人看过&nbsp;&nbsp;&nbsp;';
										}
									}
									if (this["replies"] > 0){
										if (this["replies"] > 10000){
											tmpHTML += '<span>1万</span>+人看过&nbsp;&nbsp;&nbsp;';
										}else{
											tmpHTML += '<span>' + this["replies"] + '</span>人回复&nbsp;&nbsp;&nbsp;';
										}
									}
									tmpHTML += '</p>';
									tmpHTML += '</div></li>';
								});
								$("#masonry").append(tmpHTML);
								$("#masonry").imagesLoaded(function(){
									$("#masonry").masonry('reload');
								});

							$("#masonry").append(tmpHTML).masonry('reload');
							}

						}
					});
				}
			}
		}, 800);
	});
}
shownext();
</script>
	
</div>

{template yikatong:store/fang19/store_footer}