<!--{if !$type}-->
	<div class="bmw mtw">
		<div class="hm bm_h"><h2 class="mbm xs2">产品库管理</h2></div>
		<div class="bm_c">{$_G['username']}，你好，{$msg_text}</div>
		<div class="exfm" style="margin-top: 0;">
			<form method="post" enctype="multipart/form-data" autocomplete="off" name="shopform" id="shopform" class="s_clear"  action="{$this_page}">
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<input type="hidden" name="searchsubmit" value="true" />
				<input type="hidden" name="referer" value="{echo dreferer()}" />
				<script src="static/js/calendar.js" type="text/javascript"></script>
				<table cellspacing="0" cellpadding="0" class="</table>">
					{$search_text}
				</table>
			</form>
		</div>
		<table summary="产品库管理" cellspacing="0" cellpadding="0" class="dt bm">
			<caption><h2 class="mbm xs2"><a href="{$this_page}&type=editchanpinku" class="xi2 xs1 xw0 y">添加产品库&raquo;</a>产品库列表</h2></caption>
			<tr>
				<th width="140" class="hm">商品名称</th>
				<th>所属商家</th>
				<th>商品分类</th>
				<th>商品价格</th>
				<th>数量</th>
				<th>管理</th>
				<th>状态</th>
			</tr>
			<!--{if $chanpinkunum}-->
				<!--{loop $chanpinku_list $chanpinkulist}-->
					<tr>
						<td>{$chanpinkulist[chanpinkulogo]}<br />{$chanpinkulist[chanpinkuname]}</td>
						<td>{$chanpinkulist[shopid]}</td>
						<td>{$chanpinkulist[chanpinkusort]}</td>
						<td>{$chanpinkulist[chanpinkupice]}</td>
						<td>{$chanpinkulist[chanpinkunum]}</td>
						<td>编辑</td>
						<td>{$chanpinkulist[status]}</td>

					</tr>
				<!--{/loop}-->
			<!--{if $multi}--><tr><td colspan="2">{$multi}</td></tr><!--{/if}-->
			<!--{else}-->
				<tr><td colspan="4"><p class="emp">目前没有任何产品库</p></td></tr>
			<!--{/if}-->
		</table>
	</div>
<!--{else}-->
	<div class="bmw mtw">
		<div class="hm bm_h"><h2 class="mbm xs2">店铺管理</h2></div>
		<div class="bm_c">{$_G['username']}，你好，{$msg_text}</div>
		<div class="bm_c">
			<div class="exfm" style="margin-top: 0;">
				<table cellspacing="0" cellpadding="0">
					<caption><h2 class="mbm xs2">【{$shop_info[shopname]}】基本信息</h2></caption>
					<tr>
						<th>费用情况:</th><td>入住费用：</td>
					</tr>
				</table>
			</div>
			<div class="bw bm" >
				<form method="post" enctype="multipart/form-data" autocomplete="off" name="shopform" id="shopform" class="s_clear"  action="{$this_page}">
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<!--{if $type == 'createfendian' }--><input type="hidden" name="upshopid" value="{$shopid}" /><!--{/if}-->
				<input type="hidden" name="shopid" value="{$shopid}">
				<input type="hidden" name="shopsubmit" value="true" />
				<input type="hidden" name="referer" value="{echo dreferer()}" />
				<input type="hidden" name="handlekey" value="shop" />
				<script src="static/js/calendar.js" type="text/javascript"></script>
				<table cellspacing="0" cellpadding="0" class="tfm" summary="商家入住">
						<tbody>
							<tr>
								<th><strong class="rq y">*</strong>商品名称:</th>
								<td>
									<!--{if $shopid}--><input type="hidden" name="shopid" value="{$shopid}"><!--{/if}-->
									<input type="text" name="shopname" id="shopname" class="px" size="36" tabindex="1" autocomplete="off" tabindex="1" value="{$shop_info[shopname]}" />
									<span id="shopnamecheck" class="xi1"></span>
								</td>
							</tr>
							<tr>
								<th>商品别名</th>
								<td><input type="text" name="shopalias" id="shopalias" class="px" size="36" autocomplete="off" tabindex="1" value="{$shop_info[shopalias]}" />
								</td>
							</tr>
							<tr>
								<th><strong class="rq y">*</strong>封面图片</th>
								<td><input type="file" name="shoplogo" id="shoplogo" class="pf" size="46" /><p class="d"></p>
								</td>
							</tr>
							<tr>
								<th><strong class="rq y">*</strong>商品分类</th>
								<td>{$sortupid_select}
								</td>
							</tr>
							<tr>
								<th><strong class="rq y">*</strong>商品单价</th>
								<td><input type="text" name="address" id="address" class="px" size="36" autocomplete="off" value="{$shop_info[address]}" />
								</td>
							</tr>
							<tr>
								<th><strong class="rq y">*</strong>商品库存</th>
								<td><input type="text" name="phone" id="phone" class="px" size="36" autocomplete="off" value="{$shop_info[phone]}" />
								</td>
							</tr>
							<tr>
								<th><strong class="rq y">*</strong>交易方式</th>
								<td><input type="text" name="lianxiren" id="lianxiren" class="px" size="36" autocomplete="off" value="{$shop_info[lianxiren]}" />
								</td>
							</tr>
							<tr>
								<td colspan="2">店铺详情:</td>
							</tr>
							<tr>
								<td colspan="2">
									<script src="source/plugin/yiqixueba/template/kindeditor/kindeditor.js" type="text/javascript"></script>
									<link rel="stylesheet" href="source/plugin/yiqixueba/template/kindeditor/themes/default/default.css" />
									<link rel="stylesheet" href="source/plugin/yiqixueba/template/kindeditor/plugins/code/prettify.css" />
									<script src="source/plugin/yiqixueba/template/kindeditor/lang/zh_CN.js" type="text/javascript"></script>
									<script src="source/plugin/yiqixueba/template/kindeditor/prettify.js" type="text/javascript"></script>
									
								<textarea name="shopinformation" style="width:520px;height:250px;visibility:hidden;">{$shop_info[shopinformation]}</textarea>
								</td>
							</tr>
							<tr>
								<th>&nbsp;</th>
								<td>
									<input type="hidden" name="submit" value="true"><button type="submit" class="pn pnc" tabindex="6"><strong>入住</strong></button>
								</td>
							</tr>
						</tbody>
				</table>
				</form>
			</div>
		</div>
	</div>
	<script>
		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="shopinformation"]', {
				cssPath : 'source/plugin/yiqixueba/template/kindeditor/plugins/code/prettify.css',
				uploadJson : 'source/plugin/yiqixueba/template/kindeditor/upload_json.php',
				items : ['source', '|', 'undo', 'redo', '|', 'preview', 'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript','superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/','formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold','italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage','flash', 'media',  'table', 'hr', 'emoticons','pagebreak','anchor', 'link', 'unlink', '|', 'about'],
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						self.sync();
						K('form[name=shopform]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						self.sync();
						K('form[name=shopform]')[0].submit();
					});
				}
			});
			prettyPrint();
		});
	</script>
<!--{/if}-->