<div class="bmw mtw">
	<div class="hm bm_h"><h2 class="mbm xs2">优惠券管理</h2></div>
	<div class="bm_c">{$_G['username']}，你好，{$msg_text}</div>
	<div class="exfm" style="margin-top: 0;">
	
	</div>
	<table summary="优惠券管理" cellspacing="0" cellpadding="0" class="dt bm mtm">
		<caption><h2 class="mbm xs2"><a href="{$this_page}&type=editshop" class="xi2 xs1 xw0 y">添加优惠券&raquo;</a>优惠券列表</h2></caption>
		<tr>
			<th width="140" class="hm">优惠券</th>

		</tr>
		<!--{if $youhuiquannum}-->
			<!--{loop $youhuiquan_list $youhuiquanlist}-->
				<tr>
			<td class="hm">{$youhuiquanlist[youhuiquanname]}</td>

		</tr>
		<!--{/loop}-->
		<!--{else}-->
			<tr><td colspan="4"><p class="emp">目前没有任何优惠券</p></td></tr>
	<!--{/if}-->
</table>
</div>