	<form method="post" autocomplete="off" id="bknameform_{$_GET[handlekey]}" name="bknameform_{$_GET[handlekey]}" action="plugin.php?id=yiqixueba:manage&man=memberinfo&subman=bindyikatong" {if $_G[inajax]}onsubmit="ajaxpost(this.id, 'return_$_GET[handlekey]');"{/if}>
		<input type="hidden" name="referer" value="{echo dreferer()}" />
		<input type="hidden" name="editbkname" value="true" />
		<!--{if $_G[inajax]}--><input type="hidden" name="handlekey" value="$_GET[handlekey]" /><!--{/if}-->
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<div class="c">
			<table cellspacing="0" cellpadding="0" class="tfm">
				<tr>
					<th valign="top" width="60" class="avt">{lang yiqixueba:yktcardno}:</th>
					<td valign="top"> <input type="text" name="yktcardno" value="" size="35" class="px" /></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<th valign="top" width="60" class="avt">{lang yiqixueba:yktactivation}:</th>
					<td valign="top"> <input type="text" name="yktcardpass" value="" size="35" class="px" /></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<th valign="top" width="60" class="avt"></th>
					<td valign="top"><button type="submit" name="editsubmit_btn" id="editsubmit_btn" value="true" class="pn pnc"><strong>{lang yiqixueba:yktbind}</strong></button></td>
					<td valign="top"></td>
				</tr>
			</table>
		</div>
	</form>
