
<div class="bmw mtw">
	<div class="hm bm_h"><h2 class="mbm xs2">欢迎使用一卡通系统</h2></div>
	<div class="bm_c">{$_G['username']}，你好，欢迎内容，在这个页面将显示以下状态下的信息<br />
	<UL>
		<LI>没有登录的用户不能看看到此页面
		<LI>登录之后而在商家联盟系统中没有店铺的用户，在一卡通系统中也内有任何痕迹的
		<LI>在商家信息里有信息（商家、财务）
		<LI>在店铺信息里有信息（店长、财务、收银员）
		<LI>在卡信息里有信息的（卡销售人员）
		<LI>
		<LI>
		<LI>
		<LI>
		<LI>
		<LI>
	</UL>
	
	
	
	
	</div>
</div>
<!--{if $_G[adminid] == 1}-->
	<div class="bm bw0 mtn mbn y"><strong>编辑欢迎语</strong><!--{loop $groups_t $key $group}--><span class="pipe">|</span><a href="{$this_page}&edit={$groups[$key]}">{$group}</a><!--{/loop}--></div>
	<!--{if $edit_stauts}-->
		<hr class="1">
		<form method="post" autocomplete="off" id="editform" name="editform" action="{$this_page}" >
		<input type="hidden" name="referer" value="{echo dreferer()}" />
		<input type="hidden" name="editsubmit" value="true" />
		<input type="hidden" name="edit" value="{$edit}" />
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<div class="c mtw">
		<table cellspacing="0" cellpadding="0" class="tfm mtw">
			<caption><h2 class="mbm xs2 hm">编辑【{$dq_edit}】自定义欢迎语</h2></caption>
			<tr><td colspan="2" class="hm">
				<script src="source/plugin/yiqixueba/template/kindeditor/kindeditor.js" type="text/javascript"></script>
				<link rel="stylesheet" href="source/plugin/yiqixueba/template/kindeditor/themes/default/default.css" />
				<link rel="stylesheet" href="source/plugin/yiqixueba/template/kindeditor/plugins/code/prettify.css" />
				<script src="source/plugin/yiqixueba/template/kindeditor/lang/zh_CN.js" type="text/javascript"></script>
				<script src="source/plugin/yiqixueba/template/kindeditor/prettify.js" type="text/javascript"></script>
				<textarea name="welcome"  class="hm" style="width:780px;height:350px;visibility:hidden;">{$welcome}</textarea>
			</td></tr>

			<tr><td colspan="2" class="hm"><button type="submit" name="editform" id="editform" value="true" class="pn pnc"><strong>确定</strong></button></td></tr>
		</table>
		</div>
		</form>
<script>
	KindEditor.ready(function(K) {
		var editor1 = K.create('textarea[name="welcome"]', {
			cssPath : 'source/plugin/yiqixueba/template/kindeditor/plugins/code/prettify.css',
			uploadJson : 'source/plugin/yiqixueba/template/kindeditor/upload_json.php',
			items : ['source', '|', 'undo', 'redo', '|', 'preview', 'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript','superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/','formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold','italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage','flash', 'media',  'table', 'hr', 'emoticons','pagebreak','anchor', 'link', 'unlink', '|', 'about'],
			afterCreate : function() {
				var self = this;
				K.ctrl(document, 13, function() {
					self.sync();
					K('form[name=editform]')[0].submit();
				});
				K.ctrl(self.edit.doc, 13, function() {
					self.sync();
					K('form[name=editform]')[0].submit();
				});
			}
		});
		prettyPrint();
	});
</script>		
	<!--{/if}-->
<!--{/if}-->