

<table summary="我的店铺" cellspacing="0" cellpadding="0" class="dt mtm">
	<!--{if $shopid}-->
	<!--{else}-->
	<caption>
		<h2 class="mbm xs2">
		<a href="plugin.php?id=yiqixueba&submod=addshop" class="xi2 xs1 xw0 y">申请店铺&raquo;</a>我的店铺
		</h2>
	</caption>
	<tr>
		<th width="120">店铺名称</th>
		<th width="80">会员</th>
		<th width="80"></th>
		<th width="80"></th>
		<th>详情</th>
		<th width="40">状态</th>
	</tr>
	<!--{if $myshop_num}-->
	<!--{loop $myshoplist $shoplist}-->
	<tr>
		<td><A href="{$shoplist[shopurl]}">{$shoplist[shopname]}</A></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>{$shoplist[status]}</td>
	</tr>
	<!--{/loop}-->
	<!--{else}-->
	<tr><td colspan="4"><p class="emp">目前没有店铺</p></td></tr>
	<!--{/if}-->


	<!--{/if}-->
</table>
