<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" id="V" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="Description" content="" />
<title>微团购</title>
<link rel="stylesheet" name="" type="text/css" href="/css/style.css?v=201301161908">
<link rel="stylesheet" name="addStyle" id="addStyle" href="">
<script type="text/javascript">
var SERVER_HOST = 'http://w.gaopeng.com';
</script>
<script type="text/javascript" src="/js/wtg.ajax.min.js"></script>
<script type="text/javascript" src="/js/common.js?v=201301051109"></script>
<script type="text/javascript">
</script>
</head>
<body>
<style type="text/css">
.deal-img {background:url(/images/def.png) 50% 50% no-repeat;background-size: contain;}
.F_home {padding-bottom: 0;}
</style>
<script type="text/javascript">
window.pageIndex = 1;
window.isloading = true;
window.onscroll = function(){
	var loadMore = document.getElementById('loadmore');
	if (isloading && window.pageIndex > 0 && document.documentElement.scrollHeight <= (document.documentElement.scrollTop | document.body.scrollTop) + document.documentElement.clientHeight + 0) {
		window.isloading = false;console.log(window.isloading);
		if (loadMore){loadMore.style.display = '';}
		var options = {
			url:"/data/list",
			method:'GET',
			data:{'page':window.pageIndex},
			onSuccess:function(){
				if (loadMore){loadMore.style.display = 'none';}
			},
			onComplete:function(){
				window.isloading = true;console.log(window.isloading);
				if (loadMore){loadMore.style.display = 'none';}
			},
			onError:function(){
				if (loadMore){loadMore.style.display = 'none';}
			}
		};
		ajax(options).getScript(function(data){
			if (data && data.err == 0){
				if (data.data == 'NULL' || data.data.length == 0) {
					window.pageIndex = 0;
					if (loadMore){loadMore.innerHTML = '';}
				}else{
					window.pageIndex++;
					var appendHtml = '';
					for(var i = 0; i< data.data.length; i++){
						appendHtml += '<li onclick="window.location=\'/deal/view/'+ data.data[i].dealId +'?page='+ data.data[i].id +'&S=1469&A='+ (1000+data.data[i].id*10+1) +'\'"><img src="'+ data.data[i].grouponSImage +'" class="Fhimg deal-img" onerror="nopic();" /><h2><a href="/deal/view/'+ data.data[i].dealId +'?page='+ data.data[i].id +'&S='+ data.data[i].id +'&A='+ (1000+data.data[i].id*10+1) +'">'+ data.data[i].shortTitle +'</a></h2><p><strong>￥'+ data.data[i].mSpecialPrice +'</strong><del>￥'+ data.data[i].originalPrice +'</del><span>'+ data.data[i].totalSellCount +'人购买</span></p></li>';
					}
					var box = document.getElementById('moreDeal');
					box.innerHTML += appendHtml;
				}
			}else{
				window.pageIndex = 0;
				if (loadMore){loadMore.innerHTML = '';}
			}
		});
	}
}

function nopic(){
	var img=event.srcElement;
	img.src='/images/def.png';
	img.onerror=null;
}
</script>

<section class="Fh_head">
	<a href="/?S=1469&A=1001"><img src="/images/logo.png" /></a>
	<div class="Fh_hright">
		<a href="/cities?S=1469&A=1002" class="fhr_l">北京</a>
			<a href="/ticket/mine?S=1469&A=1004" class="fhr_r">我的微团</a>
	      <i class="fhh_ico"></i><i class="fhh_shu"></i>
   </div>
</section>





<!-- New -->
<div class="Fh_hbot"></div>
<section  class="F_home box-shadow marg20">
   <h1><a href="/deal/view/153313?page=0&S=1469&A=1011">【高朋网包场 数量有限】9.9元！抢购保利DMC望京国际影城影票</a></h1>
   <div class="Fh_img" onclick="window.location='/deal/view/153313?page=0&S=1469&A=1012'"><img style="min-height:220px;" src="http://p1.ftuan.com/2013/0123/11/201301231150557323_1.jpg" class="img_width deal-img" onerror="nopic();" /></div>
   <div class="Fh_price Fh_teshd"><strong>￥9.9</strong><del>￥120</del><span class="F_grey"><cite>50</cite>人购买</span></div>
   <div class="Fh_btn"><a class="fhbtn fhbtn" 
onclick="window.location='/order/view/153313?S=1469&A=1013'" state_s="1469" state_a="1011" desc="【高朋网包场 数量有限】9.9元！抢购保利DMC望京国际影城影票" title="保利DMC望京影城影票" img="http://p1.ftuan.com/2013/0123/11/201301231150557323_1.jpg" >抢　购</a></div>
   <ul class="Fh_list marg20">

	<li onclick="window.location='/deal/view/144684?page=1&S=1469&A=1021'">
		<img style="min-height:120px;" src="http://p1.ftuan.com/2012/1224/12/201212241247303921_1.jpg" class="Fhimg deal-img" onerror="nopic();" onclick="window.location='/deal/view/144684?page=1&S=1469&A=1022'"/>
		<h2><a href="/deal/view/144684?page=1&S=1469&A=1021">【全网最低价】仅售29.9元，最高价值100元的星美国际影...</a></h2>
		<p><strong>￥29.9</strong><del>￥100</del><span>12083人购买</span></p>
				<span class="Fh_ulico"><img src="/images/Fh_ulico.jpg" /></span>
		<span class="Fh_notehot"><strong>热卖</strong></span>
			</li>

	<li onclick="window.location='/deal/view/151274?page=2&S=1469&A=1031'">
		<img style="min-height:120px;" src="http://p1.ftuan.com/2013/0118/15/201301181523269624_1.jpg" class="Fhimg deal-img" onerror="nopic();" onclick="window.location='/deal/view/151274?page=2&S=1469&A=1032'"/>
		<h2><a href="/deal/view/151274?page=2&S=1469&A=1031">【望京】仅59元！享原价145元爱上鱼双人火锅套餐！</a></h2>
		<p><strong>￥59</strong><del>￥145</del><span>5人购买</span></p>
			</li>

	<li onclick="window.location='/deal/view/149033?page=3&S=1469&A=1041'">
		<img style="min-height:120px;" src="http://p1.ftuan.com/2013/0114/10/201301141058083247_1.jpg" class="Fhimg deal-img" onerror="nopic();" onclick="window.location='/deal/view/149033?page=3&S=1469&A=1042'"/>
		<h2><a href="/deal/view/149033?page=3&S=1469&A=1041">【望京】仅123元！原价224元汉拿山（博泰店）双人套餐！</a></h2>
		<p><strong>￥123</strong><del>￥224</del><span>65人购买</span></p>
			</li>

	<li onclick="window.location='/deal/view/145135?page=4&S=1469&A=1051'">
		<img style="min-height:120px;" src="http://p1.ftuan.com/2012/1225/15/201212251516058928_1.jpg" class="Fhimg deal-img" onerror="nopic();" onclick="window.location='/deal/view/145135?page=4&S=1469&A=1052'"/>
		<h2><a href="/deal/view/145135?page=4&S=1469&A=1051">【望京】仅398元！原价798元【金会馆 金悦轩】6-8人套餐！</a></h2>
		<p><strong>￥398</strong><del>￥798</del><span>8人购买</span></p>
			</li>

	<li onclick="window.location='/deal/view/139001?page=5&S=1469&A=1061'">
		<img style="min-height:120px;" src="http://p1.ftuan.com/2012/1130/09/201211300916321251_1.jpg" class="Fhimg deal-img" onerror="nopic();" onclick="window.location='/deal/view/139001?page=5&S=1469&A=1062'"/>
		<h2><a href="/deal/view/139001?page=5&S=1469&A=1061">【首都师范大学内】仅39元！原价128元北京菜香根酒楼（...</a></h2>
		<p><strong>￥39</strong><del>￥128</del><span>52人购买</span></p>
			</li>

	<li onclick="window.location='/deal/view/141013?page=6&S=1469&A=1071'">
		<img style="min-height:120px;" src="http://p1.ftuan.com/2012/1211/15/201212111520035480_1.jpg" class="Fhimg deal-img" onerror="nopic();" onclick="window.location='/deal/view/141013?page=6&S=1469&A=1072'"/>
		<h2><a href="/deal/view/141013?page=6&S=1469&A=1071">【全国44店通用】仅298元！享原价776元俏江南双人超值套...</a></h2>
		<p><strong>￥298</strong><del>￥776</del><span>425人购买</span></p>
			</li>

	<li onclick="window.location='/deal/view/153773?page=7&S=1469&A=1081'">
		<img style="min-height:120px;" src="http://p1.ftuan.com/2013/0125/11/201301251114543570_1.jpg" class="Fhimg deal-img" onerror="nopic();" onclick="window.location='/deal/view/153773?page=7&S=1469&A=1082'"/>
		<h2><a href="/deal/view/153773?page=7&S=1469&A=1081">【25店通用】仅19.8元！原价33元大快活大大大鸡排饭超值...</a></h2>
		<p><strong>￥19.8</strong><del>￥33</del><span>0人购买</span></p>
			</li>

	<li onclick="window.location='/deal/view/150155?page=8&S=1469&A=1091'">
		<img style="min-height:120px;" src="http://p1.ftuan.com/2013/0114/15/201301141525386574_1.jpg" class="Fhimg deal-img" onerror="nopic();" onclick="window.location='/deal/view/150155?page=8&S=1469&A=1092'"/>
		<h2><a href="/deal/view/150155?page=8&S=1469&A=1091">仅46.9元全国包邮！原价199元机乐堂H-320蓝牙耳机1个</a></h2>
		<p><strong>￥46.9</strong><del>￥199</del><span>3人购买</span></p>
			</li>

	<li onclick="window.location='/deal/view/152239?page=9&S=1469&A=1101'">
		<img style="min-height:120px;" src="http://p1.ftuan.com/2013/0114/15/201301141510011111_1.jpg" class="Fhimg deal-img" onerror="nopic();" onclick="window.location='/deal/view/152239?page=9&S=1469&A=1102'"/>
		<h2><a href="/deal/view/152239?page=9&S=1469&A=1101">仅49.9元全国包邮！原价115元的北极绒护腰/秋冬防关节炎...</a></h2>
		<p><strong>￥49.9</strong><del>￥115</del><span>0人购买</span></p>
			</li>

	
   		<div id="moreDeal"></div>
	</ul>
   	<div id="loadmore" class="Fh_laod" style="display:none;"><i></i></div>
</section>
<div class="margb20"></div>
<div id="loadingBox" style="display:none;"><p>加载中...</p><i></i></div>
<div style="display: none">
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fbe822fa5da0da4d3baeb4a4235398b6c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>