<!--{template common/header}-->

<div id="wp" class="wp"><script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/jquery.js"></script>
<script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/i.js"></script>
<script charset="utf-8" type="text/javascript">var jq = jQuery.noConflict();</script>
<style id="diy_style" type="text/css"></style><!--在模板文件中添加存放CSS代码的标签-->

<link type="text/css" rel="stylesheet" href="{$plugin_config['csspath']}/common.css" />

<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->

<div class="wrap cl">
	<div class="main">
	<div id="pt">
	<a title="商家联盟" class="nvhm" id="fjump" href="./">商家联盟</a>
	<em>&rsaquo;</em><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=consume">消费券</a>
	</div>
	<div class="selection mbm">
	<div class="search">
	<div class="y">
	<form id="form_search_goods" method="get" action="consume.php">
	<input class="px" type="text" name="keyword" id="keyword" maxlength=50 value="" />
	<input type="hidden" name="catid" value="0" />
	&nbsp;
	<button type="submit">搜索</button>
	</form>
	</div>共查找到 <strong>2</strong> 张消费券</div>
	<dl class="cl">
	<dt>选择分类</dt>
	<dd class="cl" style="border: none;">
	<ul>
	<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=consume&catid=4&keyword=" >家居街 (1)</a></li>
	<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=consume&catid=82&keyword=" >婚嫁街 </a></li>
	<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=consume&catid=83&keyword=" >女人街 </a></li>
	<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=consume&catid=84&keyword=" >美食街 </a></li>
	<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=consume&catid=85&keyword=" >游戏数码 (1)</a></li>
	</ul>
	</dd>
	</dl></div><div class="bm mbm">
	<div class="bm_h">
	<h2>消费券列表</h2>
	</div>
	<div class="bm_c">
	<ul class="plist plb viewlist_consume cl">
	<li><div class="v_ineffect">有效</div><div class="thumb">
	<a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7&action=consume&xid=2" target="_blank"><img border="0" src="http://www.17xue8.cn/brand/attachments/2012/09/68_2012091117325913I3t.jpg" alt="免费洗车" /></a>
	</div>
	<p class="mtn"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7&action=consume&xid=2" title="免费洗车" target="_blank">免费洗车</a></p>
	<p class="xi1">有效期：  2012-09-11 至 2013-07-11</p>
	</li>
	<li><div class="v_ineffect">有效</div><div class="thumb">
	<a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=consume&xid=1" target="_blank"><img border="0" src="http://www.17xue8.cn/brand/attachments/2012/09/1_20120911025515133F1.jpg" alt="消费券" /></a>
	</div>
	<p class="mtn"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=consume&xid=1" title="消费券" target="_blank">消费券</a></p>
	<p class="xi1">有效期：  2012-09-02 至 2013-07-02</p>
	</li>
	</ul>
	</div>
	</div></div>
	<div class="side"><div class="bm" id="rdconsume">
	<div class="bm_h">
	<h3>热门消费券</h3>
	</div>
	<div class="bm_c">
	<ul class="tlist tlbp cl"><li class="cl a">
	<div class="thumb">
	<a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=consume&xid=1" title="消费券">
	<img src="http://www.17xue8.cn/brand/attachments/temp/102dd05aff1d2f3f.temp.jpg" alt="消费券"/>
	</a>
	</div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=consume&xid=1" target="_blank">消费券</a></p>
	<p class="xg1">有效期：  2012-09-02 至 2013-07-02</p>
	</li><li class="cl">
	<div class="thumb">
	<a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7&action=consume&xid=2" title="免费洗车">
	<img src="http://www.17xue8.cn/brand/attachments/temp/80e57aeaaaf7f232.temp.jpg" alt="免费洗车"/>
	</a>
	</div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7&action=consume&xid=2" target="_blank">免费洗车</a></p>
	<p class="xg1">有效期：  2012-09-11 至 2013-07-11</p>
	</li></ul>
	</div>
	</div>
	<script>
	jq("#rdconsume").find("li").mouseover(function(){jq("#rdconsume").find("li").removeClass("a"); jq(this).addClass("a");});
	</script><div class="bm">
	<div class="bm_h">
	<h3>热门商家</h3>
	</div>
	<div class="bm_c">
	<ul class="tlist cl">
	<li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/0295b80d8f2d1a11.temp.jpg" alt="discuz插件" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2" target="_blank">discuz插件</a></p>
	<p class="xi1"></p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=3" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/aef2c1dbedc6865c.temp.jpg" alt="衢州社区" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=3" target="_blank">衢州社区</a></p>
	<p class="xi1">整体厨房</p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=4" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/fe2312411ba2c831.temp.jpg" alt="小小家具店" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=4" target="_blank">小小家具店</a></p>
	<p class="xi1">整体厨房</p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=5" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/aef2c1dbedc6865c.temp.jpg" alt="斑尼蛋糕连锁店" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=5" target="_blank">斑尼蛋糕连锁店</a></p>
	<p class="xi1">江浙菜</p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=6" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/aef2c1dbedc6865c.temp.jpg" alt="美美理发" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=6" target="_blank">美美理发</a></p>
	<p class="xi1">卫浴瓷砖</p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/6361cad6cd9931ef.temp.jpg" alt="蓝钻汽车美容" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7" target="_blank">蓝钻汽车美容</a></p>
	<p class="xi1">保养护理</p>
	</li></ul>
	</div>
	</div></div>
	</div>
	<script>
	$(function(){
	$("#consumer dl").hover(function(){$(this).addClass("thison")},function(){$(this).removeClass("thison")})
	});
	</script>
</div>



<!--{subtemplate common/footer}-->

