<!--{template common/header}-->

<div id="wp" class="wp"><script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/jquery.js"></script>
<script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/i.js"></script>
<script charset="utf-8" type="text/javascript">var jq = jQuery.noConflict();</script>
<style id="diy_style" type="text/css"></style><!--在模板文件中添加存放CSS代码的标签-->

<link type="text/css" rel="stylesheet" href="{$plugin_config['csspath']}/common.css" />

<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->

<div class="wrap cl">
<div class="main">
<div id="pt"> <a title="商家联盟" class="nvhm" id="fjump" href="./">商家联盟</a>
<em>&rsaquo;</em><a href="goodsearch.php">商品</a>
</div>
<div class="selection mbm">
<div class="search">
<div class="y">
<form id="form_search_goods" method="get" action="goodsearch.php">
<input class="px" type="text" name="keyword" id="keyword" maxlength=50 value="" />
<input type="hidden" name="catid" value="0" />
&nbsp;
<button type="submit">搜索</button>
</form>
</div>共查找到 <strong>2</strong> 个商品</div>
<dl class="cl">
<dt>选择分类</dt>
<dd class="cl" style="border: none;">
<ul>
<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=goodsearch&catid=3&keyword=" >家居街 (1)</a></li>
<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=goodsearch&catid=42&keyword=" >婚嫁街 </a></li>
<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=goodsearch&catid=43&keyword=" >女人街 </a></li>
<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=goodsearch&catid=44&keyword=" >游戏数码 (1)</a></li>
</ul>
</dd>
</dl></div><div class="bm mbm">
<div class="bm_h">
<ul class="filter cl">
<li>
<span class="label">查看</span>
<a href="#" onclick="updateListView('goods', 'view', 'list');" class="mode_l">列表</a>
<a href="#" onclick="updateListView('goods', 'view', 'pic');" class="mode_p ap">大图</a>
</li>
<li class="order y">
<a href="#" onclick="updateListView('goods', 'sort', 'default');"  style="">默认</a>
<span class="pipe">|</span>
<a href="#" onclick="updateListView('goods', 'sort', 'view');" style="">浏览量</a>
</li>
</ul>
</div>
<div class="bm_c cl"><ul class="viewlist_enlarge cl">
<li>
<div class="thumb"><a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=4&action=good&xid=2"><img src="static/image/nophoto.gif" alt="刷碗机" /></a></div>
<h3 class="xi2 mtn"><a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=4&action=good&xid=2" title="刷碗机">刷碗机</a></h3>
<p class="xg1 mtn"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=4" title="小小家具店" target="_blank">小小家具店</a></p>
<p class="xi1">会员价格： <strong>1000.00 </strong>元</p>
</li>
<li>
<div class="thumb"><a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=good&xid=1"><img src="http://www.17xue8.cn/brand/attachments/2012/09/2_201209022230571b62A.jpg.thumb.jpg" alt="商家联盟一卡通" /></a></div>
<h3 class="xi2 mtn"><a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=good&xid=1" title="商家联盟一卡通">商家联盟一卡通</a></h3>
<p class="xg1 mtn"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2" title="discuz插件" target="_blank">discuz插件</a></p>
<p class="xi1">会员价格： <strong>1500.00 </strong>元</p>
</li>
</ul><div class="mtm cl">
</div>
</div>
</div></div>
<div class="side"><div class="bm">
<div class="bm_h">
<h3>热门商品</h3>
</div>
<div class="bm_c">
<ul class="tlist cl">
<li class="cl">
<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=good&xid=1" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/aa757dca6a656d12.temp.jpg" alt="商家联盟一卡通" /></a></div>
<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=good&xid=1" target="_blank">商家联盟一卡通</a></p>
<p class="xi1">6000.00 元</p>
</li><li class="cl">
<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=4&action=good&xid=2" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/aef2c1dbedc6865c.temp.jpg" alt="刷碗机" /></a></div>
<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=4&action=good&xid=2" target="_blank">刷碗机</a></p>
<p class="xi1">1200.00 元</p>
</li></ul>
</div>
</div><div class="bm" id="rdconsume">
<div class="bm_h">
<h3>热门消费券</h3>
</div>
<div class="bm_c">
<ul class="tlist tlbp cl"><li class="cl a">
<div class="thumb">
<a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=consume&xid=1" title="消费券">
<img src="http://www.17xue8.cn/brand/attachments/temp/102dd05aff1d2f3f.temp.jpg" alt="消费券"/>
</a>
</div>
<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=consume&xid=1" target="_blank">消费券</a></p>
<p class="xg1">有效期：  2012-09-02 至 2013-07-02</p>
</li><li class="cl">
<div class="thumb">
<a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7&action=consume&xid=2" title="免费洗车">
<img src="http://www.17xue8.cn/brand/attachments/temp/80e57aeaaaf7f232.temp.jpg" alt="免费洗车"/>
</a>
</div>
<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7&action=consume&xid=2" target="_blank">免费洗车</a></p>
<p class="xg1">有效期：  2012-09-11 至 2013-07-11</p>
</li></ul>
</div>
</div>
<script>
jq("#rdconsume").find("li").mouseover(function(){jq("#rdconsume").find("li").removeClass("a"); jq(this).addClass("a");});
</script></div>
</div>
	</div>
<!--{subtemplate common/footer}-->