		</div>
		<div class="bottom"> <img src="{$plugin_config['imagespath']}/zs_cbottom.jpg" alt="" width="980" height="40">
			<div>
				<h5>{$lang['contactus']}{$lang['colon']}</h5>
				 <span>{$lang['sitetel']}{$lang['colon']}<strong>$_G['setting']['sitetel']</strong></span> <span>{$lang['siteqq']}{$lang['colon']}<strong>$_G['setting']['siteqq']</strong></span>
				<!--{if $_G['setting']['miibeian']}-->
				<span><a href="http://www.miibeian.gov.cn" target="_blank">$_G['setting']['miibeian']</a></span>
				<!--{/if}-->
				 <span class="y"><script type="text/javascript" src="http://tajs.qq.com/stats?sId=11614130" charset="UTF-8"></script></span>
			</div>
		</div>
		<div class="foot"> <img src="{$plugin_config['imagespath']}/zs_bottom.jpg" alt="" width="980" height="18"> </div>
	</div>
	<div class="safety_line"></div>
</div>
<div style="display:none;">$_G['setting']['analytics']</div>


</body>
</html>