<!--{template common/header}-->

<div id="wp" class="wp"><script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/jquery.js"></script>
<script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/i.js"></script>
<script charset="utf-8" type="text/javascript">var jq = jQuery.noConflict();</script>
<style id="diy_style" type="text/css"></style><!--在模板文件中添加存放CSS代码的标签-->

<link type="text/css" rel="stylesheet" href="{$plugin_config['csspath']}/common.css" />

<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->

<div class="wrap cl">
	<div class="main">
	<div id="pt">
	<a title="商家联盟" class="nvhm" id="fjump" href="./">商家联盟</a>
	<em>&rsaquo;</em>
	<a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=album">相册</a>
	</div>
	<div class="selection mbm">
	<div class="search">
	<div class="y">
	<form id="form_search_albums" method="get" action="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=album">
	<input class="px" type="text" name="keyword" id="keyword" maxlength=50 value="" />
	<input type="hidden" name="catid" value="0" />
	<button name="shopsubmit" value="true" type="submit">搜索</button>
	</form>
	</div>共查找到 <strong>1</strong> 个相册</div>
	<dl class="cl">
	<dt>选择分类</dt>
	<dd class="cl" style="border: none;">
	<ul>
	<li>
	<a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=album&catid=2&keyword=" >
	婚嫁街 </a>
	</li>
	<li>
	<a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=album&catid=61&keyword=" >
	美食街 </a>
	</li>
	<li>
	<a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=album&catid=62&keyword=" >
	女人街 </a>
	</li>
	<li>
	<a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=album&catid=63&keyword=" >
	游戏数码 (1)</a>
	</li>
	</ul>
	</dd>
	</dl></div>
	<div class="bm mbm">
	<div class="bm_h">
	<h2>相册列表</h2>
	</div>
	<div class="bm_c">
	<ul class="viewlist_album cl">
	<li>
	<div class="thumb"><a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=album&xid=1"><img src="http://www.17xue8.cn/brand/attachments/photo/month_1209/1209022234c161c693ef351039.png.thumb.jpg" alt="商家联盟一卡通"></a></div>
	<h3 class="xi2"><a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=album&xid=1"  title="商家联盟一卡通">商家联盟一卡通1</a></h3>
	<p class="tu"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2" title="discuz插件" target="_blank">discuz插件</a></p>
	</li>
	</ul>
	</div>
	</div>
	</div>
	<div class="side"><div class="bm">
	<div class="bm_h">
	<h3>热门商家</h3>
	</div>
	<div class="bm_c">
	<ul class="tlist cl">
	<li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/0295b80d8f2d1a11.temp.jpg" alt="discuz插件" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2" target="_blank">discuz插件</a></p>
	<p class="xi1"></p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=3" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/aef2c1dbedc6865c.temp.jpg" alt="衢州社区" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=3" target="_blank">衢州社区</a></p>
	<p class="xi1">整体厨房</p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=4" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/fe2312411ba2c831.temp.jpg" alt="小小家具店" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=4" target="_blank">小小家具店</a></p>
	<p class="xi1">整体厨房</p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=5" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/aef2c1dbedc6865c.temp.jpg" alt="斑尼蛋糕连锁店" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=5" target="_blank">斑尼蛋糕连锁店</a></p>
	<p class="xi1">江浙菜</p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=6" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/aef2c1dbedc6865c.temp.jpg" alt="美美理发" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=6" target="_blank">美美理发</a></p>
	<p class="xi1">卫浴瓷砖</p>
	</li><li class="cl">
	<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7" target="_blank"><img src="http://www.17xue8.cn/brand/attachments/temp/6361cad6cd9931ef.temp.jpg" alt="蓝钻汽车美容" /></a></div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7" target="_blank">蓝钻汽车美容</a></p>
	<p class="xi1">保养护理</p>
	</li></ul>
	</div>
	</div><div class="bm" id="rdconsume">
	<div class="bm_h">
	<h3>热门消费券</h3>
	</div>
	<div class="bm_c">
	<ul class="tlist tlbp cl"><li class="cl a">
	<div class="thumb">
	<a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=consume&xid=1" title="消费券">
	<img src="http://www.17xue8.cn/brand/attachments/temp/102dd05aff1d2f3f.temp.jpg" alt="消费券"/>
	</a>
	</div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=2&action=consume&xid=1" target="_blank">消费券</a></p>
	<p class="xg1">有效期：  2012-09-02 至 2013-07-02</p>
	</li><li class="cl">
	<div class="thumb">
	<a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7&action=consume&xid=2" title="免费洗车">
	<img src="http://www.17xue8.cn/brand/attachments/temp/80e57aeaaaf7f232.temp.jpg" alt="免费洗车"/>
	</a>
	</div>
	<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid=7&action=consume&xid=2" target="_blank">免费洗车</a></p>
	<p class="xg1">有效期：  2012-09-11 至 2013-07-11</p>
	</li></ul>
	</div>
	</div>
	<script>
	jq("#rdconsume").find("li").mouseover(function(){jq("#rdconsume").find("li").removeClass("a"); jq(this).addClass("a");});
	</script></div>
	</div>



	<script type="text/javascript" charset="utf8">
	jq(document).ready(function() {

		jq("#albumslist .everylist").hover(function() {
			jq("#albumslist .everylist").hover(function() {
					jq(this).css({'background' : 'url({$plugin_config['imagespath']}/bg_goodssearch_hover.png) repeat-x scroll 0 bottom'});

				} , function() {
					jq(this).css({'background' : 'url({$plugin_config['imagespath']}/bg_goodssearch.png) repeat-x scroll 0 bottom'});

				});
		});
	});
	function showalbumlist(shopid) {
	jq("#albumlist").load('plugin.php?id={$plugin_config['plugin_name']}:brand&mod=album&action=getalbumlist&shopid=' + shopid);
	}
	</script>
</div>



<!--{subtemplate common/footer}-->

