<!--{template common/header}-->

<script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/jquery.js"></script>
<script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/i.js"></script>
<script charset="utf-8" type="text/javascript">var jq = jQuery.noConflict();</script>
<style id="diy_style" type="text/css"></style><!--在模板文件中添加存放CSS代码的标签-->

<link type="text/css" rel="stylesheet" href="{$plugin_config['csspath']}/common.css" />

<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->

<div class="wrap cat mbm cl">
	<div class="cat_c">
		<div id="category">
			<ul>
			<!--{eval $cat_count = 0;}-->
			<!--{loop $shopcategories $cat}-->
				<!--{if $cat[upid] == 0}-->
				<!--{eval $cat_count ++;}-->
				<li id="cat_{$cat['catid']}"{if $cat_count > 8} style="display:none;"{/if}>
					<h3><b>&gt;</b><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=street&catid={$cat['catid']}">{$cat['name']}</a></h3>
					<!--{if $cat['subcat']}-->
						<div class="category_c" id="cat_{$cat['catid']}_menu">
							<!--{loop $cat['subcat'] $c_cat}-->
							<!--{if $c_cat['upid'] != 0 && $c_cat['catid'] > 0}-->
							<a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=street&subcatid={$c_cat['subcatid']}">$c_cat['name']</a>
							<!--{/if}-->
							<!--{/loop}-->
						</div>
					<!--{/if}-->
				</li>
				<!--{/if}-->
				<!--{/loop}-->
			</ul>
			<!--{if $cat_count > 8}-->
			<a id="more_cat" href="javascript:;" title="{$lang['more_shop']}">{$lang['more_shop']}</a>
			<!--{/if}-->
		</div>
	</div>
	<div id="focus">
		<div id="play">
			<div id="play_text"></div>
			<div id="play_list">
				<!--{loop $indexhtml $huandeng}-->
					<a href="{$huandeng[link]}" target="_blank">
						<img src="{$huandeng[img]}" width="540" height="150" title="" alt="" />
					</a>
				<!--{/loop}-->
			</div>
		</div>
		<div class="cmdl">
			<h3>推荐商家</h3>
			<ul class="plist cl">
			<!--{loop $recommendshops $tuijian}-->
			<li>
			<div class="thumb"><a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid={$tuijian[itemid]}"><img src="{$tuijian[subjectimage]}" width="76" height="76" alt="{$tuijian[subjecttext]}" /></a></div>
			<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid={$tuijian[itemid]}" target="_blank" title="">{$tuijian[subject]}</a></p>
			</li>
			<!--{/loop}-->
			</ul>
		</div>
	</div>
	<div class="ann">
		<div id="quick" class="mbm cl">{$shopreg_href}</div>

		<div class="bm">
			<div class="bm_h">
				<em><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=sitenotice" target="_blank">更多</a></em>
				<h3>站点公告</h3>
			</div>
			<div class="bm_c">
				<ul class="tlist cl">
				<li><a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=sitenotice&noticeid={$sitenoticelist['noticeid']}"  title="{$sitenoticelist['subject']}">{$sitenoticelist[subject]}</a></li>
					<!--{if $sitenoticelists}-->
						<!--{loop $sitenoticelists $notice}-->
							<li><a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:sitenotice&noticeid={$notice['noticeid']}" title="{$notice['subject']}">{$notice['subject']}</a></li>
						<!--{/loop}-->
					<!--{/if}-->
				</ul>
			</div>
		</div>
		<div class="bm">
			<div class="bm_h">
				<em><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=sitenotice" target="_blank">更多</a></em>
				<h3>消费记录</h3>
			</div>
			<div class="bm_c">
				<ul id="consumescroll" style="height:110px;overflow:hidden;">
					<!--{loop $xiaofeijilus $xiaofeijilu}-->
						<li>
							<ul class="hhb_pptj1"   onmouseout="this.style.background=''" onmouseover="this.style.background='#FBF5DF';">
							<li>
								<div style="width:240px;">
								<a href="home.php?mod=space&uid={$xiaofeijilu[uid]}&do=profile" target="_blank" title="">{$xiaofeijilu[username]}</a> 在 <a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid={$xiaofeijilu['itemid']}" style="color:#C80708;" title="{$xiaofeijilu[subjecttext]}" target="_blank">{$xiaofeijilu[subject]}</a>
								</div>
								<div  style="width:240px;">
								消费   获得{$xiaofeijilu[jifen]}积分
								</div>
							</li>
							</ul>
						</li>
					<!--{/loop}-->

					<script>new simplescroll('consumescroll', {start_delay:0, speed: 10, delay:2000, direction:1, scrollItemCount:1, movecount:1});</script>
				</ul>
			</div>
		</div>

	</div>
</div>
<div class="wrap cl">
	<div class="mbox1">
		<div class="mbox1_h">
		<h3>会员商家</h3>
		<em><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=street&filter=card">更多</a></em>
	</div>
	<div class="mbox_c1">
		<div class="mall-list" id="hot">
			<!--{loop $huiyuanshops $huiyuan}-->
			<ul onmouseover="showDiv('hot_{$huiyuan['itemid']}')" id="ul_hot_{$huiyuan['itemid']}" onmouseout="closeDiv('hot_{$huiyuan['itemid']}')" class="s_box ">
				<li>
					<div class="logo">
						<a target="_blank"  href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid={$huiyuan['itemid']}" title="{$huiyuan['subjecttext']}"><img src="{$huiyuan[subjectimage]}" width="176" height="115"> </a>
					</div>

					<div class="s_xx">
						<div class="s_name">
								<p style="padding-bottom:3px; display:none"> <a title="{$huiyuan['message']}" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid={$huiyuan['itemid']}" id="mingzi_{$huiyuan['itemid']}"></a> </p>
								<p style="padding-bottom:0px;"><font style="color:#000000;">{$huiyuan['subject']}</font><span id="leiji_{$huiyuan['itemid']}" values="-" class="glo_color"></span><br /><img src="{$plugin_config['imagespath']}/minika.png" width="16" height="12" >&nbsp;&nbsp;<font style="color:#000000;">{$huiyuan['discount']}</font></p>
						</div>
					</div>
				</li>
			</ul>
			<!--{/loop}-->
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
<div class="wrap cl">
<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
</div>
</div>
</div>
<script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/index.js"></script>
</div>
<!--{subtemplate common/footer}-->