<!--{template common/header}-->

<div id="wp" class="wp"><script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/jquery.js"></script>
<script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/i.js"></script>
<script charset="utf-8" type="text/javascript" src="{$plugin_config['jspath']}/common.js"></script>
<script charset="utf-8" type="text/javascript">var jq = jQuery.noConflict();</script>
<style id="diy_style" type="text/css"></style><!--在模板文件中添加存放CSS代码的标签-->

<link type="text/css" rel="stylesheet" href="{$plugin_config['csspath']}/common.css" />

<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->

<div class="wrap cl">
	<div class="main">
	<div id="pt"> <a title="商家联盟" class="nvhm" id="fjump" href="./">商家联盟</a><em>&rsaquo;</em><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=street">商圈</a>{$curecat}
	</div>
	<div class="selection mbm">
	<div class="search">
	<div class="y">
	<form id="searchForm" method="get" action="street.php">
	<input class="px" type="text" name="keyword" id="keyword" maxlength=50 value="" />
	<input type="hidden" name="catid" value="0" />
	<input type="hidden" name="region" value="0" /> &nbsp;
	<button name="shopsubmit" value="true" type="submit">搜索</button>
	</form>
	</div>共查找到 <strong>{$sitecount}</strong> 个商家 </div>
	<dl class="cl">
	<dt>选择分类</dt>
	<dd class="cl" style="border: none;">
	<ul>
	<!--{loop $displaycats $displaycat}-->
	<li>
	{$displaycat}
	</li>
	<!--{/loop}-->
	
	</ul>
	</dd>
	</dl>
	<dl class="cl">
	<dt>选择地区</dt>
	<dd class="cl">
	<ul>
	<li><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=street">{$districtname}</a></li>
	<!--{loop $districts $district}-->
	<li>
	{$district}
	</li>
	<!--{/loop}-->
	</ul>
	</dd>

	<dd class="cl">
	<ul>
	<!--{loop $subdistricts $subdistrict}-->
	<li>
	{$subdistrict}
	</li>
	<!--{/loop}-->
	</ul>
	</dd>
	</dl>
	</div><div class="bm mbm">
	<div class="bm_h">
	
	</div>
	<div class="bm_c">
	<!--{if $viewby == ''}-->
	<ul class="viewlist cl">

	<!--{loop $shopinfos $shopinfo}-->
		<li>
			<div class="thumb">
				<a target="_blank" href="plugin.php?id=yikatong:brand&mod=store&sid={$shopinfo[itemid]}">
				<img src="{$shopinfo[subjectimage]}" alt="{$shopinfo[subjecttext]}" />
				</a>
			</div>
			<div class="info">
				<h3 class="xi2"><a target="_blank" href="plugin.php?id=yikatong:brand&mod=store&sid={$shopinfo[itemid]}" title="{$shopinfo[subjecttext]}">{$shopinfo[subject]}</a>
				<img title="会员卡商家" src="{$plugin_config['imagespath']}/ico_vip.gif" class="vm" />&nbsp;
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=11111111&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{$shopinfo[applicantqq]}:46" alt="点击这里给我发消息" title="点击这里给我发消息" class="vm"></a></h3>
				<p>地址：{$shopinfo[address]}</p>
				<p> 电话： {$shopinfo[tel]}</p>
				<p class="discount xg1"></p>
				<p></p>
			</div>
			<div class="attribute cl">
				<span class="s1 point" style="text-align:center;margin-top:20px;height:40px;background: #FFF;"><strong>0</strong>.00</span>
				
				<span style="text-align:center;width:120px;margin-top: 2px;background: #fff;"><img src="{$plugin_config['imagespath']}/safe_img1.gif" title="一卡通折扣" /></span>
				<span style="text-align:center;width:120px;float: right;margin-top: 2px;background: #fff;"><strong>持一卡通享受</strong></span>
				<span style="text-align:center;width:120px;position:relative;;top: -45px;left:60px; font-weight: bold;color: #ff0000;"><strong>{$shopinfo[zhekou]}</strong></span>
			</div>
		</li>
	<!--{/loop}-->
	</ul>
	<!--{else}-->
	<ul class="viewlist_enlarge cl">
		<!--{loop $shopinfos $shopinfo}-->
		<li>
			<div class="thumb"><a target="_blank" href="plugin.php?id=yikatong:brand&mod=store&sid={$shopinfo['itemid']}"><img src="{$shopinfo[subjectimage]}" alt="{$shopinfo['subjecttext']}" /></a></div>
			<h3 class="xi2 mtn"><a target="_blank" href="plugin.php?id=yikatong:brand&mod=store&sid={$shopinfo['itemid']}" title="{$shopinfo['subjecttext']}">$shopinfo['subject']</a></h3>
			<!--{if $value['isdiscount'] && $value['discount']}--><p class="xg1 mtn">$value['discount']</p><!--{/if}-->
			<p class="xi1">
			<img src="static/image/common/{$value['groupinfo']['icon']}" title="{$value['groupinfo']['title']}">
			</p>
		</li>
		<!--{/loop}-->
	</ul>
	<!--{/if}-->
	
	<!--{if $multi}--><div class="pgs cl mtm">$multi</div><!--{/if}-->
	
	</div>
	</div></div>
	<div class="side"><div class="bm">
	<div class="bm_h">
	<h3>热门商家</h3>
	</div>
	<div class="bm_c">
	<ul class="tlist cl">
	<!--{loop $hotshops $shopinfo}-->
		<li class="cl">
		<div class="thumb"><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid={$shopinfo[itemid]}" target="_blank"><img src="{$shopinfo[subjectimage]}" width="50" height="40" alt="{$shopinfo['subjecttext']}" /></a></div>
		<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid={$shopinfo[itemid]}" target="_blank">{$shopinfo[subject]}</a></p>
		<p class="xi1"></p>
		</li>
	<!--{/loop}-->
	</ul>
	</div>
	</div><div class="bm" id="rdshop">
	<div class="bm_h">
	<h3>推荐会员卡商家</h3>
	</div>
	<div class="bm_c">
	<ul class="tlist tlp cl">
	<!--{loop $tuijianshops $shopinfo}-->
		<li class="cl {$shopinfo[class]}">
		<div class="thumb">
		<a target="_blank" href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid={$shopinfo[itemid]}" title="{$shopinfo['subjecttext']}">
		<img src="{$shopinfo[subjectimage]}" width="50" height="40" alt="{$shopinfo['subjecttext']}" />
		</a>
		</div>
		<p><a href="plugin.php?id={$plugin_config['plugin_name']}:brand&mod=store&sid={$shopinfo[itemid]}" target="_blank">{$shopinfo[subject]}</a></p>
		<span class="xi1"></span>
		</li>
	<!--{/loop}-->
	
	</ul>
	</div>
	</div>
	<script>
	jq("#rdshop").find("li").mouseover(function(){jq("#rdshop").find("li").removeClass("a"); jq(this).addClass("a");});
	</script></div>
	</div>
</div>



<!--{subtemplate common/footer}-->

