<!--{eval $shop_sortid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='shop_zidingyi'");}-->
<!--{eval $goods_sortid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='goods_zidingyi'");}-->
<!--{eval $shop_fid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='shop_forum'");}-->
<!--{eval $goods_fid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='goods_forum'");}-->

<!--{if $_GET['fid'] == $shop_fid}-->
	<!--{eval //var_dump($_GET['shopid']);}-->
	<!--{eval $ykt_nav = '我的店铺';}-->
	<!--{eval $list_title_text = '我的店铺列表';}-->
	<!--{eval $sortid=$shop_sortid;}-->
	<!--{eval $filed = 'ykt_logo';}-->
	


<!--{/if}-->
<!--{if $_GET['fid'] == $goods_fid}-->
	<!--{eval //var_dump($_GET['shopid']);}-->
	<!--{eval $shop_name = DB::result_first("SELECT subject FROM ".DB::table('forum_thread')." WHERE tid=".$_GET['shopid']);}-->
	<!--{eval $ykt_nav = '<a href="forum.php?mod=guide&view=my&fid='.$shop_fid.'&type=ykt">我的店铺</a><em>&raquo;</em>'.$shop_name.'<em>&raquo;</em>商品列表';}-->
	<!--{eval $list_title_text = '【'.$shop_name.'】商品列表';}-->
	<!--{eval $sortid=$goods_sortid;}-->
	<!--{eval $filed = 'ykt_sptp';}-->

<!--{/if}-->

<!--{subtemplate common/header}-->
<script type="text/javascript" src="$_G['style']['styleimgdir']/jquery.min.js"></script>  
<script type="text/javascript">
	var jq = jQuery.noConflict(); 
</script>
<div class="cl alliance">
	<div id="pt" class="bm cl" style="width:960px; float:left;">
		<div class="z">
			<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a><em>&raquo;</em><a href="forum.php?mod=forumdisplay&fid={$shop_fid}">商家首页</a><em>&raquo;</em>{$ykt_nav}  fid=$_GET['fid'];shopid=$_GET['shopid'];
		</div>
	</div>

	<div class="wpLeft z">
		<div class="haodian_search">
		<!--{if $_GET['fid'] == $shop_fid}-->
			<dl>您目前已经有 <em><!--{eval echo $data['my']['threadcount'];}--></em> 家店铺&nbsp;&nbsp;&nbsp;&nbsp;</dl>
		<!--{/if}-->
		<!--{if $_GET['fid'] == $goods_fid}-->
			<dl>【{$shop_name}】目前已经有 <em><!--{eval echo $data['my']['threadcount'];}--></em> 个商品&nbsp;&nbsp;&nbsp;&nbsp;</dl>
		<!--{/if}-->
		</div>

<script type="text/javascript" src="{$_G['setting']['jspath']}forum_moderate.js?{VERHASH}"></script>

<form method="post" autocomplete="off" name="modactions" id="modactions">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<input type="hidden" name="optgroup" />
	<input type="hidden" name="operation" />
	<input type="hidden" name="listextra" value="$_GET[extra]" />
	<input type="hidden" name="page" value="$page" />
</form>

		<div class="indexList">
			<div id="fenleis"><img src="$_G['style']['styleimgdir']/slist.png" /></div>	
			<h3><strong>{$list_title_text}</strong></h3>
			<div class="listSj cl" id="bh">
			
				
				<!--{eval $sortoption_array = array('ykt_logo','ykt_dpdh','ykt_dizhi','ykt_shuomin','ykt_zhekou','ykt_sptp');}-->
				<!--{eval foreach ($sortoption_array as $sokey=>$sovalue){}-->
				<!--{eval $sort_dis[$sovalue] = DB::result_first("SELECT optionid FROM ".DB::table('forum_typeoption')." WHERE identifier='".$sovalue."'");}-->
				<!--{eval }}-->
				<!--{if $data}-->

				

				<!--{loop $data $key $list}-->
				<!--{if $list['threadcount']}-->
				<!--{loop $list['threadlist'] $key $thread}-->

					
					<!--{eval $query = DB::query("SELECT optionid,value FROM ".DB::table('forum_typeoptionvar')." WHERE sortid = ".$sortid." and tid =".$thread[tid]);}-->
					<!--{eval while($row = DB::fetch($query)) {}-->
					<!--{eval $sortvalue[$row[optionid]] = $row[value];}-->
					<!--{eval }}-->
					
					 <dl>
						<ol></ol>
						<dt>
						<!--{eval //var_dump($sortvalue[$sort_dis[ykt_sptp]]);}-->
						<!--{eval $img_url_info = dunserialize($sortvalue[$sort_dis[$filed]]);}-->
						<!--{if $img_url_info[url]!=''}-->
							<a href="forum.php?mod=viewthread&tid=$thread[tid]&{if $_GET['archiveid']}archiveid={$_GET['archiveid']}&{/if}extra=$extra"$thread[highlight]{if $thread['isgroup'] == 1 || $thread['forumstick']} target="_blank"{else} onclick="atarget(this)"{/if}><img src="{$img_url_info[url]}" width="120" height="120" /></a>
								<!--{else}-->
							<a href="forum.php?mod=viewthread&tid=$thread[tid]&{if $_GET['archiveid']}archiveid={$_GET['archiveid']}&{/if}extra=$extra"$thread[highlight]{if $thread['isgroup'] == 1 || $thread['forumstick']} target="_blank"{else} onclick="atarget(this)"{/if}><img src="$_G['style']['styleimgdir']/over.jpg" /></a>
						<!--{/if}-->
						</dt>
						<dd class="xx">
							<strong>
								<!--{if $sortvalue[$sort_dis[ykt_shuomin]]==''}--><a title="折扣说明："><img src="$_G['style']['styleimgdir']/zkou.gif" alt="会员折扣店" /></a><!--{/if}-->
							<!--{if $sortvalue[$sort_dis[ykt_zhekou]]!=''}--><a title="本店支持一卡通"><img src="$_G['style']['styleimgdir']/ka.gif" />&nbsp;</a><!--{/if}--><a href="forum.php?mod=guide&view=my&&fid={$goods_fid}&type=ykt&shopid={$thread[tid]}">{$thread[subject]}</a></strong>
							<!--{if $stemplate && $sortid}-->$stemplate[$sortid][$thread[tid]]<!--{/if}-->
							<!--{if $_GET['fid'] == $shop_fid}-->
								<!--{eval $goods_num = DB::result_first("SELECT count(*) FROM ".DB::table('forum_typeoptionvar')." WHERE optionid=".(DB::result_first("SELECT optionid FROM ".DB::table('forum_typeoption')." WHERE identifier='ykt_shopid'"))." and value = '".$thread[tid]."'");}-->
								<p>商品个数：<a href="forum.php?mod=guide&view=my&&fid={$goods_fid}&type=ykt&shopid={$thread[tid]}">{$goods_num}</a>个，<a href="forum.php?mod=post&action=newthread&fid={$goods_fid}&sortid={$goods_sortid}&shopid={$thread[tid]}">增加商品</a></p>
							<!--{/if}-->
							<!--{if $_GET['fid'] == $goods_fid}-->
								<!--{eval $goods_num = DB::result_first("SELECT count(*) FROM ".DB::table('forum_typeoptionvar')." WHERE optionid=".(DB::result_first("SELECT optionid FROM ".DB::table('forum_typeoption')." WHERE identifier='ykt_shopid'"))." and value = '".$thread[tid]."'");}-->
								<p>消费记录：<a href="forum.php?mod=guide&view=my&&fid={$goods_fid}&type=ykt&shopid={$thread[tid]}">{$goods_num}</a>条</p>
							<!--{/if}-->

						</dd>
						<!--{eval $pid = DB::result_first("SELECT pid FROM ".DB::table('forum_post')." WHERE tid=".$thread[tid]." and first = 1");}-->
						<script type="text/javascript">var fid = parseInt('$_GET[fid]'), tid = parseInt('$thread[tid]');</script>
						<dd class="ss"><a href="forum.php?mod=post&action=edit&fid={$_GET[fid]}&tid={$thread[tid]}&pid={$pid}">编辑</a>&nbsp;&nbsp;<a href="javascript:;" onclick="modthreads(3, 'delete')">删除</a></dd>    
					  </dl>

					<!--{/loop}-->
					<!--{/if}-->
					<!--{/loop}-->
				<!--{else}--> 
				   <ul class="cl erroe">SORRY!暂无任何商家...</ul>
				<!--{/if}-->
			</div>
		   {$multipage}
		</div>
	</div>


	<div class="wpRight y">
		<div id="chicknew"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&sortid=$sortid" class=\"xis\">马上登记入住</a></div>
		<div id="xfjl"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&sortid=$sortid" >查看消费记录</a></div>
	</div>
</div>

{template common/footer}
       
<script type="text/javascript" src="$_G['style']['styleimgdir']/jq.js"></script>
