<!--{eval $shop_sortid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='shop_zidingyi'");}-->
<!--{eval $goods_sortid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='goods_zidingyi'");}-->
<!--{eval $groupbuy_sortid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='groupbuy_zidingyi'");}-->
<!--{eval $consume_sortid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='consume_zidingyi'");}-->
<!--{eval $shop_fid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='shop_forum'");}-->
<!--{eval $goods_fid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='goods_forum'");}-->
<!--{eval $shopinfo_fid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='shopinfo_forum'");}-->
<!--{eval $yuyue_fid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='yuyue_forum'");}-->
<!--{eval $groupbuy_fid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='groupbuy_forum'");}-->
<!--{eval $consume_fid = DB::result_first("SELECT value FROM ".DB::table('brand_settings')." WHERE variable='consume_forum'");}-->
<!--{if $_G[fid]==$shop_fid}-->
<!--{eval $sortid = $shop_sortid;}-->
<!--{eval $shopid = $_GET['tid'];}-->
<!--{/if}-->
<!--{if $_G[fid]==$goods_fid }-->
	<!--{eval //var_dump($_G['tid']);}-->
	<!--{eval //var_dump($_GET['tid']);}-->
	<!--{eval //var_dump(DB::result_first("SELECT value FROM ".DB::table('forum_typeoptionvar')." WHERE optionid = ".DB::result_first("SELECT optionid FROM ".DB::table('forum_typeoption')." WHERE identifier='ykt_shopid'")." and tid = ".$_GET['tid']));}-->
	<!--{eval $sortid = $goods_sortid;}-->
	<!--{eval $shopid = $_GET['shopid']?$_GET['shopid']:(DB::result_first("SELECT value FROM ".DB::table('forum_typeoptionvar')." WHERE optionid = ".DB::result_first("SELECT optionid FROM ".DB::table('forum_typeoption')." WHERE identifier='ykt_shopid'")." and tid = ".$_GET['tid']));}-->
	<!--{eval //$shopid = $_GET['shopid']?$_GET['shopid']:$_GET['tid'];}-->
<!--{/if}-->
<!--{if $_G[fid]==$groupbuy_fid }-->
	<!--{eval //var_dump($_G['tid']);}-->
	<!--{eval //var_dump($_GET['tid']);}-->
	<!--{eval //var_dump(DB::result_first("SELECT value FROM ".DB::table('forum_typeoptionvar')." WHERE optionid = ".DB::result_first("SELECT optionid FROM ".DB::table('forum_typeoption')." WHERE identifier='ykt_shopid'")." and tid = ".$_GET['tid']));}-->
	<!--{eval $sortid = $groupbuy_sortid;}-->
	<!--{eval $shopid = $_GET['shopid']?$_GET['shopid']:(DB::result_first("SELECT value FROM ".DB::table('forum_typeoptionvar')." WHERE optionid = ".DB::result_first("SELECT optionid FROM ".DB::table('forum_typeoption')." WHERE identifier='ykt_shopid'")." and tid = ".$_GET['tid']));}-->
	<!--{eval //$shopid = $_GET['shopid']?$_GET['shopid']:$_GET['tid'];}-->
<!--{/if}-->
<!--{if $_G[fid]==$consume_fid }-->
	<!--{eval //var_dump($_G['tid']);}-->
	<!--{eval //var_dump($_GET['tid']);}-->
	<!--{eval //var_dump(DB::result_first("SELECT value FROM ".DB::table('forum_typeoptionvar')." WHERE optionid = ".DB::result_first("SELECT optionid FROM ".DB::table('forum_typeoption')." WHERE identifier='ykt_shopid'")." and tid = ".$_GET['tid']));}-->
	<!--{eval $sortid = $consume_sortid;}-->
	<!--{eval $shopid = $_GET['shopid']?$_GET['shopid']:(DB::result_first("SELECT value FROM ".DB::table('forum_typeoptionvar')." WHERE optionid = ".DB::result_first("SELECT optionid FROM ".DB::table('forum_typeoption')." WHERE identifier='ykt_shopid'")." and tid = ".$_GET['tid']));}-->
	<!--{eval //$shopid = $_GET['shopid']?$_GET['shopid']:$_GET['tid'];}-->
<!--{/if}-->



{template forum/header}
<script type="text/javascript">var fid = parseInt('$_G[fid]'), tid = parseInt('$_G[tid]');</script>
<!--{if $modmenu['thread'] || $modmenu['post']}-->
	<script type="text/javascript" src="{$_G['setting']['jspath']}forum_moderate.js?{VERHASH}"></script>
<!--{/if}-->
<script type="text/javascript" src="{$_G['setting']['jspath']}forum_viewthread.js?{VERHASH}"></script>
<script type="text/javascript">zoomstatus = parseInt($_G['setting']['zoomstatus']);var imagemaxwidth = '{$_G['setting']['imagemaxwidth']}';var aimgcount = new Array();</script>

<script>
<!--
	function setTab(name,cursel,n){
		for(i=1;i<=n;i++){
			var menu=document.getElementById(name+i);
			var con=document.getElementById("con_"+name+"_"+i);
			menu.className=i==cursel?"hover":"";
			con.style.display=i==cursel?"block":"none";
		}
	}
//-->
</script>

<form method="post" autocomplete="off" name="modactions" id="modactions">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<input type="hidden" name="optgroup" />
	<input type="hidden" name="operation" />
	<input type="hidden" name="listextra" value="$_GET[extra]" />
	<input type="hidden" name="page" value="$page" />
</form>

<div class="cl alliance" style="margin-bottom:10px">
<div class="shangTopwp">
<!--{if $_G[fid]==$shop_fid}-->

	{template forum/view_shop}
<!--{elseif $_G[fid]==$goods_fid}-->
	{template forum/view_goods}
<!--{elseif $_G[fid]==$shopinfo_fid}-->
	{template forum/view_shopinfo}
<!--{elseif $_G[fid]==$groupbuy_fid}-->
	{template forum/view_groupbuy}
<!--{elseif $_G[fid]==$yuyue_fid}-->
	{template forum/view_yuyue}
<!--{elseif $_G[fid]==$consume_fid}-->
	{template forum/view_consume}
<!--{else}-->
	{template forum/view_default}
<!--{/if}-->

{template forum/right}
</div>
</div>

{template common/footer}
       
<script type="text/javascript" src="$_G['style']['styleimgdir']/jq.js"></script>
