<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>


<div class="wp">
	<!--[diy=diyid]--><div id="diyid" class="area"></div><!--[/diy]-->
</div>
<div class="wp">
	<div class="bm cl mtn">
		<!--[diy=diyida]--><div id="diyida" class="area"></div><!--[/diy]-->
		<div class="bm_h cl">
			<h2>Õ≈π∫√˚’æ</h2>
		</div>
		<div class="bm_c">
		<ul class="ml mlt mtw cl">
		<!--{loop $topgroupbuys $topgroupbuy}-->
		<li style="width:83px;">
		<a href="{$topgroupbuy[link]}"><img class="" src="{$topgroupbuy[url]}" width="83" height="83" alt="{$topgroupbuy[title]}" /></a>
		<div>{$topgroupbuy[shibiecode]}</div>
		<div class=""><a href="{$topgroupbuy[link]}">{$topgroupbuy[title]}</a></div>
		</li>
		<!--{/loop}-->
		</ul>
		</div>
	</div>
	<!--{loop $categorys $key $category}-->
	<!--[diy=diyid{$key}]--><div id="diyid{$key}" class="area"></div><!--[/diy]-->
	<div class="bm cl mtn">
		<div class="bm_h cl">
			<h2>{$category}</h2>
		</div>
		<div class="bm_c">
		<ul class="ml mlt mtw cl">
		<!--{loop $goods[$key] $good}-->
		<li style="width:300px;">
		<a href="{$good[link]}"><img class="" src="{$good[url]}" width="270" height="270" alt="{$good[title]}" /></a>
		<div>{$good[shibiecode]}</div>
		<div class=""><a href="{$good[link]}">{$good[title]}</a></div>
		</li>
		<!--{/loop}-->
		</ul>
		</div>
	</div>
	<!--{/loop}-->
</div>
<!--{template common/footer}-->
