<!--{if $bind_status==0}-->
<form id="yikatong" name="yikatong" method="post" autocomplete="off" action="home.php?mod=spacecp&ac=plugin&id=yikatong:yktbind" >
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<input type="hidden" name="yikatongsubmit" value="true" />
	<input type="hidden" name="handlekey" value="yikatong" />
	<table cellspacing="0" cellpadding="0" class="tfm mtn">
		<tr id="paybox">
			<th>一卡通卡号</th>
			<td class="pns">
				<input type="text" size="50" class="px" style="width: auto;" id="cardno" name="cardno" value="" />
			</td>
			<td width="300" class="d">
				输入异卡通卡号
			</td>
		</tr>
		<tr id="paybox">
			<th>激活密钥</th>
			<td class="pns">
				<input type="text" size="20" class="px" style="width: auto;" id="cardpass" name="cardpass" value="" />
			</td>
			<td width="300" class="d">请填写激活密码
				
			</td>
		</tr>
		<tr id="paybox">
			<th>登陆密码</th>
			<td class="pns">
				<input type="password" size="20" class="px" style="width: auto;" id="transpass" name="transpass" value="" />
			</td>
			<td width="300" class="d">
				请填写您在本站的登陆密码
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td colspan="2">
				<button type="submit" name="yikatong_btn" class="pn" id="yikatong_btn" value="true"><em>绑定</em></button>
			</td>
		</tr>

	</table>
</form>
<!--{/if}-->
<!--{if $bind_status==1}-->
<ul class="creditl mtm bbda cl">
<li class="cl">您已经绑定了一卡通，卡号为：{$cardno_info}</li>
</ul>

<!--{/if}-->
<!--{if $type=='transfer'}-->
$errmsg
<!--{/if}-->

