<br />
<table summary="{lang get_credit_histroy}" cellspacing="0" cellpadding="0" class="dt">
	<tr>
		<tr>
			<td class="xw1">消费类型</td>
			<td class="xw1">订单号</td>
			<td class="xw1">商品名称</td>
			<td class="xw1">价格</td>
			<td class="xw1">件数</td>
			<td class="xw1">交易时间</td>
			<td class="xw1">会员卡号</td>
			<td class="xw1">操作员</td>
			<td class="xw1">所属商家</td>
			<td class="xw1">状态</td>
			<td class="xw1">节省</td>
			<td class="xw1">积分</td>
		</tr>
	</tr>
	<!--{eval $i = 0;}-->
	<!--{loop $xiaofeijilu $key $list}-->
	<!--{eval $i++;}-->
	<tr{if $i % 2 == 0} class="alt"{/if}>
		<td>{$list[xflx]}</td>
		<td>{$list[ddh]}</td>
		<td>{$list[spmc]}</td>
		<td>{$list[jg]}</td>
		<td>{$list[js]}</td>
		<td>{$list[jysj]}</td>
		<td>{$list[hykh]}</td>
		<td>{$list[czy]}</td>
		<td>{$list[sssj]}</td>
		<td>{$list[zt]}</td>
		<td>{$list[jieshen]}</td>
		<td>{$list[rangli]}</td>
	</tr>
	<!--{/loop}-->
</table>
<!--{if $multi}--><div class="pgs cl mtm">$multi</div><!--{/if}-->