@charset "utf-8";

/**
 *      [品牌空间] (C)2001-2010 Comsenz Inc.
 *      This is NOT a freeware, use is subject to license terms
 *
 *      $Id: groupbuy.css 4333 2010-09-06 02:51:12Z yanghuan $
 */

#albumlist {
	margin: 10px;
	overflow: hidden;
}

#albumlist li {
	background: url(../../../static/image/img_li_bg.gif) no-repeat scroll 0
		0 transparent;
	display: inline-block;
	float: left;
	vertical-align: bottom;
	height:180px;
	width: 180px;
}

#albumlist li img {
	max-height: 120px;
	margin: 13px 0 0 8px;
	overflow: hidden;
	max-width: 150px;
	width:expression(this.width > 150 ? 150 :true); 
	height:expression(this.height > 120 ? 120 :true); 
}

.thumb {
    cursor: pointer;
    display: table-cell;
    height: 140px;
    outline: medium none;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 160px;
}

#albumlist li .album_desc {
	color: #925A21;
	height: 24px;
	line-height: 24px;
	margin: 8px 0 5px 5px;
	overflow: hidden;
	text-align: center;
	width: 160px;
}

/*.main .content h3 {
	clear: both;
	display: block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
}*/

.targetpic {
	clear: both;
	float: left;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.description {
	background: none repeat scroll 0 0 #F2F2F2;
	border-color: #cdcdcd;
	border-style: solid none;
	border-width: 1px medium;
	line-height: 20px;
	color: #925A21;
	margin-top: 10px;
	margin-left: 20px;
	padding: 5px 20px;
	width: 660px;
}

#album_show_thumb_panel .prev {
	clear: left;
	float: left;
	margin-top: 46px;
	padding-right: 3px;
}

#album_show_thumb_panel .thumb_pic_list {
	float: left;
	height: 156px;
	margin-left: 5px;
	overflow: hidden;
	width: 660px;
}

#album_show_thumb_panel .goodlist {
	float: left;
	height: 126px;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
	width: 660px;
}

#album_show_thumb_panel .goodlist li img {
	padding: 1px;
	border: 2px solid #CCC;
	background: #FFF;
}

#album_show_thumb_panel .goodlist .curr_pic img {
	border: 2px solid #FAB972;
}



#album_show_thumb_panel .goodlist li a { 
	
}

#album_show_thumb_panel .goodlist p {
	color: #333333;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	text-align: center;
	width: 102px;
}






.targetpic_main {
	width: 328px;
	width: 568px;
	overflow: hidden;
}

#album_show_thumb_panel .prev a,#album_show_thumb_panel .next a {
	width: 16px;
	height: 36px;
	overflow: hidden;
	margin-top: 20px;
	text-indent: -116px;
	display: block;
	background: url(../../../static/image/bg_navbtn.gif) no-repeat;
}

#album_show_thumb_panel .prev a {
	background-position: -95px -48px;
	opacity: 0.25;
	filter: opacity(alpha :   0.25);
	cursor: default;
}

#album_show_thumb_panel .next {
	float: left;
	padding-left: 3px;
	margin-top: 46px;
	width: 16px;
	overflow: hidden;
}

#album_show_thumb_panel .next a {
	background-position: -125px -48px;
}

#album_show_thumb_panel .goodlist li {
	float: left;
	display: inline;
	width: 132px;
	height: 126px;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
}

/* photo ablum */

.targetpic_prev,.targetpic_next,.targetpic_main {
	float: left;
	display: inline;
}

.targetpic_prev,.targetpic_next {
	width: 45px;
}

.targetpic_prev a,.targetpic_next a {
	display: block;
	margin-top: 98px;
	padding-left: 23px;
	width: 0;
	height: 56px;
	overflow: hidden;
	background-image: url(../../../static/image/bg_targetpic_curr.gif);
}

.targetpic_prev {
	margin-left: 41px;
	_display: inline;
}

.targetpic_prev a {
	float: left;
	background-position: -44px -37px
}

.targetpic_next a {
	float: right;
	background-position: -70px -37px
}

.targetpic_main a {
	display: block;
	 text-align: center;
}

.targetpic_main p {
	margin: 10px 0;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #925A21;
}

.targetpic_main div a {
	display: inline;
	width: auto;
	height: auto;
	font-size: 12px;
	padding: 0;
	border: none;
}

.targetpic_main div img {
	padding: 0;
	border: none;
}

.targetpic_main #tarpic{ 
	padding: 3px; 
	border: 1px solid #AEAEAE; 
	max-width: 560px; 
	max-height: 560px; 
	_width: expression(this.width > 560 && this.width>=this.height ? 560 : true); 
	_height: expression(this.height > 560 && this.width<=this.height ? 560 : true);
}

.thumb {
    cursor: pointer;
    display: table-cell;
    height: 120px;
    outline: medium none;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 160px;
}