@charset "utf-8";

/**
 *      [品牌空间] (C)2001-2010 Comsenz Inc.
 *      This is NOT a freeware, use is subject to license terms
 *
 *      $Id: groupbuy.css 4333 2010-09-06 02:51:12Z yanghuan $
 */
.l_p {
	float: left;
	width: 730px;
	background: url("../../../static/image/sellerbox_bg.png") repeat-x 0 0;
}

.intro_base,.intro_info,.intro_other {
	background: url("../../../static/image/br_bg.png") repeat-x scroll 0 -103px transparent;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

.mt10 {
	margin-top: 10px;
	clear: both;
}

.intro_base .title {
	background: none;
}

.title {
	background: url("../../../static/image/icon_s.gif") no-repeat 10px -17px;
	font-size: 14px;
	height: 25px;
	line-height: 27px;
	margin-bottom: 10px;
	text-indent: 25px;
	width: 100%;
}


.base_info {
	word-break: break-all;
	word-wrap: break-word;
	float: left;
	width: 500px;
}

.other_info {
	width: 100%;
}

.base_info  th,.other_info th {
	vertical-align: top;
	font-size: 14px;
	line-height:20px;
	color: #aaa;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

.base_info tr,.other_info tr {
	font-size: 14px;
	height: 30px;
}

.base_info td,.other_info td {
	vertical-align: top;
	line-height:20px;
	color: #925A21;
}

.intro_info {
	color: #925A21;
	line-height: 20px;
	font-size: 14px;
}

/*.intro_info h2,.intro_other h2 {
	background: url("../../../static/image/icon_s.gif") no-repeat scroll 10px -17x
		transparent;
	background-position: 10px -17x;
}*/

.shop_logo {
	width:160px;
	float:left;
	margin-left:20px;
}