
<link rel='stylesheet' type='text/css' href="templates/store/default/reserve.css" />
	<div class="main layout">
		<div id="groupbuy" class="content" style="border: 0px solid #DEBC97">
			<h3 class="title">{$lang['good_reserve']}</h3>
			<div class="info">
				<div class="shopinfo" style="">
					<ul>
						<li><label><b>$lang['reserveinfo']{$lang['colon']}</b></label><span>{$good['reserveinfo']}</span></li>
					</ul>
					<div class="c"></div>
				</div>
			</div>
			<div id="groupbyjoin" style="">
			<h3 class="title">{$lang['good_reserve']}</h3>
				<form id="reserveform" method="post" action="store&sid={$shop['itemid']}&action=good&do=reserve&xid={$good['itemid']}">
					<ul class="form_groupby_attent" style="text-align:center; margin-top:10px; display:block;">
							<li><label><b>{$lang[choose_reserve]}{$lang['colon']}</b></label><!--{if $_G['setting']['ec']['tenpay']}--><span style="padding-top:0px; " ><input type="radio" name="pay" value="tenpay" checked>{$lang['reserve_tenpay']}</span><!--{/if}--><!--{if $_G['setting']['ec']['alipay']}--><span style="padding-top:0px; "><input type="radio" name="pay" value="alipay">{$lang['reserve_alipay']}</span><!--{/if}--></li><br>
							<li><label><b>{$lang[reserveprice]}{$lang['colon']}</b></label><span style="padding-top:0px; color:#FF6600;"><b>{$good['reserveprice']}</b></span></li><br>
						<!--{loop $reserveinfo $info}-->
							<li><label><b>{$info['fieldtitle']}{$lang['colon']}</b></label><span><input name="join[{$info['fieldname']}]"  /></span></li><br>
						<!--{/loop}-->
					</ul>
					<div style="margin:10px auto; text-align:center;">
						<input type="hidden" value="{eval echo formhash();}" name="formhash">
						<input type="hidden" value="{$good['itemid']}" name="goodid">
						<input type="hidden" value="{$good['subject']}" name="goodname">
						<input type="hidden" value="{$shop['itemid']}" name="shopid">
						<input type="hidden" value="{$shop['subject']}" name="shopname">
						<input type="hidden" value="{$good['reserveprice']}" name="reserveprice">
						<input type="submit" class="submitgroupbuyjoin"  name="submitreservejoin" value="{$lang['groupbuy_join_btn_text']}" />
					</div>
				</form>
			</div>			
		</div>
	{template yikatong:store/default/store_sidebar}
		<div class="main">
			<div class="sidebar">
				<div class="box" id="maptop" style="width:600px;height:430px;position:absolute;display:none;top:400px;left:400px;background-color:#FFFFFF;">
					<h3 href="#" style="position:">{$lang['shopaddr']}{$lang['colon']}</h3>
					<a href="#" onclick="closemap();return false;" style="position:absolute;right:5px;top:5px;">$lang['close']</a>
				</div>
			</div>
		</div>
	</div>