{template yikatong:store/default/store_header}
<!--{if empty($_GET['xid'])}-->
<div id="goodslist" class="main layout store_list">
	<div class="content">
		<h3>{$lang['goodlist']}</h3>
		<div class="title">
			<div class="name1">$lang['goodimg']</div>
			<div class="foodlabels">$lang['goodintro']</div>
		</div>
		<div id="searchList">
			<!--{loop $goodlist $good}-->
			<div class="everylist">
				<div class="name">
					<dl>
						<dt>
						<div class="thumb" >
							<a target="_blank" href="plugin.php?id=yikatong:brand&bication=store&sid={$shop['itemid']}&action=good&xid={$good['itemid']}">
								<img style="border:0px;"  src="{$good['thumb']}" alt="{$good['subject']}" />
							</a>
						</div>
						</dt>
						<dd>
						<h5><a target="_blank" href="plugin.php?id=yikatong:brand&bication=store&sid={$shop['itemid']}&action=good&xid={$good['itemid']}">$good['subject']</a></h5>
						<ul>
							<!--{if $good['minprice'] > 0 || $good['maxprice'] > 0}--><li><span>{$lang['price']}{$lang['colon']}</span><em><!--{if $good['minprice'] > 0}-->{$good['minprice']}<!--{/if}-->
								<!--{if $good['minprice'] > 0 && $good['maxprice'] > 0}--> - <!--{/if}-->
								<!--{if $good['maxprice'] > 0}-->{$good['maxprice']}<!--{/if}--></em> $lang['yuan']</li><!--{/if}-->
							<li><span>{$lang['dateline']}{$lang['colon']}</span>{$good['time']}</li>
						</ul>
						<div class="goods_intro">{$good['intro']}</div>
						</dd>
					</dl>
				</div>

			</div>
			<!--{/loop}-->
		</div>
		$goodlist_multipage
	</div>
	{template yikatong:store/default/store_sidebar}
</div>
<!--{else}-->
<div id="goods" class="main layout">
	<div id="goodsDiv" class="content">
		<!--{if $_G['uid'] && !$_G['myshopid'] && !ckfounder($_G['uid'])}-->
		<span style="color: font-size: 12px; margin-left: 700px; margin-top: 5px; cursor: pointer; position: absolute;" onclick="showWindow('report', 'good', '{$good['itemid']}', '{$lang[report]}');">$lang['report']</span>
		<!--{/if}-->
		<h3 id="goodsName">{$good['subject']}</h3>
		<div class="goods_pic_area">
			<span>
				<img id="goodsPicture" onload="resize_image(this, 300, 220);" src="{$good['thumb']}" srcimg="{$good['subjectimage']}" alt="{$good['subject']}" title="{$good['subject']}" />
			</span>
			<div class="c"></div>
		</div>
		<ul class="goodsinfo1">
			<li><span>{$lang['priceo']}{$lang['colon']}</span><strong id="goodsPrice" {if $good['minprice'] && $good['minprice'] != 0  } class="price2"{/if}><!--{if $good['minprice'] == 0 && $good['maxprice'] == 0}-->$lang['selfprice']<!--{else}-->{$good['priceo']}&nbsp;$lang['yuan']<!--{/if}--></strong></li>
			<!--{if $good['minprice'] > 0 || $good['maxprice'] > 0}--><li><span>{$lang['price']}{$lang['colon']}</span><strong id="goodsMemberPrice" class="price1"><!--{if $good['minprice'] > 0}-->{$good['minprice']}<!--{/if}--><!--{if $good['minprice'] > 0 && $good['maxprice'] > 0}--> - <!--{/if}--><!--{if $good['maxprice'] > 0}-->{$good['maxprice']}<!--{/if}--> $lang['yuan']</strong></li><!--{/if}-->
			<!--{if $shop['groupinfo']['enableec'] && $good['reserveprice']}-->
				<li><span>{$lang['reserveprice']}{$lang['colon']}</span><strong id="goodsMemberPrice" class="price1">{$good['reserveprice']}</strong>&nbsp;&nbsp;&nbsp;<a  target="_blank"  href="plugin.php?id=yikatong:brand&bication=store&sid={$shop['itemid']}&action=good&xid={$good['itemid']}&do=reserve"><b style="color:#925A21;">({$lang['reserve']})</b></a></li>
				
			<!--{/if}-->
			<li><span>{$lang['shoptel']}{$lang['colon']}</span>{$shop['tel']}<em></em></li>
			<li><span>{$lang['shopaddr']}{$lang['colon']}</span>{$shop['address']}
			<!--{if $_G['setting']['enablemap'] == 1}-->
			<a href="#goodsName" onclick="openmap();return false;"><img style="vertical-align: top; text-decoration: none;margin:0px 0 0 5px;" src="source/plugin/yikatong/static/image/mapmarker.gif" /></a>
			<!--{/if}-->
			</li>
			<li><span>{$lang['viewnum']}{$lang['colon']}</span><font id="goodsViews">{$good['viewnum']}</font>$lang['viewnumunit']</li>
			<li><a href="javascript:void(0);" title="$lang['originalmap']"><img style="width: 135px; height: auto;" id="showBigPic" src="source/plugin/yikatong/static/image/enlarge.gif" alt="$lang['originalmap']" onload="thumbImg(this)" onclick="zoom(this, $('#goodsDiv').find('#goodsPicture').attr('srcimg'), $('#goodsDiv').find('h3').html())"></a></li>
			
		</ul>
		<!--{if $_G['setting']['enablemap'] == 1}-->
		<script src="http://ditu.google.cn/maps/api/js?sensor=false&language=zh-CN" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			//<![CDATA[
			function openmap() {

				var latlng;
				var mapapimark = "$shop[mapapimark]";
				var address = "$_SC[local]";
				var contentString = "<div style=\"text-align:left;\"><b>{$shop['subject']}</b><br />{$lang['telephone']}{$shop['tel']}<br />{$lang['address']}{$shop['address']}</div>";

				document.getElementById('maptop').style.display = "block";

				if(mapapimark) {
					var mapapimarkaction = true;
					latlng = new google.maps.LatLng{$shop['mapapimark']};
				} else {
					if(!address) {
						var defaultmapaction = true;
						latlng = new google.maps.LatLng{$defaultshopmap};
					} else {
						var geoaction = true;
					}
				}
				var myOptions = {
					zoom: 14,
					center: latlng,
					navigationControl: true,
					mapTypeControl: false,
					scaleControl: true,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				var map = new google.maps.Map(document.getElementById("map"), myOptions);
				if(mapapimarkaction) {
					var marker = new google.maps.Marker({
						position: latlng,
						map: map,
						title: "{$shop['subject']}"
					});
					var infowindow = new google.maps.InfoWindow({
						content: contentString
					});
					google.maps.event.addListener(marker, 'click', function() {
						infowindow.open(map,marker);
					});
					infowindow.open(map,marker);
				} else if(geoaction) {
					var geocoder = new google.maps.Geocoder();
					if(geocoder) {
						geocoder.geocode({'address': address}, function(results, status) {
							if (status == google.maps.GeocoderStatus.OK) {
								map.setCenter(results[0].geometry.location);
							} else {
								alert("{$lang['shopmap_mark_error']}");
							}
						});
					}
				}
			}
			function closemap() {
				document.getElementById('maptop').style.display = "none";
			}
		</script>
		<!--{/if}-->
<div style="clear:both; width:200px;height:5px; background:#fff;"></div>
<div class="intro2">
	<h4>$lang['details']</h4>
	<div id="goodsDescription">
		<!--{if !empty($goodattr)}-->
		<div style="padding:10px;color:#000; border:none; border-bottom:#ccc 1px dashed;font-weight:normal;">
			<ul>
				<!--{loop $goodattr $name $value}-->
					<li style="width: 210px; height:20px; float:left; overflow:hidden;">{$name}{$lang['colon']}$value</li>
				<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->
		<div style="margin-top:10px; padding:5px;color:#000; border:none; border-bottom:#ccc 1px dashed;font-weight:normal;">{$good['message']}</div>
		<!--{if !empty($relatedarr)}-->
		<ul style="margin-top:10px;">
			<label>$lang['relatedinfo']</label>
			<!--{loop $relatedarr $related}-->
			<!--{eval $typename = $lang['header_'.$related['type']];}-->
			<li><p>[{$typename}]<a href="plugin.php?id=yikatong:brand&bication=store&sid={$shop['itemid']}&action={$related['type']}&xid={$related['itemid']}" target="_blank" title="{$related['subject']}">{$related['simplesubject']}</a></p></li>
			<!--{/loop}-->
		</ul>
		<!--{/if}-->
	</div>
</div>
<div style="clear:both;"></div>
<div class="news_msg">
	<!--{eval include btemplate('templates/store/default/comment_com.html.php', 1);}-->
</div>
	</div>
{template yikatong:store/default/store_sidebar}
</div>
<div class="main">
	<div class="sidebar">
		<div class="box" id="maptop" style="width:610px;height:430px;position:absolute;display:none;top:400px;left:400px;background-color:#FFFFFF;">
			<h3 style="position:">{$lang['shopaddr']}{$lang['colon']}</h3>
			<a href="#" onclick="closemap();return false;" style="position:absolute;right:5px;top:5px;">$lang['close']</a>
			<div id="map" style="width:600px;height:400px; margin:5px;">

			</div>
		</div>
</div></div>
<div id="append_parent"></div>
<!--{/if}-->
<script>
	<!--
	$(function(){
		$("#consumerlist dl").hover(function(){$(this).addClass("thison")},function(){$(this).removeClass("thison")})
	});
	$(document).ready(function() {
		$("#searchList .everylist").hover(function() {
			$(this).css({'background' : 'url(static/image/bg_goodssearch_hover.png) repeat-x scroll 0 bottom'});

			} , function() {
			$(this).css({'background' : 'url(static/image/bg_goodssearch.png) repeat-x scroll 0 bottom'});

		});
	});
	//-->
</script>