

<form id="correctinfoform" action="report.php" name="correctinfoform" method="post">
	<table align="center" cellspacing="0" cellpadding="0" border="0" width="400" class="correctinfo" style="margin:10px;">
		<tr>
			<th style="border:none; width:60px; text-align:right; font-size:12px;">$lang['correctinfo_content']</th>
			<td style="border:none; text-align:left; padding-left:10px; ">
				<textarea name="reason" style="height: 160px; width:300px;" id="reason" class="listarea"></textarea>
			</td>
		</tr>
		<tr>
			<th style="border:none;"></th>
			<td style="border:none; text-align:right; ">
				<input type="hidden" value="$id" size="65" name="id" class="ucinput"/>
				<input type="hidden" value="$type" size="65" name="type" class="ucinput"/>
				<input type="hidden" value="$action" size="65" name="action" class="ucinput"/>
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
				<input type="hidden"" id="btn_submit" name="correctinfosubmit" value="$lang['submit']" />
			</td>
		</tr>
	</table>
	<div class="h10"></div>
	<p class="o pns"><span class="z xg1"></span><button type="submit" onclick="bindform('correctinfoform', 'fwin_content_{$_G[gp_ajaxid]}');" id="fwin_dialog_submit" value="true" class="pn pnc"><strong>$lang['submit']</strong></button></p>
</form>