{template yikatong:store/default/store_header}
<div id="seller" class="main layout store">
	<div class="content">
		<div class="shop_notice">
			<span>橱窗商情</span>
			<ul id="shop_notice">
				<li>{$shopinfo[tips]}</li>
			</ul>
		</div>
	<div>
	
	<div id="play_text"></div>
	<div class="showpic" id="play_list">
		<a href="index.php" target="_blank"><img src="{$windowsimg1}" width="710" height="220" id="wimg_1"></a>
		<a href="index.php" target="_blank"><img src="{$windowsimg2}" width="710" height="220" id="wimg_2"></a>
		<a href="index.php" target="_blank"><img src="{$windowsimg3}" width="710" height="220" id="wimg_3"></a>
		<h4>品牌文化</h4>
	<div>
	<p>{$shopinfo[windowstext]}</p>
	
</div>
</div>
</div>
<div class="sellerbox">
<h3 class="title">商家介绍</h3>
<ul id="hotgoods" class="menu">
<li id="allGoodsList" class="mouseover"><a  href="store.php?id=4&action=intro"><span>全部</span></a></li>
<span style="float:right;"><a style="background:none;color:#000;font-weight:normal;font-size:12px;" href="store.php?id=4&action=intro">更多 &gt;&gt;</a></span>
</ul>
<div class="intro_info mt10"  style="padding:5px;color:#000; border:none;font-weight:normal;">

<div id="intro_content">
{$shopinfo[message]}
</div>
</div>
</div>
<!--
<div class="sellerbox">
	<h3>最新活动</h3>
	<div style="display: none;" id="publishnew"></div>
	<ul class="menu" id="newmovementmenu"><li class="mouseover" id="coinauction"><a href="javascript:void(0);" title=""><span>消费券</span></a></li><li class="" id="coinauction"><a href="javascript:void(0);" title=""><span>团购</span></a></li></ul>
	<div id="menulist">
		<div class="movement">
			
		</div>
		<div class="movement">
			
		</div>
	</div>
</div>
<div class="sellerbox newproduct">
	<h3>热门新品</h3>
	<ul id="hotgoods" class="menu">
	<li id="allGoodsList" class="mouseover"><a title="全部商品列表" href="store.php?id=4&action=good"><span>全部</span></a></li>
	<span style="float:right;"><a style="background:none;color:#000;font-weight:normal;font-size:12px;" href="store.php?id=4&action=good">更多&gt;&gt;</a></span>
	</ul>
</div>
-->
<div class="sellerbox bbs">

<div class="message"><form id="delMegForm_comm" action="viewcomment.php?do=del" method="post">
<script charset="utf-8" language="javascript" type="text/javascript" src="batch.formhash.php?rand=764160"/></script>
<input type="hidden" value="4" name="typeid" />
<input type="hidden" value="submit" name="submitdelcomm" />
<input type="hidden" id="delitemid_comm" name="delitemid_comm" value="" />
<input type="hidden" id="delupcid" name="upcid" value="" size="5" />
<input type="hidden" id="deltype" name="type" value="shop" size="5" />
<input type="hidden" value="1" name="ismodle" id="ismodle">
<input type="hidden" value="store.php?id=4&op=view" name="stuffurl">
</form><h3>咨询&nbsp;&nbsp;<a href="home.php?mod=spacecp&ac=pm&op=showmsg&handlekey=showmsg_2&touid={$shopinfo[uid]}&pmid=0&daterange=2" target="_blank">给店长短消息</a></h3>
<!--{loop $comments $comment}-->
<div id="comment1">
<dl id="commentdl1" >
<dt>  <span class="option"><a
onclick="addupcid(1,2);" href="javascript:;">回复</a></span>
<span class="author">  {$comment[author]}  </span> <span
class="time">[{$comment[dateline]}]</span>
</dt>
<dt></dt>
<dd><span class="bord"></span>
<div class="new"><span name="cid_1_info">{$comment[message]}</span>&nbsp;&nbsp;<font color="#999999">{$comment[author]}&nbsp; [{$comment[dateline]}]</font></div></dd></dl>
</div>
<!--{/loop}-->

<div class="c h10"></div>

<div id="postlistreply">
</div>
<!--comment form-->
<script type="text/javascript" charset="gbk">
var hdrewardid = "commentscorestr";
function setreward(rewardid,value) {
var hdreward = document.getElementById(hdrewardid);
if(hdreward.value.indexOf("@" + rewardid +"@") > -1 ) {
var reg = new RegExp("@" + rewardid +"@\\d");
hdreward.value = hdreward.value.replace(reg,"@" + rewardid +"@" + value);
} else {
hdreward.value += "@" + rewardid +"@" + value;
}
return false;
}
// onmouseover change the style
function star_hover(rewardid,cur){
for(var i = 1;i<6;i++) {
var oldclick = document.getElementById("reward"+i+"_"+rewardid);
if(i < (cur+1)) {
oldclick.src = "{$plugin_config['imagespath']}/star_yellow.gif";
}else{
oldclick.src = "{$plugin_config['imagespath']}/star_grey.gif";
}
}
}
// onmouseout restore the style
function star_restore(rewardid){
var hdreward = document.getElementById(hdrewardid).value;
var reg = new RegExp("@" + rewardid +"@(\\d)");
oldscore = reg.exec(hdreward);
if(oldscore == null || oldscore[1]==null){
star_hover(rewardid,0);
}else{
star_hover(rewardid,parseInt(oldscore[1]));
}

}
</script>
<form id="msgForm_comm" action="plugin.php?id=yikatong:brand&mod=viewcomment" method="post">
<script charset="utf-8" language="javascript" type="text/javascript" src="batch.formhash.php?rand={eval echo rand(1, 999999)}"/></script>
<div class="writemessage">
<h5 id="reply_2" style="display:none;">回复： <span id="replyname_2"></span></h5>
<h5>咨询： <span id="span_commentmessage">(咨询内容不能为空！)</span></h5>
<label>
<textarea cols="10" rows="5" id="commentmessage_2" name="commentmessage_2" ></textarea>
</label><div id="ajax_status_display"></div>
<div class="action">
<span id="span_score"></span>
<input id="submitMsgForm" name="searchbtn" value="提交" type="submit" ><input id="isprivate" name="isprivate" class="checkbox" value="1" type="checkbox" style="border:none; background:none;" />仅店长可见
	<input type="hidden" value="submit" name="submitcomm" />
	<input type="hidden" id="itemid" name="itemid" value="{$shopinfo[itemid]}" />
	<input type="hidden" id="upcid" name="upcid" value="" size="5" />
	<input type="hidden" id="type" name="type" value="{$type}" size="5" />
	<input type="hidden" value="1" name="ismodle" id="ismodle">
	<input type="hidden" value="{$stuffurl}" name="stuffurl">
	<input type="hidden" value="{$page}" name="page">
</div>
</div>
</form></div>
<script type="text/javascript" charset="gbk">
//	bindform('msgForm');
</script></div></div>

<div class="sidebar">
	<div class="jiontime">加盟年月： {$jiamengdate}</div>
	<!--{if $shopinfo[swfs] != ''}-->
	<div class="box">
		<div style="position:relative;height:190px;width:262px;">
		<embed type="application/x-shockwave-flash" src="{$swfs}" height="190" width="262" wmode="opaque">
		</embed>
		</div>		
	</div>
	<!--{/if}-->
	<div class="box" id="shop_base_info">
		<h3>商家基本信息</h3>
		<div class="shop_base_info">
			<h4 class="name">{$shopinfo[subject]}</h4>
			<h5 class="name">(店主 :<a href="/home.php?mod=space&uid=9&do=profile"> {$shopinfo[username]}</a>)</h5>

			<ul style="border:none;"></ul>

			<table><tr>
			<th>认证： </th>
			<td><img title="钻石商家" src="{$plugin_config['imagespath']}/common/group_diamond.gif" /></td>
			</tr>
			<tr>
			<th>地址： </th>
			<td><div>{$shopinfo[address]}</div></td>
			</tr>
			<tr>
			<th>电话： </th>
			<td><div>{$shopinfo[tel]}</div></td>
			</tr>
			<tr>
			<th>QQ： </th>
			<td><div>{$shopinfo[applicantqq]}</div></td>
			</tr>
			<tr>
			<th>分类： </th>
			<td><div>{$fenlei}</div></td>
			</tr>

			</table>
		</div>
	</div>
	<div class="box">
		<h3><span>总{$viewnum}</span>最近访客</h3>
		
		<!--{loop $viewrecords $viewrecord}-->
		<div class="avt z" style="width:48px;height:70px;text-align: center;padding: 4px;"><a href="home.php?mod=space&uid=$viewrecord[uid]"><!--{avatar($viewrecord[uid],small)}--></a>$viewrecord[username]</div>
		<!--{/loop}-->
		
	</div>
</div>
</div>
</div>
</div>
</div>
{template common/footer}


