{template wxq123:member/member_nav}
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt">{lang wxq123:member}</h1>
			<ul class="tb cl">
				<!--{loop $subctions $subac}-->
				<li  <!--{if $subac==$subction}-->class="a"<!--{/if}-->><a href="plugin.php?id=wxq123:member&amp;subop={$subop}&amp;subction={$subac}">{$lang_subction[$subop.'_'.$subac]}</a></li>
				<!--{/loop}-->
			</ul>
			<p class="tbmu mbm">{lang wxq123:add_webpage}</p>
			<form action="plugin.php?id=wxq123:member&amp;subop={$subop}&amp;subction={$subction}" method="post" autocomplete="off">
			<input type="hidden" value="{FORMHASH}" name="formhash" />
			<input type="hidden" value="web" name="pageclass" />
			<table summary="" cellspacing="0" cellpadding="0" class="tfm">
			<tr>
				<th>{lang wxq123:mokuai}</th>
				<td><input type="text" class="px" name="regmessagenew" value="" /></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>{lang wxq123:weizhi}</th>
				<td><input type="text" class="px" name="regmessagenew" value="" /></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td colspan="2">
					<button type="submit" name="submit" value="true" class="pn pnc" /><strong>{lang submit}</strong></button>
				</td>
			</tr>
			</table>
		</div>
	</div>
{template wxq123:member/member_menu}